<div class="page-wrap">
	{{> molecules-ad-banner-block }}
	{{> organisms-header }}
	{{> organisms-primary-mega-menu }}
	{{> molecules-section-header(section-header__title: "Video", section-header__parent: "", section-header__has-logo:false, section-header__parent--none: true) }}
	<section>
		<div class="wrap">
			<div class="tgtabs">
				<div class="tgtabs__wrap">
					<div class="tgtabs__row">
						<div class="tgtab is-active">
							<a href="#">All</a>
						</div>
						<div class="tgtab">
							<a href="#">Channel 5</a>
						</div>
						<div class="tgtab">
							<a href="#">Channel 8</a>
						</div>
						<div class="tgtab">
							<a href="#">Channel U</a>
						</div>
						<div class="tgtab">
							<a href="#">Suria</a>
						</div>
						<div class="tgtab">
							<a href="#">Vasantham</a>
						</div>
						<div class="tgtab">
							<a href="#">Okto</a>
						</div>
						<div class="tgtab">
							<a href="#">Channel News Asia</a>
						</div>
						<div class="tgtab">
							<a href="#">Originals</a>
						</div>
						<div class="tgtab">
							<a href="#">Series</a>
						</div>
						<div class="tgtab">
							<a href="#">Movies</a>
						</div>
					</div>  
				</div>
				<div class="tgab__targets">
					<div class="tgtab__target">
						<h1>A-Z: All</h1>
						{{> molecules-a-to-z }}
						<div class="l-2up--8-4 card--background-no-padding">
							<div class="l-gi">
								{{> organisms-a-to-z-list }}
							</div>
							<aside class="l-gi u-hideTablet u-hideMobile">
								<!-- start of Ad-300x100-block component -->
								{{> molecules-ad-300x250-block }}
								<!-- end of Ad-300x100-block component -->
							</aside>
						</div>			
					</div>
					<div class="tgtab__target">
						<h1>A-Z: Channel 5</h1>
						{{> molecules-a-to-z }}
						<div class="l-2up--8-4 card--background-no-padding">
							<div class="l-gi">
								{{> organisms-a-to-z-list }}
							</div>
							<aside class="l-gi u-hideTablet u-hideMobile">
								<!-- start of Ad-300x100-block component -->
								{{> molecules-ad-300x250-block }}
								<!-- end of Ad-300x100-block component -->
							</aside>
						</div>			
					</div>
					<div class="tgtab__target">
						<h1>A-Z: Channel 8</h1>
						{{> molecules-a-to-z }}
						<div class="l-2up--8-4 card--background-no-padding">
							<div class="l-gi">
								{{> organisms-a-to-z-list }}
							</div>
							<aside class="l-gi u-hideTablet u-hideMobile">
								<!-- start of Ad-300x100-block component -->
								{{> molecules-ad-300x250-block }}
								<!-- end of Ad-300x100-block component -->
							</aside>
						</div>			
					</div>
					<div class="tgtab__target">
						<h1>A-Z: Channel U</h1>
						{{> molecules-a-to-z }}
						<div class="l-2up--8-4 card--background-no-padding">
							<div class="l-gi">
								{{> organisms-a-to-z-list }}
							</div>
							<aside class="l-gi u-hideTablet u-hideMobile">
								<!-- start of Ad-300x100-block component -->
								{{> molecules-ad-300x250-block }}
								<!-- end of Ad-300x100-block component -->
							</aside>
						</div>			
					</div>
					<div class="tgtab__target">
						<h1>A-Z: Suria</h1>
						{{> molecules-a-to-z }}
						<div class="l-2up--8-4 card--background-no-padding">
							<div class="l-gi">
								{{> organisms-a-to-z-list }}
							</div>
							<aside class="l-gi u-hideTablet u-hideMobile">
								<!-- start of Ad-300x100-block component -->
								{{> molecules-ad-300x250-block }}
								<!-- end of Ad-300x100-block component -->
							</aside>
						</div>			
					</div>
					<div class="tgtab__target">
						<h1>A-Z: Vasantham</h1>
						{{> molecules-a-to-z }}
						<div class="l-2up--8-4 card--background-no-padding">
							<div class="l-gi">
								{{> organisms-a-to-z-list }}
							</div>
							<aside class="l-gi u-hideTablet u-hideMobile">
								<!-- start of Ad-300x100-block component -->
								{{> molecules-ad-300x250-block }}
								<!-- end of Ad-300x100-block component -->
							</aside>
						</div>			
					</div>
					<div class="tgtab__target">
						<h1>A-Z: Okto</h1>
						{{> molecules-a-to-z }}
						<div class="l-2up--8-4 card--background-no-padding">
							<div class="l-gi">
								{{> organisms-a-to-z-list }}
							</div>
							<aside class="l-gi u-hideTablet u-hideMobile">
								<!-- start of Ad-300x100-block component -->
								{{> molecules-ad-300x250-block }}
								<!-- end of Ad-300x100-block component -->
							</aside>
						</div>			
					</div>
					<div class="tgtab__target">
						<h1>A-Z: Channel News Asia</h1>
						{{> molecules-a-to-z }}
						<div class="l-2up--8-4 card--background-no-padding">
							<div class="l-gi">
								{{> organisms-a-to-z-list }}
							</div>
							<aside class="l-gi u-hideTablet u-hideMobile">
								<!-- start of Ad-300x100-block component -->
								{{> molecules-ad-300x250-block }}
								<!-- end of Ad-300x100-block component -->
							</aside>
						</div>			
					</div>
					<div class="tgtab__target">
						<h1>A-Z: Originals</h1>
						{{> molecules-a-to-z }}
						<div class="l-2up--8-4 card--background-no-padding">
							<div class="l-gi">
								{{> organisms-a-to-z-list }}
							</div>
							<aside class="l-gi u-hideTablet u-hideMobile">
								<!-- start of Ad-300x100-block component -->
								{{> molecules-ad-300x250-block }}
								<!-- end of Ad-300x100-block component -->
							</aside>
						</div>			
					</div>
					<div class="tgtab__target">
						<h1>A-Z: Series</h1>
						{{> molecules-a-to-z }}
						<div class="l-2up--8-4 card--background-no-padding">
							<div class="l-gi">
								{{> organisms-a-to-z-list }}
							</div>
							<aside class="l-gi u-hideTablet u-hideMobile">
								<!-- start of Ad-300x100-block component -->
								{{> molecules-ad-300x250-block }}
								<!-- end of Ad-300x100-block component -->
							</aside>
						</div>			
					</div>
					<div class="tgtab__target">
						<h1>A-Z: Movies</h1>
						{{> molecules-a-to-z }}
						<div class="l-2up--8-4 card--background-no-padding">
							<div class="l-gi">
								{{> organisms-a-to-z-list }}
							</div>
							<aside class="l-gi u-hideTablet u-hideMobile">
								<!-- start of Ad-300x100-block component -->
								{{> molecules-ad-300x250-block }}
								<!-- end of Ad-300x100-block component -->
							</aside>
						</div>			
					</div>
				</div>
			</div>
		</div>
	</section>
	{{> organisms-footer }}
</div>