<div class="page-wrap">
  {{> molecules-ad-banner-block }}
  {{> organisms-header }}
  {{> organisms-primary-mega-menu }}
  {{> molecules-section-header(section-header__title: "Channel Guide", section-header__parent: "", section-header__has-logo:false, section-header__parent--none: true) }}
  {{> molecules-quicklinks-nav }}

  <section>
    {{> molecules-epg-channel }}
  </section>
  {{> organisms-footer }}
</div>
