<div class="page-wrap">
  {{> molecules-ad-banner-block }}
  {{> organisms-header }}
  {{> organisms-primary-mega-menu }}
  {{> molecules-secondary-nav }}
  <section>
    <div class="wrap">
      {{> molecules-epg }}
    </div>
  </section>
</div>
