<div class="page-wrap">
	{{> molecules-ad-banner-block }}
	{{> organisms-header }}
	{{> organisms-primary-mega-menu }}
	{{> molecules-section-header(section-header__title: "TV Shows", section-header__parent: "Video", section-header__has-logo:false) }}
	{{> molecules-secondary-nav }}
	<section>
		<div class="wrap">
			<div class="vertical-listing">
				<header class="vertical-listing__header">
					<h4 class="vertical-listing__title">Listing Page Title</h4>
					{{> organisms-utility-bar}}
				</header>
				{{> organisms-6up-grid-listing-portrait }}
				<footer class="vertical-listing__footer">
					{{> molecules-pagination(article:true)}}
				</footer>
			</div>
		</div>
	</section>
  {{> organisms-footer }}
</div>