{
    "personalization":
    {
        "groups":
        {
            "bandTitleId": "",
            "headerTitleId": "",
            "sections": [
            {
                "selectionLimit": "1",
                "labelId": "Languages",
                "rule": "",
                "value": "languages",
                "items": [
                {
                    "labelId": "English",
                    "shortKey": "en",
                    "imageUrl": "http://beta.toggle.sg/blob/7290258/b70f92a2b7bc5fff5057a491a8771641/nytimes-data.png",
                    "value": "english"
                },
                {
                    "labelId": "Chinese",
                    "shortKey": "zh",
                    "imageUrl": null,
                    "value": "chinese"
                },
                {
                    "labelId": "Malay",
                    "shortKey": "ms",
                    "imageUrl": null,
                    "value": "malay"
                },
                {
                    "labelId": "Tamil",
                    "shortKey": "ta",
                    "imageUrl": null,
                    "value": "tamil"
                }],
                "key": "declanguage"
            },
            {
                "selectionLimit": "3",
                "labelId": "Genres",
                "rule": "",
                "value": "genres",
                "items": [
                {
                    "labelId": "Action and Adventure",
                    "shortKey": "a",
                    "imageUrl": null,
                    "value": "action_and_adventure"
                },
                {
                    "labelId": "Comedy",
                    "shortKey": "b",
                    "imageUrl": null,
                    "value": "comedy"
                },
                {
                    "labelId": "Drama",
                    "shortKey": "c",
                    "imageUrl": null,
                    "value": "drama"
                },
                {
                    "labelId": "Documentary",
                    "shortKey": "d",
                    "imageUrl": null,
                    "value": "documentary"
                },
                {
                    "labelId": "Food",
                    "shortKey": "e",
                    "imageUrl": null,
                    "value": "food"
                },
                {
                    "labelId": "tg.label.genres.horror",
                    "shortKey": "f",
                    "imageUrl": null,
                    "value": "horror"
                },
                {
                    "labelId": "Info-ed Variety",
                    "shortKey": "g",
                    "imageUrl": null,
                    "value": "info-ed variety"
                },
                {
                    "labelId": "Children And Family",
                    "shortKey": "h",
                    "imageUrl": null,
                    "value": "children_and_family"
                },
                {
                    "labelId": "Current Affairs",
                    "shortKey": "i",
                    "imageUrl": null,
                    "value": "current_affairs"
                },
                {
                    "labelId": "Romance",
                    "shortKey": "j",
                    "imageUrl": null,
                    "value": "romance"
                },
                {
                    "labelId": "Sports",
                    "shortKey": "k",
                    "imageUrl": null,
                    "value": "sports"
                },
                {
                    "labelId": "Travel",
                    "shortKey": "l",
                    "imageUrl": null,
                    "value": "travel"
                }],
                "key": "decgenre"
            }],
            "token": ""
        },
        "skipDayPrompt": "14",
        "personalizationDayReDeclaration": "7"
    }
}