<div class="page-wrap">
  {{> molecules-ad-banner-block }}
  {{> organisms-header }}
  {{> organisms-primary-mega-menu }}
  {{> molecules-section-header(section-header__title: "Price Plan", section-header__parent: "", section-header__has-logo:false, section-header__parent--none: true) }}


  <section>
    <div class="wrap">
      <div class="priceplan__intro">
        <h2>Watch 23,645 shows &amp; movies, <br />anytime, anywhere</h2>
        <p class="h4">Now at $9.90/mth only.  No contact fee.  No hidden charge, cancel anytime</p>
        <a href="#" class="btn">Get Your 30 Days Free Trial Now!</a>
      </div>
      <div class="usp">
        <div class="usp__item usp__1">
          <h3 class="usp__title">
            Enjoy unlimited access to more than 25,000 on-demand titles and 20 channels!
          </h3>
          <div class="usp__body">
            <ul>
              <li>Watch your favourite shows before anyone else with Toggle-it-First</li>
              <li>Exclusive access to Toggle Original programmes, tailor made for local audience</li>
              <li>Full access to the largest library of on-demand movies and series</li>
              <li>Aniplus HD, Celestial Movies, Comedy Central Asia, KBS World, Nick Jr. and much more!</li>
            </ul>
            <a href="#"> View all Channels</a>
          </div>
        </div>
        
        <div class="usp__item usp__2">
          <h3 class="usp__title">
            One price all access!
          </h3>
          <div class="usp__body">
            <ul>
              <li>All content available at one price of $1 per month (Usual price of $21.29 /mth)!</li>
              <li>No complicated packages, No additional hidden charges, No Contract (You can cancel anytime) and No termination fees!</li>
            </ul>
            <a href="#" class="btn">Sample Button</a>
          </div>
        </div>
        
        <div class="usp__item usp__3">
          <h3 class="usp__title">Watch anytime, anywhere!</h3>
          <div class="usp__body">
            <p>Watch Toggle on Smart TVs, Web, Apple and Android devices</p>
            <a href="#">Click here for a detailed list of platforms and compatible devices.</a>
            <div class="usp__cta">
              <span>
                <a href="#" class="ios"></a>
                <a href="#" class="android"></a>
              </span>
              <span>
                <a href="#" class="smarttv"></a>
                <a href="#" class="toggle"></a>
              </span>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>

<section>
  <div class="wrap">

    <div class="tg-content-grid card" data-content-grid-type="4">
      <h5>VIP ACCESS</h5>      
      <div class="l-content-grid">
        <div class="l-gi">{{> molecules-toggle-price-item }}</div>
        <div class="l-gi">{{> molecules-toggle-price-item }}</div>
        <div class="l-gi">{{> molecules-toggle-price-item }}</div>
        <div class="l-gi">{{> molecules-toggle-price-item }}</div>
        <div class="l-gi">{{> molecules-toggle-price-item }}</div>
        <div class="l-gi">{{> molecules-toggle-price-item }}</div>
        <div class="l-gi">{{> molecules-toggle-price-item }}</div>
        <div class="l-gi">{{> molecules-toggle-price-item }}</div>
        <div class="l-gi">{{> molecules-toggle-price-item }}</div>
        <div class="l-gi">{{> molecules-toggle-price-item }}</div>
        <div class="l-gi">{{> molecules-toggle-price-item }}</div>
        <div class="l-gi">{{> molecules-toggle-price-item }}</div>
      </div>
    </div>
  </div>
</section>
{{> organisms-footer }}
</div>
