<div class="sixteen-nine {{class}} cg-title--top"> 
  <a href="#" class="inner-shadow">
    <picture>
      <source srcset="{{img-big}}" media="(min-width: 980px)">
      <source srcset="{{img-med}}" media="(min-width: 760px)">
      <img src="" alt="" srcset="{{img-small}}">
    </picture>
  </a>
  <div class="main-image-headers">
          <h2><a href="http://tv.toggle.sg/en/okto/shows/sea-games2015" class="link">Catch the games NOW ON Toggle1</a></h2>
          <div class="main-image__links">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <ul> 
              <li>
                <h4>
                  <a href="http://video.toggle.sg/en/channels/28th-sea-games-ch-05/330143" class="link"></i>
                  Athletics from 9.25am</a>
                </h4>
              </li>
              <li>
                <h4>
                  <a href="http://video.toggle.sg/en/channels/28th-sea-games-ch-11/330164" class="link"></i>
                  Volleyball matches from 9.50am Volleyball matches from 9.50am</a>
                </h4>
              </li>
            </ul>
          </div>
  </div>
</div>
