<div class="carousel__item sixteen-nine"> 
  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source srcset="{{img-big}}" media="(min-width: 980px)">
    <source srcset="{{img-med}}" media="(min-width: 760px)">
    <img src="" alt="" srcset="{{img-small}}">
    <!--[if IE 9]></video><![endif]-->
  </picture>
  <!--<div class="carousel__show-holder ">
    <div class="carousel__centerer--table">
      <div class="carousel__centerer--cell">
        <h4 class="carousel__item-title">{{ chi-title }}</h4>
        <h4 class="carousel__item-title">{{ eng-title }}</h4>
        <p>{{ excerpt-fcmi }} </p>
        <div class="carousel__links">
          <h4><a class="catchup" href="#"> Latest Catchup <i class="glyphicons glyphicons-play"></i> </a> </h4>
          <h4><a href="#"> Learn More <i class="glyphicons glyphicons-chevron-right"></i> </a> </h4>
          <h4><a href="#"> Watch It First <i class="glyphicons glyphicons-chevron-right"></i></a></h4>
        </div>
      </div>
    </div>
  </div>-->
</div>
