<a href="{{url}}" class="{{social-media}} {{btnClass}} {{selected}}">
  {{^icon-only}}
  <i class="i-{{social-media}}"></i>
  <span>{{btnText}}</span>
  {{/icon-only}}
  
  {{#icon-only}}
  <i class="i-{{social-media}} has-icon-only"></i>
  {{/icon-only}}
</a> 
