<div class="article__social-media-buttons">
  {{> atoms-social-media-button(social-media:favourite, btnClass: "btn--round", icon-only: true)}}
  {{> atoms-social-media-button(social-media:facebook,btnClass: "btn--round", icon-only: true)}}
  {{> atoms-social-media-button(social-media:twitter, btnClass: "btn--round", icon-only: true)}}
  {{> atoms-social-media-button(social-media:share, btnClass: "btn--round", icon-only: true)}}
</div>