<a href="#" class="filter-btn">Filter</a>

<div class="filter-menu"> 
	<div class="wrap">
		<div class="filtermenu__inner">
			<!-- Type -->
			<div class="collapsible" data-collapse-till="medium">
				<h2 class="collapsible__title">Type
					<span class="collapsible__toggle"><i></i></span>
				</h2>
				<div class="category__options">
					<div class="options__container collapsible__body">
						<label for="type-all">
							<input type="radio" value="type-all" name="type" id="type-all" checked> 
							<span>All</span>
						</label>
						<label for="type-free">
							<input type="radio" value="type-free" name="type" id="type-free"> 
							<span>Free</span>
						</label>
						<label for="type-subscription">
							<input type="radio" value="type-subscription" name="type" id="type-subscription"> 
							<span>Subscription</span>
						</label>
					</div>
				</div>
			</div>
			<!-- Genre -->
			<div class="collapsible is-collapsed" data-collapse-till="medium">
				<h2 class="collapsible__title">Genre
					<span class="collapsible__toggle"><i></i></span>
				</h2>
				<div class="category__options">
					<div class="options__container collapsible__body">
							<label for="genre-all">
								<input type="radio" value="genre-all" name="genre" id="genre-all" checked> 
								<span>All</span>
							</label>
							<label for="genre-action">
								<input type="radio" value="genre-action" name="genre" id="genre-action"> 
								<span>Action &amp; Adventure</span>
							</label>
							<label for="genre-children">
								<input type="radio" value="genre-children" name="genre" id="genre-children"> 
								<span>Children &amp; Family</span>
							</label>
							<label for="genre-comedy">
								<input type="radio" value="genre-comedy" name="genre" id="genre-comedy"> 
								<span>Comedy</span>
							</label>
							<label for="genre-documentary">
								<input type="radio" value="genre-documentary" name="genre" id="genre-documentary"> 
								<span>Documentary</span>
							</label>
							<label for="genre-drama">
								<input type="radio" value="genre-drama" name="genre" id="genre-drama"> 
								<span>Drama</span>
							</label>
							<label for="genre-variety">
								<input type="radio" value="genre-variety" name="genre" id="genre-variety"> 
								<span>Variety</span>
							</label>
							<label for="genre-scifi">
								<input type="radio" value="genre-scifi" name="genre" id="genre-scifi"> 
								<span>Sci-fi &amp; Fantasy</span>
							</label>
					</div>
				</div>
			</div>
			<!-- Language -->
			<div class="collapsible is-collapsed" data-collapse-till="medium">
				<h2 class="collapsible__title">Language
					<span class="collapsible__toggle"><i></i></span>
				</h2>
				<div class="category__options">
					<div class="options__container collapsible__body">
						<label for="language-all">
							<input type="radio" value="language-all" name="language" id="language-all"> 
							<span>Sci-fi &amp; Fantasy</span>
						</label>
						<label for="language-all">
							<input type="radio" value="language-english" name="language" id="language-english" checked> 
							<span>English</span>
						</label>
						<label for="language-chinese">
							<input type="radio" value="language-chinese" name="language" id="language-chinese"> 
							<span>Chinese</span>
						</label>
						<label for="language-malay">
							<input type="radio" value="language-malay" name="language" id="language-malay"> 
							<span>Malay</span>
						</label>
						<label for="language-indian">
							<input type="radio" value="language-indian" name="language" id="language-indian"> 
							<span>Indian</span>
						</label>
						<label for="language-Korean">
							<input type="radio" value="language-korean" name="language" id="language-korean"> 
							<span>Korean</span>
						</label>
					</div>
				</div>
			</div>
			<!-- Category -->
			<div class="collapsible is-collapsed" data-collapse-till="medium">
				<h2 class="collapsible__title">Category
					<span class="collapsible__toggle"><i></i></span>
				</h2>
				<div class="category__options">
					<div class="options__container collapsible__body">
						<label for="category-all">
							<input type="radio" value="category-all" name="category" id="category-all"> 
							<span>All</span>
						</label>
						<label for="category-catchup">
							<input type="radio" value="category-catchup" name="category" id="category-catchup"> 
							<span>Catch-up TV</span>
						</label>
						<label for="category-toggle-it-first">
							<input type="radio" value="category-toggle-it-first" name="category" id="category-toggle-it-first"> 
							<span>Toggle-It-First</span>
						</label>
						<label for="category-originals">
							<input type="radio" value="category-originals" name="category" id="category-originals" checked> 
							<span>Toggle Originals</span>
						</label>
						<label for="category-mediacorp-collection">
							<input type="radio" value="category-mediacorp-collection" name="category" id="category-mediacorp-collection"> 
							<span>The MediaCorp Collection</span>
						</label>
					</div>
				</div>
			</div>
			<!-- Date -->
			<div class="collapsible is-collapsed" data-collapse-till="medium">
				<h2 class="collapsible__title">Date
					<span class="collapsible__toggle"><i></i></span>
				</h2>
				<div class="category__options">
					<div class="options__container collapsible__body">
						<label for="date-all">
							<input type="radio" value="date-all" name="date" id="date-all" checked> 
							<span>Any Date</span>
						</label>
						<label for="date-today">
							<input type="radio" value="date-today" name="date" id="date-today"> 
							<span>Today</span>
						</label>
						<label for="date-this-week">
							<input type="radio" value="date-this-week" name="date" id="date-this-week"> 
							<span>This Week</span>
						</label>
						<label for="date-weekend">
							<input type="radio" value="date-weekend" name="date" id="date-weekend"> 
							<span>This Weekend</span>
						</label>
						<label for="date-next-week">
							<input type="radio" value="date-next-week" name="date" id="date-next-week"> 
							<span>Next Week</span>
						</label>
						<label for="date-this-month">
							<input type="radio" value="date-this-month" name="date" id="date-this-month"> 
							<span>This Month</span>
						</label>
						<label for="date-custom-date">
							<input type="radio" value="date-custom-date" name="date" id="date-custom-date"> 
							<span>Custom Date<div class="filtermenu__inner--customDate"><input type="text" id="filterstartDate"/> to <input type="text" id="filterendDate"/></div></span>
							
						</label>
					</div>
				</div>
			</div>
			<!-- Custom Text -->
			<div class="collapsible is-collapsed" data-collapse-till="medium">
				<h2 class="collapsible__title">Contains Word
					<span class="collapsible__toggle"><i></i></span>
				</h2>
				<div class="category__options">
					<div class="options__container collapsible__body">
						<label for="date-next-week">
							<input type="text" id="filterstartDate"/>
						</label>
					</div>
				</div>
			</div>
		</div>

		<div class="filtermenu__apply">
			<a href="#" class="btn btn--pink">
				<span>Apply Filter</span>
			</a>
			<a href="#" id="cancel" class="btn btn--sec">
				<span>Cancel</span>
			</a>
		</div>

	</div>
</div>