<div class="checkout-ad section" data-split-index="{{s}}">
	<figure>
		<span class="placeholder"></span>
	</figure>
	<div class="content">
		<h4>Toggle Prime H4</h4>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut imperdiet dolor non nibh faucibus vestibulum ut quis sem. Integer in pellentesque enim. Nam vitae tristique nunc. Mauris sollicitudin, ex vitae volutpat efficitur, augue nulla semper dolor, id ultricies diam dui non risus. 
		</p>
	</div>
</div>