<div data-split-index="{{side}}">
	<div class="section">
		<h4>Redeem Coupon</h4>
		<div class="input-button">
			<input type="text" />
			<a href="#" class="button">Apply</a>
		</div>
		<a href="#" class="hint">What's this?</a>
	</div class="section">
	<div class="section">
		<dl>
			<dt>
				Price
			</dt>
			<dd>
				SGD 21.29
			</dd>
			<dt>
				Discount
			</dt>
			<dd>
				SGD 11.39
			</dd>
		</dl>
	</div>
	<div class="section">
		<dl>
			<dt>
				<strong>Final Price</strong>
			</dt>
			<dd>
				<strong>SGD 9.90</strong>
			</dd>
		</dl>
		<p>
			All prices are inclusive of GST
		</p>
		<a href="#" class="button-full" data-featherlight="#ok">Checkout</a>
		<span class="icon-holder">visa</span>
		<span class="icon-holder">mastercard</span>
		<p>
			By clicking on the "Continue" button, you are agreeing to the <a href="#">Terms and Conditions</a> and the recurring subscription
		</p>
	</div>
</div>
