
<div class="wrap newsletter">
	<h1>eNewsletter Subscription</h1>
	<div class="newsletter__wrap">
		<h2 class="newsletter__title">My Subscription</h2>
		<div class="newsletter__section">
			<div class="newsletter__img"><img src="../"></div>
			<div class="newsletter__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sit tempore non beatae omnis voluptate reiciendis neque voluptatem, sequi iure ipsum libero ullam dolor impedit cumque, sunt voluptatum ipsa earum?</div>
			<div class="newsletter__btn"><button class="newsletter__button unsubs">Unsubscribe</button></div>
		</div>
	</div>

	<div class="newsletter__wrap">
		<h2 class="newsletter__title">Subscribe and get updates on more Mediacorp Network sites</h2>
		<h3 class="newsletter__head">News</h3>
		<div class="newsletter__section">
			<div class="newsletter__img"><img src="../"></div>
			<div class="newsletter__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sit tempore non beatae omnis voluptate reiciendis neque voluptatem, sequi iure ipsum libero ullam dolor impedit cumque, sunt voluptatum ipsa earum?</div>
			<div class="newsletter__btn"><button class="newsletter__button subs">Subscribe</button></div>
		</div>
		<div class="newsletter__section">
			<div class="newsletter__img"><img src="../"></div>
			<div class="newsletter__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sit tempore non beatae omnis voluptate reiciendis neque voluptatem, sequi iure ipsum libero ullam dolor impedit cumque, sunt voluptatum ipsa earum?</div>
			<div class="newsletter__btn"><button class="newsletter__button subs">Subscribe</button></div>
		</div>
		<div class="newsletter__section">
			<div class="newsletter__img"><img src="../"></div>
			<div class="newsletter__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sit tempore non beatae omnis voluptate reiciendis neque voluptatem, sequi iure ipsum libero ullam dolor impedit cumque, sunt voluptatum ipsa earum?</div>
			<div class="newsletter__btn"><button class="newsletter__button subs">Subscribe</button></div>
		</div>
		<div class="newsletter__section">
			<div class="newsletter__img"><img src="../"></div>
			<div class="newsletter__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sit tempore non beatae omnis voluptate reiciendis neque voluptatem, sequi iure ipsum libero ullam dolor impedit cumque, sunt voluptatum ipsa earum?</div>
			<div class="newsletter__btn"><button class="newsletter__button subs">Subscribe</button></div>
		</div>
		<h3 class="newsletter__head">Lifestyle &amp; Entertainment</h3>
		<div class="newsletter__section">
			<div class="newsletter__img"><img src="../"></div>
			<div class="newsletter__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sit tempore non beatae omnis voluptate reiciendis neque voluptatem, sequi iure ipsum libero ullam dolor impedit cumque, sunt voluptatum ipsa earum?</div>
			<div class="newsletter__btn"><button class="newsletter__button subs">Subscribe</button></div>
		</div>
	</div>
</div>