<div class="page-wrap">
    <header class="header cf" role="banner">
        <div class="wrap">
            <nav class="nav--primary">
                <div class="nav--primary__logo">
                    <a class="logo" href="/en"><img src="/blob/5005226/26ff0397660b64b0c70834f51d4c6bb7/toggle-en---global-navigation-menu-thumbnail.png" alt="Logo Alt Text"></a>
                </div>
                <div class="nav--primary__desktop">
                    <ul class="user-actions">
                        <li id="accountNotLogin" class="account pnav__has-dropdown user-li" style="display: none;">
                            <a href="javascript:void(0);" class="redirect-to-sso-login">
                          Sign In</a>
                        </li>
                        <li id="account" class="account pnav__has-dropdown user-li" style="">
                            <a href="javascript:void(0);">
                                <span class="username">Oscar Flores</span>
                                <img class="account__image round-image" src="/blob/5005222/972a25c147e457bf37facb4563b294db/v3-default-avatar-data.png" alt="">
                                <div class="badge-count" style="display: none">
                                    <i class="i-notification"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <form id="form">
        <fieldset class="device-wrap">
            <legend>Add Device</legend>
            <div class="form-item animate">
                <input class="" type="text" name="first_name" value="">
                <label>Device ID/Pairing code</label>
            </div>
            <div class="form-item animate">
                <input class="" type="text" name="first_name" value="">
                <label>Device Name</label>
            </div>
            <div class="pay-btn">
                <button onclick="" class="button-full">Save</button>
            </div>
        </fieldset>
    </form>
</div>
