<div id="feedback-callout">
    <a href="#" class="feedback">Feedback</a>
</div>
<a href="#" id="scroll-top-button"></a>
<!--DO NOT REMOVE-->
{% pattern-lab-foot %}
<!-- build:js js/min/polyfill-foot.min.js-->
<!--[if lt IE 9]>
<script src="../../app/bower_components/REM-unit-polyfill/js/rem.min.js"></script>

<![endif]-->
<!-- ADD BACKGROUND SIZE POLYFILL FOR IE8 HERE -->
<!-- endbuild -->
<script src="../../js/modernizr.js"></script>
<script src="../../app/bower_components/lodash/dist/lodash.js"></script>
<script src="../../app/bower_components/jquery-throttle-debounce/jquery.ba-throttle-debounce.min.js"></script>
<script src="../../app/bower_components/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="../../app/bower_components/hoverintent/jquery.hoverIntent.js"></script>
<script src="../../app/bower_components/DropKick.js/production/dropkick.min.js"></script>
<script src="../../app/bower_components/DropKick.js/plugins/dropkick.jquery.js"></script>
<script src="../../app/bower_components/jquery-expander/jquery.expander.min.js"></script>
<script src="../../app/bower_components/jQuery.dotdotdot/src/js/jquery.dotdotdot.js"></script>
<script src="../../app/bower_components/slick.js/slick/slick.min.js"></script>
<script src="../../app/bower_components/history/scripts/bundled/html5/jquery.history.js"></script>
<script src="../../app/bower_components/featherlight/release/featherlight.min.js"></script>
<script src="../../app/bower_components/pickadate/lib/picker.js"></script>
<script src="../../app/bower_components/pickadate/lib/picker.date.js"></script>
<!--script src="../../app/bower_components/jQuery-Autocomplete/dist/jquery.autocomplete.js"></script-->
<script src="../../app/bower_components/hammerjs/hammer.js"></script>
<script src="../../app/bower_components/canvasloader/js/heartcode-canvasloader-min.js"></script>
<script src="../../app/bower_components/jscrollpane/script/jquery.mousewheel.js"></script>
<script src="../../app/bower_components/jscrollpane/script/jquery.jscrollpane.js"></script>
<!-- build:js js/min/foot.min.js-->
<script src="../../js/init.js"></script>
<script src="../../js/splitGrid.js"></script>
<script src="../../js/collapsible-section.js"></script>
<script src="../../js/tgtabs.js"></script>
<script src="../../js/gallery.js"></script>
<script src="../../js/navigation.js"></script>
<script src="../../js/search.js"></script>
<script src="../../js/pagination.js"></script>
<script src="../../js/carousel.js"></script>
<script src="../../js/featuredCarousel.js"></script>
<script src="../../js/fixedHeightList.js"></script>
<script src="../../js/mainCarousel.js"></script>
<script src="../../js/mobileCarousel.js"></script>
<script src="../../js/aasel.js"></script>
<script src="../../js/tabs.js"></script>
<script src="../../js/sliderReloaded.js"></script>
<script src="../../js/contentGrid.js"></script>
<script src="../../js/videoWrapper.js"></script>
<script src="../../js/main.js"></script>
<script src="../../js/collapsible-comments.js"></script>
<script src="../../js/notification-bar.js"></script>
<script src="../../js/filter.js"></script>
<script src="../../js/epg.js"></script>
<script src="../../js/rating.js"></script>
<script src="../../js/truncation.js"></script>
<script src="../../js/reminder.js"></script>
<script src="../../js/scrolltop.js"></script>
<script src="../../js/scrollpane.js"></script>
<script src="../../js/quickLinks.js"></script>
<script src="../../js/customtable.js"></script>
<script src="../../js/idealForm.js"></script>
<script src="../../js/mc.js"></script>
<script src="../../js/personalization.js"></script>
<script src="../../js/flexStateList.js"></script>
<!-- endbuild -->
<script src="../../js/lib/salvattore.min.js"></script>
<!--<script src="../../app/bower_components/parsleyjs/dist/parsley.min.js"></script>-->
</body>

</html>
