<div class="meta">
	<img class="meta__item--label" src="../../images/tags/nowplaying.png" alt=""/>
  {{#meta}}
  <div class="meta__item">
    <i class="{{icon-class}}"></i><span>{{meta-item}}</span>
  </div>
  {{/meta}}
</div>
