<div class="meta">
  <div class="item__tags">
    {{#video-tags}}
    <div class="tag {{tag}}"><i class="{{icon}}"></i>{{{taghtml}}}</div>
    {{/video-tags}}
  </div>
  <!--<div class="meta__item-type">
    {{#video-meta}}
    <div class="meta__item--video" style="background-color: {{background-color}}">
      <i class="{{icon-class}}"></i><span class="{{meta-class}}">{{{meta-item}}}</span>
    </div>
    {{/video-meta}}
  </div>
  <div class="meta__item-type">
    {{#rating-meta}}
    <div class="meta__item--rating">
      <i class="{{rating-icon}}"></i><span>{{meta-item}}</span>
    </div>
    {{/rating-meta}}
  </div>-->
</div>