<div class="meta">
  <div class="meta__item-type">
    {{#rating-meta}}
    <div class="meta__item--rating">
      <i class="ti-star"></i><span>4.5</span>
    </div>
    <div class="meta__item--rating">
      <i class="m18"></i><span>Mature Themes | 成人题材</span>
    </div>
    {{/rating-meta}}
  </div>
  Audio: Chinese, Korean | Subtitles: English
</div>