// Mixin to center floated content
@mixin center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

/**
 * Clearfix for IE8 and up
 * http://css-tricks.com/snippets/css/clear-fix/
 */
@mixin cf {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/**
 * Removes Clearfix
 */
@mixin unclear {
  &:after {
    clear: none;
  }
}

/**
 * Invisible element, but available for accessibility
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
@mixin is-invisible {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}

// Turns off the element-invisible effect.
@mixin is-visible {
  position: static;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

/**
 * Image replacement
 * http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
 */
@mixin image-replacement {
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}

// Placeholder color styles
@mixin placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: $color;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
}

// Color and background color on selection
@mixin selection($bgColor, $textColor) {
  &::-moz-selection {
    background: $bgColor;
    color: $textColor;
  }
  &::selection {
    background: $bgColor;
    color: $textColor;
  }
}

// Keep link colors unchanged to a single color
@mixin std-color($color) {
  color: $color;
  &:visited,
  &:hover,
  &:active,
  &:focus {
    color: $color;
  }
}

// Enhance transition performance for webkit browsers.
@mixin trans-prep {
  backface-visibility: hidden;
  transform: translateZ(0);
}

/**
 * Shapes
 */

@mixin circle($width) {
  width: $width;
  height: $width;
  border-radius: 100%;
}

@mixin triangle($dir, $size, $color) {
  border: $size transparent solid;
  @if $dir == "top" or $dir == "up" {
    border-bottom-color: $color;
  }
  @else if $dir == "right" or $dir == "after" {
    border-left-color: $color;
  }
  @else if $dir == "bottom" or $dir == "down" {
    border-top-color: $color;
  }
  @else if $dir == "left" or $dir == "before" {
    border-right-color: $color;
  }
}