<div class="reminder-popup">
  <a href="#"><i class="cal-ical"></i> iCal Calendar</a>
  <a href="#"><i class="cal-google"></i>Google Calendar</a>
  <a href="#"><i class="cal-outlook"></i>Outlook Calendar</a>
  <a href="#"><i class="cal-yahoo"></i>Yahoo Calendar</a>
  <a href="#"><i class="i-search-close"></i>Cancel</a>
</div>