{{> molecules-ad-skin }}
{{> templates-tv-header }}
{{> atoms-microsite-strip }}
<div class="site-inner wrap">
  <main class="l-full">
    <div class="l-3up">
      <div class="l-gi"><a href="#"> {{> molecules-image-block}}</a></div>
      <div class="l-gi"><a href="#"> {{> molecules-image-block}}</a></div>
      <div class="l-gi"><a href="#"> {{> molecules-image-block}}</a></div>
      <div class="l-gi"><a href="#"> {{> molecules-image-block}}</a></div>
      <div class="l-gi"><a href="#"> {{> molecules-image-block}}</a></div>
      <div class="l-gi"><a href="#"> {{> molecules-image-block}}</a></div>
      <div class="l-gi"><a href="#"> {{> molecules-image-block}}</a></div>
      <div class="l-gi"><a href="#"> {{> molecules-image-block}}</a></div>
      <div class="l-gi"><a href="#"> {{> molecules-image-block}}</a></div>
      <div class="l-gi"><a href="#"> {{> molecules-image-block}}</a></div>
      <div class="l-gi"><a href="#"> {{> molecules-image-block}}</a></div>
      <div class="l-gi"><a href="#"> {{> molecules-image-block}}</a></div>
    </ul>
  </main>
</div>

