{{> molecules-ad-skin }}
{{> organisms-header }}
{{> molecules-channel-nav }}
{{> atoms-microsite-strip }}
{{> molecules-secondary-nav }}
<section>
  <div class="wrap">
    <main class="l-12">
      <ul class="extras-tabs">
        <li class="is-active"><a href="#">All(28)</a></li>
        <li><a href="#">Webisodes (3)</a></li>
        <li><a href="#">Behind the Scenes (4)</a></li>
        <li><a href="#">Bloopers (2)</a></li>
        <li><a href="#">Trailers (19)</a></li>
      </ul>

      <ul class="extras-tab-content">
        <li class="is-active">{{> molecules-extras-tab-list-item }}</li>
        <li>{{> molecules-extras-tab-list-item }}</li>
        <li>{{> molecules-extras-tab-list-item }}</li>
        <li>{{> molecules-extras-tab-list-item }}</li>
        <li>{{> molecules-extras-tab-list-item }}</li>
      </ul>
    </main>

    {{> organisms-social-media-feed }}
  </section>
</div>

