{{> molecules-ad-banner-block:section--ad--channel-home(ad-bg-color: #363636) }}
{{> molecules-channel-nav }}
{{> organisms-channel-home-carousel }}
<div class="site-inner wrap">
  {{> organisms-social-media-feed }}
</div>
{{> molecules-ad-banner-block }}
{{> organisms-footer }}
