{{!-- {{> molecules-ad-skin }}
{{> organisms-header }}
{{> molecules-channel-nav }}
{{> atoms-microsite-strip }}
{{> molecules-secondary-nav }}
<div class="site-inner wrap">
  <div class="l-2up--8-4">
    <main class="l-gi">
      {{> organisms-vertical-list }}
      {{> molecules-pagination(article:true) }}
    </main>
    <aside class="l-gi">
      {{> molecules-ad-300x250-block }}
      {{> organisms-events-list }}
      {{> organisms-twitter-list }}
    </aside>
  </div>
</div>

{{> organisms-footer }} --}}