<!-- fixed-height component (avatar) -->
<div class="fixed-height--square card">
  <h5 class="fixed-height__title"><a href="#">{{fixed-height-title}} <i class="ti-chevron-next"></i></a></h5>
  <ul class="fixed-height__list" data-items-shown-on-mobile="{{mobileItems}}">
    {{> molecules-fixed-height-square-image-item(img: true) }}    
    {{> molecules-fixed-height-square-image-item(img: true) }}    
    {{> molecules-fixed-height-square-image-item(img: true) }}    
    {{> molecules-fixed-height-square-image-item(img: true) }}    
    {{> molecules-fixed-height-square-image-item(img: true) }}    
    {{> molecules-fixed-height-square-image-item(img: true) }}    
    {{> molecules-fixed-height-square-image-item(img: true) }}    
    {{> molecules-fixed-height-square-image-item(img: true) }}    
    {{> molecules-fixed-height-square-image-item(img: true) }}    
    {{> molecules-fixed-height-square-image-item(img: true) }}    
    </ul>
</div>
<!-- /end fixed-height component -->
