<div class="section">
	<p>
		All default PINS are <strong>123456</strong>
	</p>
</div>
<div class="section">
	<h4>R21 Lock PIN</h4>
	<div class="content">
		<p>
			This PIN is needed to view R21 rated content.
			<br/>
			<a href="#" data-featherlight="#lightbox-popup-1" data-featherlight-variant="featherlight--alert">Change PIN</a> <a href="#">Forgot PIN</a>
		</p>
	</div>
</div>
<div class="section">
	<h4>Parental Lock PIN</h4>
	<div class="pin">
		<label>
			<input type="checkbox"/> Enable PIN
		</label>
	</div>
	<div class="content">
		<p>
			This PIN is needed to view Parental Locked content. <br/>

			<a href="#" data-featherlight="#lightbox-popup-1" data-featherlight-variant="featherlight--alert">Change PIN</a> <a href="#">Forgot PIN</a>
		</p>
	</div>
</div>
<div class="section">
	<h4>Purchase Lock PIN</h4>
	<div class="pin">
		<label>
			<input type="checkbox"/> Enable PIN
		</label>
	</div>
	<div class="content">
		<p>
			This PIN is needed to make new purchases. <br/>

			<a href="#" data-featherlight="#lightbox-popup-1" data-featherlight-variant="featherlight--alert">Change PIN</a> <a href="#">Forgot PIN</a>
		</p>
	</div>
</div>
<div id="lightbox-popup-1" class="lightbox-container pin-lightbox center">
	<h3 class="lightbox__title">Purchase Lock PIN</h3>
	<div class="lightbox__content">
		<p>
			Please enter your 6 digit PIN
		</p>
		<input type="text" name="pin"/>
		<button type="submit">
			Submit
		</button>
		<a href="#">Forgot your PIN?</a>
	</div>
</div>