<div class="aasel__item aasel__item--6">
  {{> molecules-aasel-inner-item(size: medium)}}
  {{> molecules-aasel-inner-item(small: true, size:small)}}
  {{> molecules-aasel-inner-item(small: true, size:small)}}
  {{> molecules-aasel-inner-item(small: true, size:small)}}
  {{> molecules-aasel-inner-item(small: true, size:small)}}
  {{> molecules-aasel-inner-item(size: medium)}}
</div>