<div class="aasel__item aasel__item--4">
  {{> molecules-aasel-inner-item(size: large)}}
  {{> molecules-aasel-inner-item(small: true, size:small)}}
  {{> molecules-aasel-inner-item(small: true, size:small)}}
  {{> molecules-aasel-inner-item(small: true, size:small)}}
</div>
