<div class="l-4up--reflow">
  {{^myfavourite}}
  <div class="l-gi">{{> molecules-toggle-teaser-item }}</div>
  <div class="l-gi">{{> molecules-toggle-teaser-item }}</div>
  <div class="l-gi">{{> molecules-toggle-teaser-item }}</div>
  <div class="l-gi">{{> molecules-toggle-teaser-item }}</div>
  <div class="l-gi">{{> molecules-toggle-teaser-item }}</div>
  <div class="l-gi">{{> molecules-toggle-teaser-item }}</div>
  <div class="l-gi">{{> molecules-toggle-teaser-item }}</div>
  <div class="l-gi">{{> molecules-toggle-teaser-item }}</div>
  <div class="l-gi">{{> molecules-toggle-teaser-item }}</div>
  <div class="l-gi">{{> molecules-toggle-teaser-item }}</div>
  <div class="l-gi">{{> molecules-toggle-teaser-item }}</div>
  <div class="l-gi">{{> molecules-toggle-teaser-item }}</div>
  {{/myfavourite}}
  {{#myfavourite}}
  <div class="l-gi">{{> molecules-toggle-teaser-item-favourite }}</div>
  <div class="l-gi">{{> molecules-toggle-teaser-item-favourite }}</div>
  <div class="l-gi">{{> molecules-toggle-teaser-item-favourite }}</div>
  <div class="l-gi">{{> molecules-toggle-teaser-item-favourite }}</div>
  <div class="l-gi">{{> molecules-toggle-teaser-item-favourite }}</div>
  <div class="l-gi">{{> molecules-toggle-teaser-item-favourite }}</div>
  <div class="l-gi">{{> molecules-toggle-teaser-item-favourite }}</div>
  <div class="l-gi">{{> molecules-toggle-teaser-item-favourite }}</div>
  <div class="l-gi">{{> molecules-toggle-teaser-item-favourite }}</div>
  <div class="l-gi">{{> molecules-toggle-teaser-item-favourite }}</div>
  <div class="l-gi">{{> molecules-toggle-teaser-item-favourite }}</div>
  <div class="l-gi">{{> molecules-toggle-teaser-item-favourite }}</div>
  {{/myfavourite}}
</div>