<div class="card" data-split-index="{{split-index}}">
	<ul class="fav-rate">
		<li>
			{{> atoms-social-media-button(social-media:favourite, btnClass: "btn--round", icon-only: true, selected:"selected")}}
			<div class="vertical1">
				<div class="vertical2">
					<p>Favourite And Receive Updates</p>
				</div>
			</div>
		</li>
		<li>
			{{> atoms-social-media-button(social-media:rate, btnClass: "btn--round", icon-only: true, selected:"selected")}}
			<div class="vertical1">
				<div class="vertical2">
					<p>Rate Program</p>
				</div>
			</div>
		</li>
		<li>
			{{> atoms-social-media-button(social-media:share, btnClass: "btn--round", icon-only: true)}}
			<div class="vertical1">
				<div class="vertical2">
					<p>Share Program</p>
				</div>
			</div>
		</li>
	</ul>
</div>