<!-- Begin Footer -->
<footer class="site-footer" role="contentinfo">
  <div class="wrap">
    <nav class="nav--footer">
      <h4>Explore Toggle</h4>
      <ul class="footer-links">
        <li class="">
          <div class="collapsible is-collapsed" data-collapse-till="medium">
            <h6 class="collapsible__title">Entertainment
              <span class="collapsible__toggle"><i></i></span>
            </h6>
            <div class="collapsible__body">
              <ul>
                <li><a href="#">Local Buzz</a></li>
                <li><a href="#">Asian Buzz</a></li>
                <li><a href="#">Hallyu Buzz</a></li>
                <li><a href="#">Hollywood Buzz</a></li>
              </ul>
            </div>
          </div>
          <div class="collapsible is-collapsed" data-collapse-till="medium">
            <h6 class="collapsible__title">Lifestyle
              <span class="collapsible__toggle"><i></i></span>
            </h6>
            <div class="collapsible__body">
              <ul>
                <li><a href="#">Fashion &amp; Beauty</a></li>
                <li><a href="#">Relationships</a></li>
                <li><a href="#">Wellbeing</a></li>
                <li><a href="#">Worklife</a></li>
                <li><a href="#">Food</a></li>
                <li><a href="#">Around Town</a></li>
                <li><a href="#">OffBeat</a></li>
              </ul>
            </div>
          </div>
          <div class="collapsible is-collapsed" data-collapse-till="medium">
            <h6 class="collapsible__title">Celebs
              <span class="collapsible__toggle"><i></i></span>
            </h6>
            <div class="collapsible__body">
              <ul>
                <li><a href="#">Celeb Bios</a></li>
                <li><a href="#">Star Scoops</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="">
          <div class="collapsible is-collapsed" data-collapse-till="medium">
            <h6 class="collapsible__title">Video
              <span class="collapsible__toggle"><i></i></span>
            </h6>
            <div class="collapsible__body">
              <ul>
                <li><a href="#">Channel 5</a></li>
                <li><a href="#">Channel 8</a></li>
                <li><a href="#">Channel U</a></li>
                <li><a href="#">Okto</a></li>
                <li><a href="#">Suria</a></li>
                <li><a href="#">Vasantham</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="">
          <div class="collapsible is-collapsed" data-collapse-till="medium">
            <h6 class="collapsible__title">TV
              <span class="collapsible__toggle"><i></i></span>
            </h6>
            <div class="collapsible__body">
              <ul>
                <li><a href="#">Channel 5</a></li>
                <li><a href="#">Channel 8</a></li>
                <li><a href="#">Channel U</a></li>
                <li><a href="#">Okto</a></li>
                <li><a href="#">Suria</a></li>
                <li><a href="#">Vasantham</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="">
          <div class="collapsible is-collapsed" data-collapse-till="medium">
            <h6 class="collapsible__title">Radio
            <span class="collapsible__toggle"><i></i></span>
            </h6>
            <div class="collapsible__body">
              <ul>
                <li><a href="#">Me Radio</a></li>
                <li><a href="#">938 Live</a></li>
                <li><a href="#">987 FM</a></li>
                <li><a href="#">Class 95 FM</a></li>
                <li><a href="#">Gold 90.5 FM</a></li>
                <li><a href="#">Lush 99.5FM</a></li>
                <li><a href="#">Symphony 92.4FM</a></li>         
                <li><a href="#">Capital 95.8 FM</a></li>
                <li><a href="#">Love 97.2 FM</a></li>
                <li><a href="#">Y.E.S 93.3 FM</a></li>
                <li><a href="#">Ria 89.7 FM</a></li>
                <li><a href="#">Wama 94.2 FM</a></li>
                <li><a href="#">Oli 96.8 FM</a></li>
                <li><a href="#">Xfm 96.3FM</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="">
          <div class="collapsible is-collapsed" data-collapse-till="medium">
            <h6 class="collapsible__title">Brands
              <span class="collapsible__toggle"><i></i></span>
            </h6>
            <div class="collapsible__body">
              <ul>
                <li><a href="#">Style X Style</a></li>
                <li><a href="#">8 Days</a></li>
                <li><a href="#">FHM</a></li>
                <li><a href="#">iWeekly</a></li>
                <li><a href="#">Style</a></li>
                <li><a href="#">Style: Men</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="footer-last">
          <div class="footer-links__social">
            {{> atoms-social-media-button(social-media:facebook,btnClass: "btn--round", icon-only: true)}}
            {{> atoms-social-media-button(social-media:twitter, btnClass: "btn--round", icon-only: true)}}

          </div>
          <div class="footer-links__disclaimer">
            <div class="logo">
              <img src="../../images/logo.png" />
            </div>
            <p>&copy; MediaCorp 2015</p>
          </div>
          <div class="footer-links__utility">
            <ul>
              <li><a href="/abouttoggle">What is Toggle</a></li>
              <li><a href="/faq">FAQ</a></li>
              <li><a href="priceplan">Price Plan</a></li>
              <li><a href="/contactus">Contact Us</a></li>
              <li><a href="#">Advertise with us</a></li>
              <li><a href="/terms">Terms and Conditions</a></li>
              <li><a href="/privacypolicy">Privacy Policy</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</footer>
<!-- End Footer -->