<!-- Primary Mega Menu -->
<!-- start mega-menu-->

<!-- Megamenu holder fetches the whole megamenu only after 1140px. To test this page, you will need to use "open in new window", and not open anything on Pattern Lab-->
<div class="page-wrap">
  <div class="mega-menu mega-menu--primary-nav"> 
    <div class="wrap">
      <!-- start entertainment -->
      <div class="entertainment megamenu__item">
        <ul>
          <li>
            <a href="#">All</a>
            <div class="l-4up"> 
             {{> organisms-primary-mega-menu-ajax}}
           </div>
         </li>
         <li>
          <a href="#">Asian Buzz</a>
          <div class="l-4up" data-url="../../_patterns-ajax/megamenu-item-ajax.html"> 
           <!-- Ajax Item -->
         </div>
       </li>
       <li>
        <a href="#">Korean Buzz</a>
        <div class="l-4up" data-url="../../_patterns-ajax/megamenu-item-ajax.html"> 
         <!-- Ajax Item -->
       </div>
     </li>
     <li>
      <a href="#">Hollywood Buzz</a>
      <div class="l-4up" data-url="../../_patterns-ajax/megamenu-item-ajax.html"> 
       <!-- Ajax Item -->
     </div>
   </li>
   <li>
    <a href="#">Music</a>
    <div class="l-4up" data-url="../../_patterns-ajax/megamenu-item-ajax.html"> 
     <!-- Ajax Item -->
   </div>
 </li>
 <li>
  <a href="#">Movies</a>
  <div class="l-4up" data-url="../../_patterns-ajax/megamenu-item-ajax.html"> 
   <!-- Ajax Item -->
 </div>
</li>
</ul>
</div>
<!-- end entertainment -->

<!-- start lifestyle -->
<div class="lifestyle megamenu__item">
  <ul>
    <li>
      <a href="#">All</a>
      <div class="l-4up"> 
       {{> organisms-primary-mega-menu-ajax}}
     </div>
   </li>
   <li>
    <a href="#">Beauty</a>
    <div class="l-4up" data-url="../../_patterns-ajax/megamenu-item-ajax.html"> 
     <!-- Ajax Item -->
   </div>
 </li>
 <li>
  <a href="#">Fashion</a>
  <div class="l-4up" data-url="../../_patterns-ajax/megamenu-item-ajax.html"> 
   <!-- Ajax Item -->
 </div>
</li>
<li>
  <a href="#">Food</a>
  <div class="l-4up" data-url="../../_patterns-ajax/megamenu-item-ajax.html"> 
   <!-- Ajax Item -->
 </div>
</li>
<li>
  <a href="#">Around Town</a>
  <div class="l-4up" data-url="../../_patterns-ajax/megamenu-item-ajax.html"> 
   <!-- Ajax Item -->
 </div>
</li>
<li>
  <a href="#">Wellness</a>
  <div class="l-4up" data-url="../../_patterns-ajax/megamenu-item-ajax.html"> 
   <!-- Ajax Item -->
 </div>
</li>
<li>
  <a href="#">Work Life</a>
  <div class="l-4up" data-url="../../_patterns-ajax/megamenu-item-ajax.html"> 
   <!-- Ajax Item -->
 </div>
</li>
<li>
  <a href="#">Relationships</a>
  <div class="l-4up" data-url="../../_patterns-ajax/megamenu-item-ajax.html"> 
   <!-- Ajax Item -->
 </div>
</li>
<li>
  <a href="#">Travel</a>
  <div class="l-4up" data-url="../../_patterns-ajax/megamenu-item-ajax.html"> 
   <!-- Ajax Item -->
 </div>
</li>
          <!-- <li class="more">
            <a href="#">More</a>
            <ul>
              <li><a href="#">Work</a></li>
              <li><a href="#">Life</a></li>
              <li><a href="#">Relationships</a></li>
              <li><a href="#">Travel</a></li>
              <li><a href="#">Events</a></li>
              <li><a href="#">Contests</a></li>
            </ul>
          </li> -->
        </ul>
      </div>
      <!-- end lifestyle -->

      <!-- start offbeat -->
      <div class="offbeat megamenu__item">
        <ul>
          <li>
            <a href="#">All</a>
            <div class="l-4up"> 
             {{> organisms-primary-mega-menu-ajax}}
           </div>
         </li>
         <li>
          <a href="#">Category 1</a>
          <div class="l-4up" data-url="../../_patterns-ajax/megamenu-item-ajax.html"> 
           <!-- Ajax Item -->
         </div>
       </li>
       <li>
        <a href="#">Category 2</a>
        <div class="l-4up" data-url="../../_patterns-ajax/megamenu-item-ajax.html"> 
         <!-- Ajax Item -->
       </div>
     </li>
     <li>
      <a href="#">Category 3</a>
      <div class="l-4up" data-url="../../_patterns-ajax/megamenu-item-ajax.html"> 
       <!-- Ajax Item -->
     </div>
   </li>
   <li>
    <a href="#">Category 4</a>
    <div class="l-4up" data-url="../../_patterns-ajax/megamenu-item-ajax.html"> 
     <!-- Ajax Item -->
   </div>
 </li>
 <li>
  <a href="#">Category 5</a>
  <div class="l-4up" data-url="../../_patterns-ajax/megamenu-item-ajax.html"> 
   <!-- Ajax Item -->
 </div>
</li>
</ul>
</div>
<!-- end offbeat -->

<!-- start video -->
<div class="video megamenu__item">
  <ul>
    <li>
      <a href="#">Channels</a>
      <div class="l-4up"> 
       {{> organisms-primary-mega-menu-ajax}}
     </div>
   </li>
   <li>
    <a href="#">TV</a>
    <div class="l-4up" data-url="../../_patterns-ajax/megamenu-item-ajax.html"> 
     <!-- Ajax Item -->
   </div>
 </li>
 <li>
  <a href="#">Series</a>
  <div class="l-4up" data-url="../../_patterns-ajax/megamenu-item-ajax.html"> 
   <!-- Ajax Item -->
 </div>
</li>
<li>
  <a href="#">Movies</a>
  <div class="l-4up" data-url="../../_patterns-ajax/megamenu-item-ajax.html"> 
   <!-- Ajax Item -->
 </div>
</li>
<li>
  <a class="i-kids-zone" href="#">Kids Zone</a>
  <div class="l-4up" data-url="../../_patterns-ajax/megamenu-item-ajax.html"> 
   <!-- Ajax Item -->
 </div>
</li>
</ul>
</div>
<!-- end video -->

<!-- start tv -->
<div class="tv megamenu__item">
  <ul>
    <li>
      <a href="#"><i class="i-channel5"></i></a>
      <div class="l-4up" > 
       {{> organisms-primary-mega-menu-ajax}}
     </div>
   </li>
   <li>
    <a href="#"><i class="i-channel8"></i></a>
    <div class="l-4up" data-url="../../_patterns-ajax/megamenu-item-ajax.html"> 
     <!-- Ajax Item -->
   </div>
 </li>
 <li>
  <a href="#"><i class="i-channelu"></i></a>
  <div class="l-4up" data-url="../../_patterns-ajax/megamenu-item-ajax.html"> 
   <!-- Ajax Item -->
 </div>
</li>
<li>
  <a href="#"><i class="i-okto"></i></a>
  <div class="l-4up" data-url="../../_patterns-ajax/megamenu-item-ajax.html"> 
   <!-- Ajax Item -->
 </div>
</li>
<li>
  <a href="#"><i class="i-suria"></i></a>
  <div class="l-4up" data-url="../../_patterns-ajax/megamenu-item-ajax.html"> 
   <!-- Ajax Item -->
 </div>
</li>
<li>
  <a href="#"><i class="i-vasantham"></i></a>
  <div class="l-4up" data-url="../../_patterns-ajax/megamenu-item-ajax.html"> 
   <!-- Ajax Item -->
 </div>
</li>
<li>
  <a href="#"><i class="i-cna"></i></a>
  <div class="l-4up" data-url="../../_patterns-ajax/megamenu-item-ajax.html"> 
   <!-- Ajax Item -->
 </div>
</li>
</ul>
</div>
<!-- end tv -->

<!-- start radio -->
<div class="radio megamenu__item">
  <ul>
    <li class="l-gi"> 
      <a href="#"><i class="i-938"></i> 
        <span class="vertical1">
          <span class="vertical2">
            938 Live
          </span>
        </span>
      </a> 
      <a class="play-now" href="#"></a>
    </li>
    <li class="l-gi">
      <a href="#"><i class="i-987"></i> 
        <span class="vertical1">
          <span class="vertical2">
            987 FM
          </span>
        </span>
      </a>
      <a class="play-now" href="#"></a>
    </li>
    <li class="l-gi">
      <a href="#"><i class="i-950"></i> 
        <span class="vertical1">
          <span class="vertical2">
            Class 95 FM
          </span>
        </span>
      </a>
      <a class="play-now" href="#"></a>
    </li>
    <li class="l-gi">
      <a href="#"><i class="i-905"></i> 
        <span class="vertical1">
          <span class="vertical2">
            Gold 90.5 FM
          </span>
        </span>
      </a>
      <a class="play-now" href="#"></a>
    </li>
    <li class="l-gi">
      <a href="#"><i class="i-995"></i> 
        <span class="vertical1">
          <span class="vertical2">
            Lush 99.5 FM
          </span>
        </span>
      </a><a class="play-now" href="#"></a>
    </li>
    <li class="l-gi">
      <a href="#"><i class="i-924"></i> 
        <span class="vertical1">
          <span class="vertical2">
            Symphony 92.4 FM
          </span>
        </span>
      </a>
      <a class="play-now" href="#"></a>
    </li>
    <li class="l-gi">
      <a href="#"><i class="i-958"></i> 
        <span class="vertical1">
          <span class="vertical2">
            Capital 95.8 FM
          </span>
        </span>
      </a>
      <a class="play-now" href="#"></a>
    </li>
    <li class="l-gi">
      <a href="#"><i class="i-972"></i> 
        <span class="vertical1">
          <span class="vertical2">
            Love 97.2 FM
          </span>
        </span>
      </a>
      <a class="play-now" href="#"></a>
    </li>
    <li class="l-gi">
      <a href="#"><i class="i-933"></i> 
        <span class="vertical1">
          <span class="vertical2">
            Y.E.S 93.3 FM
          </span>
        </span>
      </a><a class="play-now" href="#"></a>
    </li>
    <li class="l-gi">
      <a href="#"><i class="i-897"></i> 
        <span class="vertical1">
          <span class="vertical2">
            Ria 89.7 FM
          </span>
        </span>
      </a><a class="play-now" href="#"></a>
    </li>
    <li class="l-gi">
      <a href="#"><i class="i-942"></i> 
        <span class="vertical1">
          <span class="vertical2">
            Warna 94.2 FM
          </span>
        </span>
      </a><a class="play-now" href="#"></a>
    </li>
    <li class="l-gi">
      <a href="#"><i class="i-968"></i> 
        <span class="vertical1">
          <span class="vertical2">
            Oli 96.8FM
          </span>
        </span>
      </a><a class="play-now" href="#"></a>
    </li>
    <li class="l-gi">
      <a href="#"><i class="i-963x"></i> 
        <span class="vertical1">
          <span class="vertical2">
            Xfm 96.3 FM
          </span>
        </span>
      </a>
      <a class="play-now" href="#"></a>
    </li>
  </ul>
</div>
<!-- end radio -->


<!-- start celebrities -->
<div class="celebrities megamenu__item">
  <ul>
    <li>
      <a href="#">Star Scoops</a>
      <div class="l-4up"> 
       {{> organisms-primary-mega-menu-ajax}}
       
     </div>
   </li>
   <li>
    <a href="#">Celebrity Bios</a>
    <div class="l-4up" data-url="../../_patterns-ajax/megamenu-item-ajax.html"> 
     <!-- Ajax Item -->
   </div>
 </li>
 <li>
  <a href="#">Events</a>
  <div class="l-4up" data-url="../../_patterns-ajax/megamenu-item-ajax.html"> 
   <!-- Ajax Item -->
 </div>
</li>
<li>
  <a href="#">Contests</a>
  <div class="l-4up" data-url="../../_patterns-ajax/megamenu-item-ajax.html"> 
   <!-- Ajax Item -->
 </div>
</li>
</ul>
</div>
<!-- end celebrities -->

<!-- start shop -->
<div class="more megamenu__item">
  <ul>
    <li>
      <a href="#">Sections</a>
      <ul>
        <li><a href="#">Entertainment</a></li>
        <li><a href="#">Lifestyle</a></li>
        <li><a href="#">Offbeat</a></li>
        <li><a href="#">Celebrity</a></li>
        <li><a href="#">Video</a></li>
      </ul>
    </li>
    <li>
      <a href="#">TV</a>
      <ul>
        <li><a href="#">Channel 5</a></li>
        <li><a href="#">Channel 8</a></li>
        <li><a href="#">Channel U</a></li>
        <li><a href="#">Okto</a></li>
        <li><a href="#">Suria</a></li>
        <li><a href="#">Vasantham</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Radio</a>
      <ul>
        <li><a href="#">938 live</a></li>
        <li><a href="#">987 fm</a></li>
        <li><a href="#">class 95 FM</a></li>
        <li><a href="#">Gold 90.5 FM</a></li>
        <li><a href="#">Lush 99.0 FM</a></li>
        <li><a href="#">Symphony 92.4 fm</a></li>
        <li><a href="#">Capital 95.8 fm</a></li>
        <li><a href="#">Love 97.2 FM</a></li>
        <li><a href="#">Y.E.S 93.3 FM</a></li>
        <li><a href="#">Ria 89.7 FM</a></li>
        <li><a href="#">Warna 94.2 FM</a></li>
        <li><a href="#">Oli 96.8FM</a></li>
        <li><a href="#">Xfm 96.3 FM</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Brands</a>
      <ul>
        <li><a href="{{url}}">8 days</a></li>
        <li><a href="{{url}}">Elle</a></li>
        <li><a href="{{url}}">FHM</a></li>
        <li><a href="{{url}}">I Weekly</a></li>
        <li><a href="{{url}}">Mother & Baby</a></li>
        <li><a href="{{url}}">Style</a></li>
        <li><a href="{{url}}">Style: Men</a></li>
        <li><a href="{{url}}">Style: Living</a></li>
        <li><a href="{{url}}">Style: Weddings</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Explore</a>
      <ul>
        <li><a href="{{url}}">Shop</a></li>
        <li><a href="{{url}}">About</a></li>
      </ul>
    </li>
  </ul>
</div>
</div>
</div>
</div>
<!-- end megamenu -->
