<div class="nav--primary__mobile">
  <div class="primary-nav-toggle i-hamburger" id="primary-nav-toggle"></div>
  <ul>
    <li class="has-children">
      <a href="#" data-menu-item="entertainment"><i class="ti-entertainment"></i>Entertainment</a>
      <ul>
        <li class="subnav__header"><h3 class="mobile__subnav-title">Entertainment</h3>
          <a class="mobile__subnav-back" href="#">Back</a>  
        </li>
        <li><a href="#">All</a></li>
        <li><a href="#">Asian Buzz</a></li>
        <li><a href="#">Korean Buzz</a></li>
        <li><a href="#">Hollywood Buzz</a></li>
        <li><a href="#">Music</a></li>
        <li><a href="#">Movies</a></li>
      </ul>
    </li>
    <li class="has-children">
      <a href="#" data-menu-item="lifestyle"><i class="ti-lifestyle"></i>Lifestyle</a>
      <ul>
        <li class="subnav__header">
          <h3 class="mobile__subnav-title">Lifestyle</h3>
          <a class="mobile__subnav-back" href="#">Back</a>
        </li>
        <li><a href="#">All</a></li>
        <li><a href="#">Beauty</a></li>
        <li><a href="#">Fashion</a></li>
        <li><a href="#">Food</a></li>
        <li><a href="#">Around Town</a></li>
        <li><a href="#">Wellness</a></li>
        <li><a href="#">Work</a></li>
        <li><a href="#">Life</a></li>
        <li><a href="#">Relationships</a></li>
        <li><a href="#">Travel</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Contests</a></li>
      </ul>
    </li>
    <li class="has-children">
      <a href="#" data-menu-item="offbeat"><i class="ti-offbeat"></i>Offbeat</a>
      <ul>
        <li class="subnav__header">
          <h3 class="mobile__subnav-title">Offbeat</h3>
          <a class="mobile__subnav-back" href="#">Back</a>
        </li>
        <li><a href="#">All</a></li>
        <li><a href="#">Category 1</a></li>
        <li><a href="#">Category 2</a></li>
        <li><a href="#">Category 3</a></li>
        <li><a href="#">Category 4</a></li>
        <li><a href="#">Category 5</a></li>
      </ul>
    </li>

    <li class="has-children">
      <a href="#"><i class="ti-video"></i>Videos</a>
      <ul>
        <li class="subnav__header">
          <h3 class="mobile__subnav-title">Videos</h3>
          <a class="mobile__subnav-back" href="#">Back</a>
        </li>
        <li><a href="#">TV Shows</a></li>
        <li><a href="#">Toggle Originals</a></li>
        <li><a href="#">Movies</a></li>
        <li><a href="#">Entertainment</a></li>
        <li><a href="#">Premium</a></li>
        <li><a href="#">Watch Now</a></li>
        <li><a href="#">Kids Zone</a></li>
      </ul>
    </li>
    <li class="has-children">
      <a href="#"><i class="ti-tv2"></i>TV</a>
      <ul>
        <li class="subnav__header">
          <h3 class="mobile__subnav-title">TV</h3>
          <a class="mobile__subnav-back" href="#">Back</a>
        </li>
        <li><a href="#">Channel 5</a></li>
        <li><a href="#">Channel 8</a></li>
        <li><a href="#">Channel U</a></li>
        <li><a href="#">Suria</a></li>
        <li><a href="#">Vasantham</a></li>
        <li><a href="#">Okto</a></li>
      </ul>
    </li>
    <li class="mobile__subnav--radio has-children">
      <a href="#"><i class="ti-radio"></i>Radio</a>
      <ul>
        <li class="subnav__header">
          <h3 class="mobile__subnav-title">Radio</h3>
          <a class="mobile__subnav-back" href="#">Back</a>
        </li>
        <li><a href="#">938 live</a></li>
        <li><a href="#">987 fm</a></li>
        <li><a href="#">class 95 FM</a></li>
        <li><a href="#">Gold 90.5 FM</a></li>
        <li><a href="#">Lush 99.0 FM</a></li>
        <li><a href="#">Symphony 92.4 fm</a></li>
        <li><a href="#">Capital 95.8 fm</a></li>
        <li><a href="#">Love 97.2 FM</a></li>
        <li><a href="#">Y.E.S 93.3 FM</a></li>
        <li><a href="#">Ria 89.7 FM</a></li>
        <li><a href="#">Warna 94.2 FM</a></li>
        <li><a href="#">Oli 96.8FM</a></li>
        <li><a href="#">Xfm 96.3 FM</a></li>
      </ul>
    </li>
    <li class="has-children">
      <a href="#"><i class="ti-celebrities"></i>Celebrities</a>
      <ul>
        <li class="subnav__header">
          <h3 class="mobile__subnav-title">Celebrities</h3>
          <a class="mobile__subnav-back" href="#">Back</a>
        </li>
        <li><a href="#">Star Scoops</a></li>
        <li><a href="#">Celebrity Bios</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Contests</a></li>
      </ul>
    </li>
    <li class="mobile__subnav--more has-children">
      <a href="#" data-menu-item="more"><i></i>More</a>
      <ul>
        <li class="subnav__header">
          <h3 class="mobile__subnav-title">More</h3>
          <a class="mobile__subnav-back" href="#">Back</a>
        </li>
        <li class="separator"><h4>Brands</h4></li>
        <li><a href="{{url}}">8 days</a></li>
        <li><a href="{{url}}">Elle</a></li>
        <li><a href="{{url}}">FHM</a></li>
        <li><a href="{{url}}">I Weekly</a></li>
        <li><a href="{{url}}">Mother &amp; Baby</a></li>
        <li><a href="{{url}}">Style</a></li>
        <li><a href="{{url}}">Style: Men</a></li>
        <li><a href="{{url}}">Style: Living</a></li>
        <li><a href="{{url}}">Style: Weddings</a></li>
        <li class="separator"><h4>Explore</h4></li>
        <li><a href="{{url}}">Shop</a></li>
        <li><a href="{{url}}">About </a></li>
      </ul>
    </li>
  </ul>
</div>