<div class="page-wrap">
  <div class="wrap">
    <div class="l-2up--8-4">
      <div class="l-gi">
      {{> organisms-content-grid-full(rows: 3) }}
      </div>
      <div class="l-gi">
        {{> molecules-ad-300x250-block }}
      </div>
    </div>
  </div>
</div>