<section>
  {{> molecules-megaslider}}
</section>

<section>
  {{> molecules-megaslider-single}}
</section>

<section>
  {{> molecules-megaslider-portrait}}
</section>

<section>
  {{> molecules-megaslider-double}}
</section>

<section>
  <div class="wrap">
    <div class="l-2up--8-4">
      <div class="l-gi">
        {{> molecules-megaslider-in-8}}
        {{> molecules-megaslider-in-8-3up}}
        {{> molecules-megaslider-in-8-3up-with-tabs}}
      </div>
      <div class="l-gi">
        
      </div>
    </div>
  </div>
</section>

<section>
  <div class="wrap">
    <div class="l-2up--8-4">
      <div class="l-gi">
    
      </div>
      <div class="l-gi">
        {{> molecules-megaslider-in-4}}
      </div>
    </div>
  </div>
</section>

<section>
  {{> molecules-megaslider-collapsible}}
</section>

<section>
  {{> molecules-megaslider-collapsible-with-tabs}}
</section>

<section>
  {{> molecules-megaslider-collapsible-double-with-tabs}}
</section>

<section>
  {{> molecules-megaslider-collapsible-portrait-with-tabs}}
</section>