<div class="pp-wrap">
    <div class="pp-arrow left"></div>
    <div class="pp-arrow right"></div>
    <div class="scrollable">
        <table class="pp-table" style="width: auto;">
            <thead>
                <tr>
                    <th class="pp-cellout"></th>
                    <th>
                        <!--div class="pp-promo"-->
                            <img src="/blob/5837372/47e357abc35eebcf2f7d0c025b84af16/pp-toggleprime-data.png">
                            <!--span>40%</span-->
                        <!--/div-->
                        
                    </th>
                    <th>
                        <img src="/blob/5837374/87e0e5c7b4a8a4a77ade453ff8963906/pp-sportsmania-data.png"/>
                    </th>
                    <th>
                        <img src="/blob/5837374/87e0e5c7b4a8a4a77ade453ff8963906/pp-sportsmania-data.png"/>
                    </th>
                    <th>
                        <img src="/blob/5837374/87e0e5c7b4a8a4a77ade453ff8963906/pp-sportsmania-data.png"/>
                    </th>
                </tr>

                <tr>
                    <th class="pp-cellout"><div class="pp-valign pp-subheader">Select the package that best suits your needs</div></th>
                    <th>
                        <sup>$</sup><span class="pp-price">5.90</span> <sub>monthly</sub>
                    </th>
                    <th>
                        <sup>$</sup><span class="pp-price">19.90</span> <sub>monthly</sub>
                    </th>
                    <th>
                        <sup>$</sup><span class="pp-price">24.90</span> <sub>monthly</sub>
                    </th>
                    <th>
                        <sup>$</sup><span class="pp-price">214.90</span> <sub>upfront</sub>
                    </th>
                </tr>

                <tr>
                    <th class="pp-cellout"></td>
                    <th>Prepay $70.80 for 12 mths. $9.90 per mth applies from 13th mth.</th>
                    <th>No Contract. Recurring monthly payment.</th>
                    <th>12-month contract. $24.90/mth applies from 13th mth.</th>
                    <th>Prepay $214.90 for 12 mths. $24.90/mth applies from 13th mth.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="pp-cellout">
                        <div class="pp-valign">Promotion</div>
                    </td>
                    <td>
                        <a href="http://toggle.sg/promo" class="pp-discount2" target="_blank">FREE 1-For-1
                Dining Deal</a></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><a href="http://toggle.sg/promo" class="pp-discount2" target="_blank">FREE 1-For-1
                Dining Deal</a></td>
                </tr>

                <tr>
                    <td class="pp-cellout">
                        <div class="pp-pop">
                            <h1>Toggle Sports <span class="pp-more"></span></h1>
                            <div class="pp-details">
                                <p>Premier League</p>
                                <ul>
                                    <li>3 LIVE Matches &amp; 3 Delayed matches per match week</li>
                                    <li>Other Premium Football Leagues &amp; Global Sporting Action from Eleven Sports Network</li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td><span class="pp-crossout"></span></td>
                    <td><span class="pp-check"></span></td>
                    <td><span class="pp-check"></span></td>
                    <td><span class="pp-check"></span></td>
                </tr>
                <tr>
                    <td class="pp-cellout">
                        <div class="pp-pop">
                            <h1>Toggle-It-First <span class="pp-more"></span></h1>
                            <div class="pp-details">
                                <ul>
                                    <li>Mediacorp series 7 Days ahead</li>
                                    <li>Toggle Originals' full series/ binge-watch</li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td><span class="pp-check"></span></td>
                    <td><span class="pp-crossout"></span></td>
                    <td><span class="pp-crossout"></span></td>
                    <td><span class="pp-crossout"></span></td>
                </tr>
                <tr>
                    <td class="pp-cellout">
                        <div class="pp-pop">
                            <h1>TOGGLE KIDS channels <span class="pp-more"></span></h1>
                            <div class="pp-details">
                                <ul>
                                    <li>Miao Mi</li>
                                    <li>Nick Jr. </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td><span class="pp-check"></span></td>
                    <td><span class="pp-crossout"></span></td>
                    <td><span class="pp-crossout"></span></td>
                    <td><span class="pp-crossout"></span></td>
                </tr>
                <tr>
                    <td class="pp-cellout">
                        <div class="pp-pop">
                            <h1>More than 4,500 hours of On-demand Library<span class="pp-more"></span></h1>
                            <div class="pp-details">
                                <ul>
                                    <li>ABC Studios On Demand</li>
                                    <li>Bloomberg TV</li>
                                    <li>Disney Movies On Demand</li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td><span class="pp-check"></span></td>
                    <td><span class="pp-crossout"></span></td>
                    <td><span class="pp-crossout"></span></td>
                    <td><span class="pp-crossout"></span></td>
                </tr>
                <tr>
                    <td class="pp-cellout"></td>
                    <td><a href="http://dev3.toggle.sg/checkout-new/en-prime/244335" class="pp-btn">Select</a></td>
                    <td><a href="http://dev3.toggle.sg/checkout-new/en-prime/309244" class="pp-btn">Select</a></td>
                    <td><a href="http://dev3.toggle.sg/checkout-new/en-prime/309242" class="pp-btn">Select</a></td>
                    <td><a href="http://dev3.toggle.sg/checkout-new/en-prime/309242" class="pp-btn">Select</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
jQuery(document).ready(function($) {

    function resizeRow() {
        // $(".pp-cellout").each(function() {
        //     var tr_h = $(this).parent().height();
        //     var cell_h = $(this).height();
        //     $(this).parent().height((tr_h > cell_h)?tr_h:cell_h+10);
        // });
        var max = 0;    
        $('.pp-cellout').each(function() {
            max = Math.max($(this).outerHeight(), max);
            // console.log(max);
        }).parent().height(max);

    }
    resizeRow();

    var screenSize = new winprops().screen;
    $(window).resize($.debounce(150, false, function() {
        screenSize = new winprops().screen;
        resizeRow();
    }));


    $('.pp-cellout').click(function(e) {
        // if (screenSize < 980) {
        if (e.target.tagName == "SPAN" || e.target.nodeName == "SPAN") {
            var hasMore = $(this).find('.pp-pop').length;
            if (hasMore) {
                if (!$(this).data("title")) {
                    var _title = $(this).find('h1').text();
                    $(this).attr('data-title', _title);
                }
                if (this.className == "pp-cellout") {
                    $(this).addClass('is-clicked');
                    return;
                } else if (this.className == "pp-cellout is-clicked") {
                    $(this).removeClass("is-clicked");
                }
            }
        } else if (e.target.className == "pp-cellout is-clicked") {
            $(this).removeClass("is-clicked");
        }

        // }

    });

    var scr = document.getElementsByClassName('scrollable');
    var pct = ((scr[0].scrollLeft + scr[0].clientWidth) / scr[0].scrollWidth) * 100;
    var tdw = $('.pp-table').find('td')[1];


    function moveRight(elem) {
        var NumRows = Math.floor(scr[0].clientWidth / tdw.clientWidth);
        // var newPos = scr[0].scrollLeft + scr[0].clientWidth;
        var newPos = scr[0].scrollLeft + (tdw.clientWidth * NumRows);

        $(scr).animate({
            scrollLeft: newPos
        });
        if ((scr[0].scrollLeft + (scr[0].clientWidth * 2)) >= (scr[0].scrollWidth - 10)) {
            $(elem).hide()
        }
        $('.left:hidden').show();
    }

    function moveLeft(elem) {
        var NumRows = Math.floor(scr[0].clientWidth / tdw.clientWidth);
        // var newPos = scr[0].scrollLeft - scr[0].clientWidth;
        var newPos = scr[0].scrollLeft - (tdw.clientWidth * NumRows);
        $(scr).animate({
            scrollLeft: newPos
        });
        if ((scr[0].scrollLeft - scr[0].clientWidth) <= 5) {
            $(elem).hide()
        }
        $('.right:hidden').show();
    }

    $('.right').click(function() {
        moveRight(this);
    });
    $('.left').click(function() {
        moveLeft(this);
    });

    function adjustColumns(tColumns) {
        var colW = document.getElementsByClassName("scrollable");
        var table = document.getElementsByClassName("pp-table");
        var tableW = colW[0].clientWidth * tColumns;
        if (screenSize <= 414) {
            $(table).find('td:not(.pp-cellout)').width(tableW / tColumns);
            table[0].style.width = tableW + "px";
        } else {
            $(table).find('td:not(.pp-cellout)').css({
                'width': 100 / tColumns + '%'
            });
            table[0].style.width = "100%";
        }
    }
    var countTds = $('.pp-table tr:first-child > td').length - 1;
    adjustColumns(countTds);
    $(window).resize($.debounce(150, false, function() {
        screenSize = new winprops().screen;
        adjustColumns(countTds);
    }));

});
</script>
