<div class="top">
    <div class="container">
        <div class="logo-mediacorp"></div>
        <div class="clear"></div>
    </div>
    <div class="steps">
        <ul class="steps--list">
            <li><span></span></li>
            <li><span></span></li>
            <li class="step-on"><span></span></li>
            <li><span></span></li>
        </ul>
    </div>
</div>
