
<div class="megaslider-container-holder">

    <section>
    {{> molecules-megaslider-collapsible-with-tabs(slider-title: TV, type: video)}}
  </section>

  <section>
    {{> molecules-megaslider-collapsible(slider-title: Entertainment, type: video, class:entertainment) }}
  </section>

  <section>
    {{> molecules-megaslider-collapsible(slider-title: Offbeat, type: video, class:offbeat) }}
  </section>

  <section>
    {{> molecules-megaslider-single-collapsible(slider-title: Popular Videos, type: video)}}
  </section>

  <section>
    {{> molecules-megaslider-single-collapsible(slider-title: Recommended, type: video)}}
  </section>


</div>