<div class="page-wrap">
  <div class="wrap">
    <div class="l-2up--8-4">
      <div class="l-gi">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor cumque reiciendis unde ut facilis est, repudiandae reprehenderit blanditiis magnam consectetur amet, sequi aut. Soluta nobis distinctio odio, earum magni nulla.</p>
        <div class="split-insert" data-split-index="0"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor cumque reiciendis unde ut facilis est, repudiandae reprehenderit blanditiis magnam consectetur amet, sequi aut. Soluta nobis distinctio odio, earum magni nulla.</p>
        <div class="split-insert" data-split-index="1"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor cumque reiciendis unde ut facilis est, repudiandae reprehenderit blanditiis magnam consectetur amet, sequi aut. Soluta nobis distinctio odio, earum magni nulla.</p>
      </div>

      <div class="l-gi split-grid">
        <div data-split-index="0"> 0 </div>
        <div data-split-index="1"> 1 </div>
        <div>static</div>
        <div>static</div>
        <div>static</div>
      </div>
    </div>
  </div>
</div>