{{> atoms-revisions(r:2) }}
<div class="page-wrap">
  <section>
    <div class="wrap">
      <div class="l-2up--8-4">
        <div class="l-gi">
          {{> organisms-vertical-list(list-title:Episodes) }}
        </div>
        <div class="l-gi"></div>
      </div>
    </div>
  </section>
</div>

