<!-- start local nav -->
<div class="nav-local-holder">
  <nav class="nav nav--local">
    <div>
      <div class="wrap">
        <!-- start nav-local__page-info -->
        <ul class="nav--local__page-info">
          <li><a class="is-active" href="{{ url }}"><span>Menu</span></a></li>
        </ul>
        <!-- end nav-local__page-info -->

        <!-- start toggle for local nav -->
        <div class="local-nav-label"></div>
        <!-- end toggle for local nav -->
        <!-- start actual local nav -->
        <div class="nav">
          <ul class="nav__list" data-more-limit="4">
            <li><a href="{{ url }}">Home</a></li>
            <li><a href="{{ url }}">Home</a></li>
            <li><a href="{{ url }}">Home</a></li>
            <li><a href="{{ url }}">Home</a></li>
            <li><a href="{{ url }}">Home</a></li>
            <li><a href="{{ url }}">Home</a></li>
            <li><a href="{{ url }}">Home</a></li>
            <li><a href="{{ url }}">Home</a></li>
            <li><a href="{{ url }}">Home</a></li>
            <li><a href="{{ url }}">Episodes</a></li>
            <li><a href="{{ url }}">Extras</a></li>
            <li><a href="{{ url }}">Latest News</a></li>
            <li><a href="{{ url }}">Gallery</a></li>
            <li><a href="{{ url }}">A - Z</a></li>
            <li><a href="{{ url }}">Another Item</a></li>
            <li><a href="{{ url }}">More 1</a></li>
            <li><a href="{{ url }}">More 2</a></li>
            <li class="dropdown">
              <a href="{{ url }}">More</a>
              <ul></ul>
            </li>
          </ul>
          <!-- end actual local nav -->
        </div>

      </div>
    </div>
  </nav>
</div>

<!-- /end local nav -->

