<div class="pagination" data-active-page="1">
  <span class="pagination__title">Page</span>
  <ul class="pagination__list">
    <li class="pagination__prev is-disabled">
      <a href="{{ url }}">Previous</a>
    </li>

    <li class="pagination__item is-active" data-page="1">
      <a href="#">1</a>
    </li>
    <li class="pagination__item" data-page="2">
      <a href="#">2</a>
    </li>
    <li class="pagination__item" data-page="3">
      <a href="#">3</a>
    </li>
    <li class="pagination__item" data-page="4">
      <a href="#">4</a>
    </li>
    <li class="pagination__item" data-page="5">
      <a href="#">5</a>
    </li>
    <li class="pagination__ellipses">
      <span>...</span>
    </li>
    <li class="pagination__item" data-page="72">
      <a href="#">72</a>
    </li>
    <li class="pagination__next">
      <a href="{{ url }}">Next</a>
    </li>
  </ul>
</div>