<!-- start of breadcrumbs -->
<div class="wrap">
  <ul class="breadcrumbs">
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">Sub-page XXX</a>
    </li>
    <li>
      <a href="#">Sub-page XXX</a>
    </li>
    <li>
      Sub-page XXX
    </li>
  </div>
<!-- end of breadcrumbs -->