<!-- start quicklinks nav -->
<div class="nav-quicklinks-holder">
  <nav class="nav nav--quicklinks">
    <div>
      <div class="wrap">
        <!-- start nav-quicklinks__page-info -->
        <ul class="nav--quicklinks__page-info">
          <li>Quick Links</li>
        </ul>
        <!-- end nav-quicklinks__page-info -->

        <!-- start toggle for quicklinks nav -->
        <div class="quicklinks-nav-label"></div>
        <!-- end toggle for quicklinks nav -->
        <!-- start actual quicklinks nav -->
        <div class="nav">
          <ul class="nav__list">
            <li class="dropdown collapsible quicklinks__tv" data-collapse-till="larger">
              <h6 class="collapsible__title">
                <a href="{{ url }}"><i class="ti-tv"></i> TV Guide</a>
                <span class="collapsible__toggle">
                  <i></i>
                </span>
              </h6>
              <ul class="collapsible__body">
                <li><a href="{{ url }}"><i class="i-channel5"></i>Channel 5</a>
                  <span><a href="#"><i class="i-radio-play"></i></a></span></li>
                <li><a href="{{ url }}"><i class="i-channel8"></i>Channel 8</a>
                  <span><a href="#"><i class="i-radio-play"></i></a></span></li>
                <li><a href="{{ url }}"><i class="i-channelu"></i>Channel U</a>
                  <span><a href="#"><i class="i-radio-play"></i></a></span></li>
                <li><a href="{{ url }}"><i class="i-suria"></i>Suria</a>
                  <span><a href="#"><i class="i-radio-play"></i></a></span></li>
                <li><a href="{{ url }}"><i class="i-okto"></i>OKTO</a>
                  <span><a href="#"><i class="i-radio-play"></i></a></span></li>
                <li><a href="{{ url }}"><i class="i-vasantham"></i>Vasantham</a>
                  <span><a href="#"><i class="i-radio-play"></i></a></span></li>
                <li><a href="{{ url }}"><i class="i-cna"></i>Channel NewsAsia</a>
                  <span><a href="#"><i class="i-radio-play"></i></a></span></li>
              </ul>
            </li>
            <li class="dropdown collapsible" data-collapse-till="larger">
              <h6 class="collapsible__title">
                <a href="{{ url }}"><i class="ti-clock"></i> Listen Live</a>
                <span class="collapsible__toggle">
                  <i></i>
                </span>
              </h6>
              <ul class="collapsible__body col-2">
                <li><a href="{{ url }}"><i class="i-938"></i>938 Live</a>
                  <span><a href="#"><i class="i-radio-play"></i></a></span></li>
                <li><a href="{{ url }}"><i class="i-987"></i>987 FM</a>
                  <span><a href="#"><i class="i-radio-play"></i></a></span></li>
                <li><a href="{{ url }}"><i class="i-950"></i>Class 95FM</a>
                  <span><a href="#"><i class="i-radio-play"></i></a></span></li>
                <li><a href="{{ url }}"><i class="i-905"></i>Gold 90.5FM</a>
                  <span><a href="#"><i class="i-radio-play"></i></a></span></li>
                <li><a href="{{ url }}"><i class="i-995"></i>Lush 99.5FM</a>
                  <span><a href="#"><i class="i-radio-play"></i></a></span></li>
                <li><a href="{{ url }}"><i class="i-924"></i>Symphony 92.4FM</a>
                  <span><a href="#"><i class="i-radio-play"></i></a></span></li>
                <li><a href="{{ url }}"><i class="i-958"></i>Capital 95.8FM</a>
                  <span><a href="#"><i class="i-radio-play"></i></a></span></li>
                <li><a href="{{ url }}"><i class="i-933"></i>Y.E.S.93.3FM</a>
                  <span><a href="#"><i class="i-radio-play"></i></a></span></li>
                <li><a href="{{ url }}"><i class="i-972"></i>Love 97.2FM</a>
                  <span><a href="#"><i class="i-radio-play"></i></a></span></li>
                <li><a href="{{ url }}"><i class="i-897"></i>Ria 89.7FM</a>
                  <span><a href="#"><i class="i-radio-play"></i></a></span></li>
                <li><a href="{{ url }}"><i class="i-942"></i>Warma 94.2FM</a>
                  <span><a href="#"><i class="i-radio-play"></i></a></span></li>
                <li><a href="{{ url }}"><i class="i-968"></i>Oli 96.8FM</a>
                  <span><a href="#"><i class="i-radio-play"></i></a></span></li>
                <li><a href="{{ url }}"><i class="i-963x"></i>Xfm 96.3</a>
                  <span><a href="#"><i class="i-radio-play"></i></a></span></li>
              </ul>
            </li>
            <li class="dropdown collapsible drop-left" data-collapse-till="larger">
              <h6 class="collapsible__title">
                <a href="{{ url }}"><i class="ti-play"></i> Menu Item</a>
                <span class="collapsible__toggle">
                  <i></i>
                </span>
              </h6>
              <ul class="collapsible__body col-3 ">
               <li><a href="{{ url }}">Menu Option 1</a></li>
               <li><a href="{{ url }}">Menu Option 2</a></li>
               <li><a href="{{ url }}">Menu Option 3</a></li>
               <li><a href="{{ url }}">Menu Option 4</a></li>
               <li><a href="{{ url }}">Menu Option 5</a></li>
               <li><a href="{{ url }}">Menu Option 6</a></li>
               <li><a href="{{ url }}">Menu Option 7</a></li>
               <li><a href="{{ url }}">Menu Option 8</a></li>
               <li><a href="{{ url }}">Menu Option 9</a></li>
               <li><a href="{{ url }}">Menu Option 10</a></li>
               <li><a href="{{ url }}">Menu Option 11</a></li>
               <li><a href="{{ url }}">Menu Option 12</a></li>
               <li><a href="{{ url }}">Menu Option 13</a></li>
               <li><a href="{{ url }}">Menu Option 14</a></li>
               <li><a href="{{ url }}">Menu Option 15</a></li>
               <li><a href="{{ url }}">Menu Option 16</a></li>
               <li><a href="{{ url }}">Menu Option 17</a></li>
             </ul>
           </li>
           <li><a href="{{ url }}">Featured Microsite</a></li>
           <li><a href="{{ url }}">Star Awards</a></li>
           <li><a href="{{ url }}">Vote for Star Awards</a></li>  
         </ul>
       </div>

     </div>
   </div>
 </nav>
</div>

<!-- /end quicklinks nav -->

