<div class="section-header {{#section-header__has-logo}}neutral{{/section-header__has-logo}}">
	<div class="wrap">
		<div class="section-header__outer">
			<div class="section-header__title">
				{{^section-header__parent--none}}
				<span>
					<a href="#">{{#section-header__has-logo}} <i class="i-channelu--st"></i> {{/section-header__has-logo}}{{section-header__parent}}</a>
				</span>
				{{/section-header__parent--none}}
				<span>
					<a href="#" data-dotdot="1">{{section-header__title}}</a>
				</span>
			</div>
		</div>
	</div>
</div>