<div class="styleguide">
  <div class="page-wrap">
    <section>
      <div class="wrap">
        <h1 class="styleguide__title">Colour Usage</h1>
        <p>Overall color scheme is light and neutral, to enable content to stand out, with the brand colour of Toggle.sg providing the primary highlight. A strong bold range of selected colors to categorize content visually.</p>
        <div class="l-3up">
          <div class="l-gi"> {{> atoms-color-palette(color: #1E1E1E, t: "Black")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #E6E6E6, t: "Gray")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #999999, t: "Secondary Gray")}} </div>
        </div>
      </div>
    </section>
    <section>
      <div class="wrap">
        <h2>Dominant Colours</h2>
        <p>Dominant Colors only appears on its dominant page. The default dominent color is the toggle pink. These colors are usedly mainly for accents and links</p>
        <h4 class="styleguide__sub-section">Primary Section</h4>
        <div class="l-4up">
          <div class="l-gi"> {{> atoms-color-palette(color: #D81182, t: "Toggle")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #3691CF, t: "Entertainment")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #884086, t: "Lifestyle")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #4DAAAC, t: "Offbeat")}} </div>
        </div>
      </div>
    </section>
    <section>
      <div class="wrap">
        <h4 class="styleguide__sub-section">TV</h4>
        <div class="l-3up">
          <div class="l-gi"> {{> atoms-color-palette(color: #2F78CE, t: "Channel 5")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #DB4334, t: "Channel 8")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #4CA9AB, t: "Channel U")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #ED6D3B, t: "Octo")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #E6A33D, t: "Suria")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #48AFDF, t: "Vasantham")}} </div>
        </div>
      </div>
    </section>
    <section>
      <div class="wrap">
        <h4 class="styleguide__sub-section">Radio</h4>
        <div class="l-3up">
          <div class="l-gi"> {{> atoms-color-palette(color: #96B333, t: "938 Live")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #DB4B7F, t: "987 FM")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #DF4435, t: "Capital 958")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #7C88B1, t: "Class 95")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #EE8B3D, t: "Expat Radio")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #C89749, t: "Gold 90.5")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #1961AB, t: "Love 97.2 FM")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #A260B3, t: "Lush 99.5 FM")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #2363ED, t: "OLI 968")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #EB483B, t: "Ria 89.7")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #5B5DA8, t: "Symphony 92.4")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #50A137, t: "Warna 94.2")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #2252B7, t: "Yes 93.3")}} </div>
        </div>
      </div>
    </section>
  </div>
  <div class="page-wrap darkbg">
    <section>
      <div class="wrap">
        <h1 class="styleguide__title">Colour Usage</h1>
        <p>Overall color scheme is light and neutral, to enable content to stand out, with the brand colour of Toggle.sg providing the primary highlight. A strong bold range of selected colors to categorize content visually.</p>
        <div class="l-3up">
          <div class="l-gi"> {{> atoms-color-palette(color: #FFFFFF, t: "White")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #484848, t: "Gray")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #939393, t: "Secondary Gray")}} </div>
        </div>
      </div>
    </section>
    <section>
      <div class="wrap">
        <h2>Dominant Colours</h2>
        <p>Dominant Colors only appears on its dominant page. The default dominent color is the toggle pink. These colors are usedly mainly for accents and links</p>
        <h4 class="styleguide__sub-section">Primary Section</h4>
        <div class="l-4up">
          <div class="l-gi"> {{> atoms-color-palette(color: #D81182, t: "Toggle")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #3691CF, t: "Entertainment")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #884086, t: "Lifestyle")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #4DAAAC, t: "Offbeat")}} </div>
        </div>
      </div>
    </section>
    <section>
      <div class="wrap">
        <h4 class="styleguide__sub-section">TV</h4>
        <div class="l-3up">
          <div class="l-gi"> {{> atoms-color-palette(color: #2F78CE, t: "Channel 5")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #DB4334, t: "Channel 8")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #4CA9AB, t: "Channel U")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #ED6D3B, t: "Octo")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #E6A33D, t: "Suria")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #48AFDF, t: "Vasantham")}} </div>
        </div>
      </div>
    </section>
    <section>
      <div class="wrap">
        <h4 class="styleguide__sub-section">Radio</h4>
        <div class="l-3up">
          <div class="l-gi"> {{> atoms-color-palette(color: #96B333, t: "938 Live")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #DB4B7F, t: "987 FM")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #DF4435, t: "Capital 958")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #7C88B1, t: "Class 95")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #EE8B3D, t: "Expat Radio")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #C89749, t: "Gold 90.5")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #1961AB, t: "Love 97.2 FM")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #A260B3, t: "Lush 99.5 FM")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #2363ED, t: "OLI 968")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #EB483B, t: "Ria 89.7")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #5B5DA8, t: "Symphony 92.4")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #50A137, t: "Warna 94.2")}} </div>
          <div class="l-gi"> {{> atoms-color-palette(color: #2252B7, t: "Yes 93.3")}} </div>
        </div>
      </div>
    </section>
  </div>
</div>
</div>