<div class="styleguide">
  <div class="page-wrap">
    <section>
      <div class="wrap">
        <h1 class="styleguide__title">Typography</h1>
          <p>Neutrality of Proxima Nova shifts focus onto pictures. Single font use directs attention to content. This should be used throughout all webpages.</p>
          <p>Exceptions are only for self-contained pictures and banners where the typography is integrated into the image. A ‘light’ font weight is predominantly used, consistent with a modern and neutral outlook.</p>
          <h4 class="styleguide__sub-section">HEADERS</h4>
          <h1>Header 1</h1>
          <h2>Header 2</h2>
          <h3>Header 3</h3>
          <h4>Header 4</h4>
          <h5>Header 5</h5>
          <h4 class="styleguide__sub-section">BODY</h4>
          <p class="meta">Meta 1 | Meta 2 | Meta 3</p>
          <p class="credit">Credit</p>
          <p class="big">Big lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <p>lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <blockquote>"I actually thought about this idea when I was discussing my role with the production team months ago and they actually liked it!"</blockquote>
          <h4 class="styleguide__sub-section">HEADER LINKS</h4>
          <a href="#" class="h1">Header 1 Link</a><br><br>
          <a href="#" class="h2">Header 2 Link</a><br><br>
          <a href="#" class="h3">Header 3 Link</a><br><br>
          <a href="#" class="h4">Header 4 Link</a><br><br>
          <h4 class="styleguide__sub-section">BODY LINKS</h4>
          <a href="#">This is a text link</a>
      </div>
    </section>
  </div>
    <div class="page-wrap darkbg">
        <section>
            <div class="wrap">
                <h1 class="styleguide__title">Typography</h1>
                <p>Neutrality of Proxima Nova shifts focus onto pictures. Single font use directs attention to content. This should be used throughout all webpages.</p>
                <p>Exceptions are only for self-contained pictures and banners where the typography is integrated into the image. A ‘light’ font weight is predominantly used, consistent with a modern and neutral outlook.</p>
                <h4 class="styleguide__sub-section">HEADERS</h4>
                <h1>Header 1</h1>
                <h2>Header 2</h2>
                <h3>Header 3</h3>
                <h4>Header 4</h4>
                <h5>Header 5</h5>
                <h4 class="styleguide__sub-section">BODY</h4>
                <p class="meta">Meta 1 | Meta 2 | Meta 3</p>
                <p class="credit">Credit</p>
                <p class="big">Big lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <blockquote>"I actually thought about this idea when I was discussing my role with the production team months ago and they actually liked it!"</blockquote>
                <h4 class="styleguide__sub-section">HEADER LINKS</h4>
                <a href="#" class="h1">Header 1 Link</a><br><br>
                <a href="#" class="h2">Header 2 Link</a><br><br>
                <a href="#" class="h3">Header 3 Link</a><br><br>
                <a href="#" class="h4">Header 4 Link</a><br><br>
                <h4 class="styleguide__sub-section">BODY LINKS</h4>
                <a href="#">This is a text link</a>
            </div>
        </section>
    </div>
</div>