<div class="styleguide">
  <div class="page-wrap">
    <section>
      <div class="wrap">
        <h1 class="styleguide__title">Button States</h1>
        <p>Button colours should be in line with their hierarchy status. Here, since 'Share' and 'Favourites' belong to the top level, they use the Toggle Pink. We are showing two types here for the time being - 'Action' where the user clicks to do a simple action & 'State' where the button needs to indicate state.</p>
        <h4 class="styleguide__sub-section">Action</h4>
        <p>{{> atoms-sharebutton}}</p>
        <h4 class="styleguide__sub-section">State</h4>
        <p>{{> atoms-favouritebutton}}</p>
        <p>{{> atoms-favouritebutton(c:"selected")}}</p>
      </div>
    </section>
  </div>
  <div class="page-wrap darkbg">
    <section>
      <div class="wrap">
        <h1 class="styleguide__title">Button States</h1>
        <p>Button colours should be in line with their hierarchy status. Here, since 'Share' and 'Favourites' belong to the top level, they use the Toggle Pink. We are showing two types here for the time being - 'Action' where the user clicks to do a simple action & 'State' where the button needs to indicate state.</p>
        <h4 class="styleguide__sub-section">Action</h4>
        <p>{{> atoms-sharebutton}}</p>
        <h4 class="styleguide__sub-section">State</h4>
        <p>{{> atoms-favouritebutton}}</p>
        <p>{{> atoms-favouritebutton(c:"selected")}}</p>
      </div>
    </section>
  </div>
</div>