<div class="widget schedule-list">
  <h4 class="widget__title">TV Schedule</h4>
  <a href="{{url}}" class="view-more">full tv guide ></a>
  <ul>
    <li class="widget__item">{{> molecules-tv-schedule-list-item }}</li>
    <li class="widget__item">{{> molecules-tv-schedule-list-item }}</li>
    <li class="widget__item">{{> molecules-tv-schedule-list-item }}</li>
    <li class="widget__item">{{> molecules-tv-schedule-list-item }}</li>
    <li class="widget__item">{{> molecules-tv-schedule-list-item }}</li>
    <li class="widget__item">{{> molecules-tv-schedule-list-item }}</li>
  </ul>
</div>