<div class="l-2up--4-4">
	<div class="l-gi a-z-listing">
		<h6><a href="href:"#"">Content Title: Lorem ipsum dolor lorem ipsum dolor sit amet</a></h6>
		<h6><a href="href:"#"">Content Title: Lorem ipsum dolor lorem ipsum dolor sit amet</a></h6>
		<h6><a href="href:"#"">Content Title: Lorem ipsum dolor lorem ipsum dolor sit amet</a></h6>
		<h6><a href="href:"#"">Content Title: Lorem ipsum dolor lorem ipsum dolor sit amet</a></h6>
		<h6><a href="href:"#"">Content Title: Lorem ipsum dolor lorem ipsum dolor sit amet</a></h6>
		<h6><a href="href:"#"">Content Title: Lorem ipsum dolor lorem ipsum dolor sit amet</a></h6>
		<h6><a href="href:"#"">Content Title: Lorem ipsum dolor lorem ipsum dolor sit amet</a></h6>
		<h6><a href="href:"#"">Content Title: Lorem ipsum dolor lorem ipsum dolor sit amet</a></h6>
		<h6><a href="href:"#"">Content Title: Lorem ipsum dolor lorem ipsum dolor sit amet</a></h6>
		<h6><a href="href:"#"">Content Title: Lorem ipsum dolor lorem ipsum dolor sit amet</a></h6>
		<h6><a href="href:"#"">Content Title: Lorem ipsum dolor lorem ipsum dolor sit amet</a></h6>
		<h6><a href="href:"#"">Content Title: Lorem ipsum dolor lorem ipsum dolor sit amet</a></h6>
	</div>
	<div class="l-gi a-z-listing">
		<h6><a href="href:"#"">Content Title: Lorem ipsum dolor lorem ipsum dolor sit amet</a></h6>
		<h6><a href="href:"#"">Content Title: Lorem ipsum dolor lorem ipsum dolor sit amet</a></h6>
		<h6><a href="href:"#"">Content Title: Lorem ipsum dolor lorem ipsum dolor sit amet</a></h6>
		<h6><a href="href:"#"">Content Title: Lorem ipsum dolor lorem ipsum dolor sit amet</a></h6>
		<h6><a href="href:"#"">Content Title: Lorem ipsum dolor lorem ipsum dolor sit amet</a></h6>
		<h6><a href="href:"#"">Content Title: Lorem ipsum dolor lorem ipsum dolor sit amet</a></h6>
		<h6><a href="href:"#"">Content Title: Lorem ipsum dolor lorem ipsum dolor sit amet</a></h6>
		<h6><a href="href:"#"">Content Title: Lorem ipsum dolor lorem ipsum dolor sit amet</a></h6>
		<h6><a href="href:"#"">Content Title: Lorem ipsum dolor lorem ipsum dolor sit amet</a></h6>
		<h6><a href="href:"#"">Content Title: Lorem ipsum dolor lorem ipsum dolor sit amet</a></h6>
		<h6><a href="href:"#"">Content Title: Lorem ipsum dolor lorem ipsum dolor sit amet</a></h6>
	</div>
</div>