<div class="events-list widget">
  <h4 class="widget__title">Events</h4>
  <ul>
    <li class="events-list__item widget__item">{{> molecules-events-list-item }}</li>
    <li class="events-list__item widget__item">{{> molecules-events-list-item }}</li>
    <li class="events-list__item widget__item">{{> molecules-events-list-item }}</li>
    <li class="events-list__item widget__item">{{> molecules-events-list-item }}</li>
    <li class="events-list__item widget__item">{{> molecules-events-list-item }}</li>
    <li class="events-list__item widget__item">{{> molecules-events-list-item }}</li>
  </ul>
</div>