<div class="twitter-list widget">
  <h4 class="widget__title">Social Media</h4>
  <ul>
    <li class="twitter-list__item widget__item">{{> molecules-twitter-list-item }}</li>
    <li class="twitter-list__item widget__item">{{> molecules-twitter-list-item }}</li>
    <li class="twitter-list__item widget__item">{{> molecules-twitter-list-item }}</li>
    <li class="twitter-list__item widget__item">{{> molecules-twitter-list-item }}</li>
    <li class="twitter-list__item widget__item">{{> molecules-twitter-list-item }}</li>
    <li class="twitter-list__item widget__item">{{> molecules-twitter-list-item }}</li>
  </ul>
</div>