<h1 id="advertisements">Advertisements</h1>

<h2 id="skinads">Skin Ads</h2>

<p>Skin ads must be configured on a page by page basis and requires some coding setup by Ufinity. </p>

<p>Pages do not have ad skins by default, and the grid structures will stretch to 100% of the browser width (up to a maximum of 1920px). </p>

<p>If a skin has to be added, the <code>&lt;body&gt;</code> must be given a class of <code>has-skin</code> and the skin grid block is added before the navigation. </p>
<pre><code class="html">&lt;body class=&quot;has-skin&quot;&gt;
  &lt;div class=&quot;page-wrap&quot;&gt;
    &lt;!-- skin here --&gt;
    &lt;!-- primary nav here --&gt;
  &lt;/div&gt;
&lt;/body&gt;</code></pre>