<h1 id="commonlyusedstructures">Commonly used structures</h1>

<p>This is a list of commonly used structures across Toggle. Click on the link to see how it looks like, and how to code it. </p>

<ul>
<li><a href="#.l-12">.l&#8211;12</a></li>
<li><a href="#.l-2up--8-4">.l&#8211;2up&#8211;8&#8211;4</a></li>
<li><a href="#.l-3up">.l&#8211;3up</a></li>
<li><a href="#.l-3up--reflow">.l&#8211;3up&#8211;reflow</a></li>
<li><a href="#.l-3up--feed">.l&#8211;3up&#8211;feed</a></li>
<li><a href="#.l-4up">.l&#8211;4up</a></li>
<li><a href="#.l-4up--reflow">.l&#8211;4up&#8211;reflow</a></li>
</ul>

<h1 id="listofallstructures">List of all structures</h1>

<p>This is a list of all structures created for Phoenix. Feel free to resize your browser and see how it responds to different viewports.</p>

<h2 id=".l-12">.l&#8211;12</h2>

<p>Number of <code>.l-gi</code> items: unlimited. </p>
<div class="demo l-12">
 <div class="l-gi demo__item">12</div>
</div>

<h4 id="code">Code</h4>
<pre><code class="html">&lt;div class=&quot;l-full&quot;&gt;
  &lt;div class=&quot;l-gi&quot;&gt;12&lt;/div&gt;
&lt;/div&gt;</code></pre>

<h2 id=".l-2up--1-11">.l&#8211;2up&#8211;1&#8211;11</h2>

<p>Number of <code>.l-gi</code> items: 2. </p>
<div class="demo l-2up--1-11">
 <div class="l-gi demo__item"> 1 </div>
 <div class="l-gi demo__item"> 11 </div>
</div>

<h4 id="code">Code</h4>
<pre><code class="html">&lt;div class=&quot;l-2up--1-11&quot;&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 1 &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 11 &lt;/div&gt;
&lt;/div&gt;</code></pre>

<h2 id=".l-2up--2-10">.l&#8211;2up&#8211;2&#8211;10</h2>

<p>Number of <code>.l-gi</code> items: 2. </p>
<div class="demo l-2up--2-10">
 <div class="l-gi demo__item"> 2 </div>
 <div class="l-gi demo__item"> 10 </div>
</div>

<h4 id="code">Code</h4>
<pre><code class="html">&lt;div class=&quot;l-2up--2-10&quot;&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 2 &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 10 &lt;/div&gt;
&lt;/div&gt;</code></pre>

<h2 id=".l-2up--3-9">.l&#8211;2up&#8211;3&#8211;9</h2>

<p>Number of <code>.l-gi</code> items: 2. </p>
<div class="demo l-2up--3-9">
 <div class="l-gi demo__item"> 3 </div>
 <div class="l-gi demo__item"> 9 </div>
</div>

<h4 id="code">Code</h4>
<pre><code class="html">&lt;div class=&quot;l-2up--3-9&quot;&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 3 &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 9 &lt;/div&gt;
&lt;/div&gt;</code></pre>

<h2 id=".l-2up--4-8">.l&#8211;2up&#8211;4&#8211;8</h2>

<p>Number of <code>.l-gi</code> items: 2. </p>
<div class="demo l-2up--4-8">
 <div class="l-gi demo__item"> 4 </div>
 <div class="l-gi demo__item"> 8 </div>
</div>

<h4 id="code">Code</h4>
<pre><code class="html">&lt;div class=&quot;l-2up--4-8&quot;&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 4 &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 8 &lt;/div&gt;
&lt;/div&gt;</code></pre>

<h2 id=".l-2up--5-7">.l&#8211;2up&#8211;5&#8211;7</h2>

<p>Number of <code>.l-gi</code> items: 2. </p>
<div class="demo l-2up--5-7">
 <div class="l-gi demo__item"> 5 </div>
 <div class="l-gi demo__item"> 7 </div>
</div>

<h4 id="code">Code</h4>
<pre><code class="html">&lt;div class=&quot;l-2up--5-7&quot;&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 5 &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 7 &lt;/div&gt;
&lt;/div&gt;</code></pre>

<h2 id=".l-2up--6-6">.l&#8211;2up&#8211;6&#8211;6</h2>

<p>Number of <code>.l-gi</code> items: 2. </p>
<div class="demo l-2up--6-6">
 <div class="l-gi demo__item"> 6 </div>
 <div class="l-gi demo__item"> 6 </div>
</div>

<h4 id="code">Code</h4>
<pre><code class="html">&lt;div class=&quot;l-2up--6-6&quot;&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 6 &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 6 &lt;/div&gt;
&lt;/div&gt;</code></pre>

<h2 id=".l-2up--7-5">.l&#8211;2up&#8211;7&#8211;5</h2>

<p>Number of <code>.l-gi</code> items: 2. </p>
<div class="demo l-2up--7-5">
 <div class="l-gi demo__item"> 7 </div>
 <div class="l-gi demo__item"> 5 </div>
</div>

<h4 id="code">Code</h4>
<pre><code class="html">&lt;div class=&quot;l-2up--7-5&quot;&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 7 &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 5 &lt;/div&gt;
&lt;/div&gt;</code></pre>

<h2 id=".l-2up--8-4">.l&#8211;2up&#8211;8&#8211;4</h2>

<p>Number of <code>.l-gi</code> items: 2. </p>
<div class="demo l-2up--8-4">
 <div class="l-gi demo__item"> 8 </div>
 <div class="l-gi demo__item"> 4 </div>
</div>

<h4 id="code">Code</h4>
<pre><code class="html">&lt;div class=&quot;l-2up--8-4&quot;&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 8 &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 4 &lt;/div&gt;
&lt;/div&gt;</code></pre>

<h2 id=".l-2up--9-3">.l&#8211;2up&#8211;9&#8211;3</h2>

<p>Number of <code>.l-gi</code> items: 2. </p>
<div class="demo l-2up--9-3">
 <div class="l-gi demo__item"> 9 </div>
 <div class="l-gi demo__item"> 3 </div>
</div>

<h4 id="code">Code</h4>
<pre><code class="html">&lt;div class=&quot;l-2up--9-3&quot;&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 9 &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 3 &lt;/div&gt;
&lt;/div&gt;</code></pre>

<h2 id=".l-2up--10-2">.l&#8211;2up&#8211;10&#8211;2</h2>

<p>Number of <code>.l-gi</code> items: 2. </p>
<div class="demo l-2up--10-2">
 <div class="l-gi demo__item"> 10 </div>
 <div class="l-gi demo__item"> 2 </div>
</div>

<h4 id="code">Code</h4>
<pre><code class="html">&lt;div class=&quot;l-2up--10-2&quot;&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 10 &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 2 &lt;/div&gt;
&lt;/div&gt;</code></pre>

<h2 id=".l-2up--11-1">.l&#8211;2up&#8211;11&#8211;1</h2>

<p>Number of <code>.l-gi</code> items: 2. </p>
<div class="demo l-2up--11-1">
 <div class="l-gi demo__item"> 11 </div>
 <div class="l-gi demo__item"> 1 </div>
</div>

<h4 id="code">Code</h4>
<pre><code class="html">&lt;div class=&quot;l-2up--11-1&quot;&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 11 &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 1 &lt;/div&gt;
&lt;/div&gt;</code></pre>

<h2 id=".l-3up">.l&#8211;3up</h2>

<p>Number of <code>.l-gi</code>: 3</p>
<div class="demo l-3up">
 <div class="l-gi demo__item"> 3 up </div>
 <div class="l-gi demo__item"> 3 up </div>
 <div class="l-gi demo__item"> 3 up </div>
</div>

<h4 id="code">Code</h4>
<pre><code class="html">&lt;div class=&quot;l-3up&quot;&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 3 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 3 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 3 up &lt;/div&gt;
&lt;/div&gt;</code></pre>

<h2 id=".l-3up--reflow">.l&#8211;3up&#8211;reflow</h2>

<p>Number of <code>.l-gi</code>: Unlimited. Multiple of 12 for best results on all screens </p>
<div class="demo l-3up--reflow">
 <div class="l-gi demo__item"> 3 up </div>
 <div class="l-gi demo__item"> 3 up </div>
 <div class="l-gi demo__item"> 3 up </div>
 <div class="l-gi demo__item"> 3 up </div>
 <div class="l-gi demo__item"> 3 up </div>
 <div class="l-gi demo__item"> 3 up </div>
 <div class="l-gi demo__item"> 3 up </div>
 <div class="l-gi demo__item"> 3 up </div>
 <div class="l-gi demo__item"> 3 up </div>
 <div class="l-gi demo__item"> 3 up </div>
 <div class="l-gi demo__item"> 3 up </div>
 <div class="l-gi demo__item"> 3 up </div>
</div>

<h4 id="code">Code</h4>
<pre><code class="html">&lt;div class=&quot;l-3up&quot;&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 3 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 3 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 3 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 3 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 3 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 3 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 3 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 3 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 3 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 3 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 3 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 3 up &lt;/div&gt;
&lt;/div&gt;</code></pre>

<h2 id=".l-3up--feed">.l&#8211;3up&#8211;feed</h2>

<p>Number of <code>.l-gi</code>: 3</p>
<div class="demo l-3up--feed">
 <div class="l-gi demo__item"> 3 up </div>
 <div class="l-gi demo__item"> 3 up </div>
 <div class="l-gi demo__item"> 3 up </div>
</div>

<h4 id="code">Code</h4>
<pre><code class="html">&lt;div class=&quot;l-3up--feed&quot;&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 3 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 3 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 3 up &lt;/div&gt;
&lt;/div&gt;</code></pre>

<h2 id=".l-4up">.l&#8211;4up</h2>

<p>Number of <code>.l-gi</code>: 4</p>
<div class="demo l-4up">
 <div class="l-gi demo__item"> 4 up </div>
 <div class="l-gi demo__item"> 4 up </div>
 <div class="l-gi demo__item"> 4 up </div>
 <div class="l-gi demo__item"> 4 up </div>
</div>

<h4 id="code">Code</h4>
<pre><code class="html">&lt;div class=&quot;l-4up&quot;&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 4 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 4 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 4 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 4 up &lt;/div&gt;
&lt;/div&gt;</code></pre>

<h2 id=".l-4up-reflow">.l&#8211;4up-reflow</h2>

<p>Number of <code>.l-gi</code>: unlimited. Multiple of 4 for best results </p>
<div class="demo l-4up--reflow">
 <div class="l-gi demo__item"> 4 up </div>
 <div class="l-gi demo__item"> 4 up </div>
 <div class="l-gi demo__item"> 4 up </div>
 <div class="l-gi demo__item"> 4 up </div>
 <div class="l-gi demo__item"> 4 up </div>
 <div class="l-gi demo__item"> 4 up </div>
 <div class="l-gi demo__item"> 4 up </div>
 <div class="l-gi demo__item"> 4 up </div>
</div>

<h4 id="code">Code</h4>
<pre><code class="html">&lt;div class=&quot;l-4up--reflow&quot;&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 4 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 4 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 4 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 4 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 4 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 4 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 4 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 4 up &lt;/div&gt;
&lt;/div&gt;</code></pre>

<h2 id=".l-6up">.l&#8211;6up</h2>

<p>Number of <code>.l-gi</code>: 6. </p>
<div class="demo l-6up">
 <div class="l-gi demo__item"> 6 up </div>
 <div class="l-gi demo__item"> 6 up </div>
 <div class="l-gi demo__item"> 6 up </div>
 <div class="l-gi demo__item"> 6 up </div>
 <div class="l-gi demo__item"> 6 up </div>
 <div class="l-gi demo__item"> 6 up </div>
</div>

<h4 id="code">Code</h4>
<pre><code class="html">&lt;div class=&quot;l-6&quot;&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 6 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 6 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 6 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 6 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 6 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 6 up &lt;/div&gt;
&lt;/div&gt;</code></pre>

<h2 id=".l-6up--reflow">.l&#8211;6up&#8211;reflow</h2>

<p>Number of <code>.l-gi</code>: unlimited. Mutiple of 6 for best results</p>
<div class="demo l-6up--reflow">
 <div class="l-gi demo__item"> 6 up </div>
 <div class="l-gi demo__item"> 6 up </div>
 <div class="l-gi demo__item"> 6 up </div>
 <div class="l-gi demo__item"> 6 up </div>
 <div class="l-gi demo__item"> 6 up </div>
 <div class="l-gi demo__item"> 6 up </div>
</div>

<h4 id="code">Code</h4>
<pre><code class="html">&lt;div class=&quot;l-6&quot;&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 6 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 6 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 6 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 6 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 6 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 6 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 6 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 6 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 6 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 6 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 6 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 6 up &lt;/div&gt;
&lt;/div&gt;</code></pre>

<h2 id=".l-12up">.l&#8211;12up</h2>

<p>Number of <code>.l-gi</code>: 12. </p>
<div class="demo l-12up">
 <div class="l-gi demo__item"> 12 up </div>
 <div class="l-gi demo__item"> 12 up </div>
 <div class="l-gi demo__item"> 12 up </div>
 <div class="l-gi demo__item"> 12 up </div>
 <div class="l-gi demo__item"> 12 up </div>
 <div class="l-gi demo__item"> 12 up </div>
 <div class="l-gi demo__item"> 12 up </div>
 <div class="l-gi demo__item"> 12 up </div>
 <div class="l-gi demo__item"> 12 up </div>
 <div class="l-gi demo__item"> 12 up </div>
 <div class="l-gi demo__item"> 12 up </div>
 <div class="l-gi demo__item"> 12 up </div>
</div>

<h4 id="code">Code</h4>
<pre><code class="html">&lt;div class=&quot;l-12&quot;&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 12 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 12 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 12 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 12 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 12 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 12 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 12 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 12 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 12 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 12 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 12 up &lt;/div&gt;
  &lt;div class=&quot;l-gi&quot;&gt; 12 up &lt;/div&gt;
&lt;/div&gt;</code></pre>