<div class="l-2up--4-4 tg-list-item--featured">
  <div class="l-gi">
    {{> molecules-image-video-block }}
  </div>
  <div class="l-gi">
    <h3><a href="#">H3 Content Title: Lorem Ipsum dor sit met</a></h3>
    {{> atoms-meta-item-with-icon }}
    <p class="desc">Description lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et ultrices arcu, eu mattis elit. 
    </p>
  </div>
</div>