<!-- Note: Toggle List Items can only be placd into l-gi that takes up 4 columns --> 
<div class="tg-list-item tg-list-item--search">
  <a href="{{ url }}">    
    {{> atoms-landscape-16x9}}
    <div class="item__type">
      <i class="type-icon-{{type}}"></i>
    </div>    
    <div class="item__labels">
      {{#icon-labels}}
      <img class="label__img" src="{{label}}" alt=""/>
      {{/icon-labels}}
    </div>
  </a>
  <div class="item__info">
    <h4 class="item__title" data-dotdot="2">
      <a href="#"> Item Title: Lorem ipsum dolor sit amet, consectetur adipisicing elit! </a>
    </h4>
    {{> atoms-meta-item-with-icon }}
    <div class="item__desc expander">
     <p>Star Salon’s business dips when news of A-man’s illness spreads. Xiaoxiao feels bad and is often scolded by A-man, but she is unwilling to leave her mentor. Oscar sneers at some of Feilong’s sales ideas. Feilong assumes Oscar is picking on him because of Xiaoxiao. Feilong asserts that he is doing everything for Xiaoxiao, and she is troubled.</p>

     <p>Starring: <br>
      Julie Tan 陈欣淇, Lin Mei Jiao 林梅娇, Cynthia Koh 许美珍, Jin Yin Ji 金银姬, Bryan Wong 王禄江, Ya Hui 雅慧, Jeffrey Xu 徐鸣杰, Edwin Goh 吴劲威, Xu Bin 徐彬
    </p>
  </div>
</div>
</div>