<figure>
  <img src="{{ twitter.img }}" alt="">
</figure>
<h5 class="twitter-feed__user">{{ twitter.user }}</h5>
<h6 class="twitter-feed__handle">{{ twitter.handle }}</h6>
<p>T minus 4 days to the Channel 5 Movie Event... "TRANSFORMERS: DARK OF THE MOON OF THE MOON" on Sunday 6:15pm</p>

