<!-- Note: Toggle List Items can only be placd into l-gi with 4 colums --> 
<div class="tg-list-item--catchup">
	{{> molecules-image-video-block }}
	<div class="item__details">
		<h6 class="item__title">
			<a href="#" data-dotdot="2">
				H6 Content Title: Lorem ipsum dolor sit amet
			</a>
		</h6>
	
		<div class="meta">
			<div class="meta__item">
				<span data-dotdot="1">Mon 24 Nov, 7.30pm</span>
			</div>
		</div>

		<div class="meta">
			<div class="meta__item--link">
				<i class="ti-clock"></i>
				<a href="#">Remind me</a>
			</div>
		</div>

	</div>
</div>