<div class="item--left">
  <time class="date">29 June</time>
</div>
<div class="item--right">
  <div class="event__title"><a href="{{url}}">#localiciousch5 Roadshow</a></div>
  <div class="event__location">Shaw House, Urban Plaza</div>
  <time class="time">1pm - 5pm</time>
</div>