<div class="item__featured">
  {{> molecules-image-block-no-text }}
</div>

<div class="item__details">
  <p class="item__status"> {{item-status}}</p>
  <h2 class="item__title">
    <a href="{{url}}" class="item__more--mobile {{#video}} item__video {{/video}}"></a>
    <a href="{{url}}">{{item-title}}</a>
  </h2>
  <div class="expander">
    <p>Star Salon’s business dips when news of A-man’s illness spreads. Xiaoxiao feels bad and is often scolded by A-man, but she is unwilling to leave her mentor. Oscar sneers at some of Feilong’s sales ideas. Feilong assumes Oscar is picking on him because of Xiaoxiao. Feilong asserts that he is doing everything for Xiaoxiao, and she is troubled.</p>

    <p>Starring: <br>
      Julie Tan 陈欣淇, Lin Mei Jiao 林梅娇, Cynthia Koh 许美珍, Jin Yin Ji 金银姬, Bryan Wong 王禄江, Ya Hui 雅慧, Jeffrey Xu 徐鸣杰, Edwin Goh 吴劲威, Xu Bin 徐彬
    </p>
  </div>
</div>
