<a href="#">{{tab-heading}}</a>
<div class="l-3up">
  <div class="l-gi"><a href="#"> {{> molecules-image-video-block}}</a></div>
  <div class="l-gi"><a href="#"> {{> molecules-image-video-block}}</a></div>
  <div class="l-gi"><a href="#"> {{> molecules-ad-300x250-block}}</a></div>
  <div class="l-gi"><a href="#"> {{> molecules-image-video-block}}</a></div>
  <div class="l-gi"><a href="#"> {{> molecules-image-video-block}}</a></div>
  <div class="l-gi"><a href="#"> {{> molecules-image-video-block}}</a></div>
  <div class="l-gi"><a href="#"> {{> molecules-image-video-block}}</a></div>
  <div class="l-gi"><a href="#"> {{> molecules-ad-300x250-block}}</a></div>
  <div class="l-gi"><a href="#"> {{> molecules-image-video-block}}</a></div>
</div>