<img src="{{img.avatar.src}}" alt="" class="avatar">
<div class="comment__detail">
  <header class="comment__header">
    <span class="user">Zhang Han</span>
    <time>3 hrs ago</time>
  </header>
  <div class="comment__body">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium modi facere magnam temporibus expedita eligendi unde et error voluptatum veritatis optio dolores repellat inventore nemo officiis voluptate, adipisci illum consequatur.</p>
  </div>
  <footer class="comment__footer">
    <a class="comment__reply-to-comment" href="{{url}}">Reply</a>
    <div class="comment__likes">
      <span class="likes-count">128</span>
    </div>
    <div class="comment__dislikes">
      <span class="dislikes-count">22</span>
    </div>
  </footer>
</div>