<article class="article has-pagination  {{#card}}{{card-class}}{{/card}}">
  <div class="article__presenter"><span>Presented By</span><img src="{{img.presented.src}}" alt=""></div>
  <h1 class="article__title">Jeanette Aw shaves head for new role in sports drama</h1>
  <h4>
    The MediaCorp actress breaks girl-next-door image in upcoming blockbuster drama, Word at Your Feet 
  </h4>
  <div class="article__meta">
    {{> molecules-article-meta}}
  </div>
  
  <div class="article__body free-text"> 
    <p> 
      “Many people have an impression that my hair can’t be touched and I am very girly person who doesn’t like to change (my appearance). But actually, I do have a rough-and-tumble side and can be very boyish at times. Perhaps it’s because of my petite size, people naturally find me more suitable to act in feminine roles,” said the MediaCorp actress, Jeanette Aw who recently showed up with a punky haircut for her upcoming Ch8 blockbuster drama, World at Your Feet..
    </p>

    <ul>
      <li>Testing</li>
      <li>Testing</li>
    </ul>

    <p>
      The bubbly and candid actress shocked the production during an imaging session for the drama recently. Playing the female lead, Mo Yuqing, a toy-boyish soccer fan who falls in love with Wu Weixiong (played by Elvin Ng), Jeanette felt that shaving the sides of her head would help to portray a masculine side of her character.
    </p>
    {{> molecules-figure-with-caption(landscape: true) }}
    <p>
      During her interview with xinmsn, Jeanette revealed that it was her initiative to take this 180-degree transformation. Being well-known for her demure image in hit dramas like The Little Nyonya and The Dream Makers, Jeanette told us that she is open to trying different styles.
    </p>

    <div class="split-insert" data-split-index="0"></div>

    <blockquote>
      "I actually thought about this idea when I was discussing my role with the production team months ago and they actually liked it!"
    </blockquote>


    <p>
      Despite having to get her hair trim every fortnight, Jeanette is simply glad that her character gets to wear casual and baggy clothes all the time. “I almost went crazy when I had to change five to six different outfits while filming for The Dream Makers,” quipped the actress.
    </p>
    <p>
      Despite having to get her hair trim every fortnight, Jeanette is simply glad that her character gets to wear casual and baggy clothes all the time. “I almost went crazy when I had to change five to six different outfits while filming for The Dream Makers,” quipped the actress.

    </p>
    <p>
      Despite having to get her hair trim every fortnight, Jeanette is simply glad that her character gets to wear casual and baggy clothes all the time. “I almost went crazy when I had to change five to six different outfits while filming for The Dream Makers,” quipped the actress.
    </p>
    <div class="portrait">
      {{> molecules-figure-with-caption }}
    </div>
    <p>
      Despite having to get her hair trim every fortnight, Jeanette is simply glad that her character gets to wear casual and baggy clothes all the time. “I almost went crazy when I had to change five to six different outfits while filming for The Dream Makers,” quipped the actress.
    </p>
    <p>
      Despite having to get her hair trim every fortnight, Jeanette is simply glad that her character gets to wear casual and baggy clothes all the time. “I almost went crazy when I had to change five to six different outfits while filming for The Dream Makers,” quipped the actress.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat asperiores molestias corporis, nemo assumenda, praesentium. Sit repellendus nisi, optio eaque mollitia, quam ullam, aperiam quaerat, corrupti suscipit placeat atque nulla?
    </p>
    
    <p>
      Despite having to get her hair trim every fortnight, Jeanette is simply glad that her character gets to wear casual and baggy clothes all the time. “I almost went crazy when I had to change five to six different outfits while filming for The Dream Makers,” quipped the actress.
    </p>
    <p>
      Despite having to get her hair trim every fortnight, Jeanette is simply glad that her character gets to wear casual and baggy clothes all the time. “I almost went crazy when I had to change five to six different outfits while filming for The Dream Makers,” quipped the actress.
    </p>
    <p>
    The bubbly and candid actress shocked the production during an imaging session for the drama recently. Playing the female lead, Mo Yuqing, a toy-boyish soccer fan who falls in love with Wu Weixiong (played by Elvin Ng), Jeanette felt that shaving the sides of her head would help to portray a masculine side of her character.
  </p>
  {{> molecules-figure-with-caption(landscape: true) }}
  <p>
    During her interview with xinmsn, Jeanette revealed that it was her initiative to take this 180-degree transformation. Being well-known for her demure image in hit dramas like The Little Nyonya and The Dream Makers, Jeanette told us that she is open to trying different styles.
  </p>
  {{> molecules-pagination }}
</div>
{{> molecules-ad-300x100-block(u:u-hideTablet u-hideDesktop ad--article)}}

{{> organisms-comments }}

</article>