<h1>Gonna Make It: Webisode 8 - Passion in Dreams</h1>

<p>Check out what happens off cam on the set of Gonna Make It </p>

<p>Starring : Aloysius Pang 冯伟衷, Ian Fang 方伟杰, Xu Bin 徐彬, Kimberly Chia 谢静仪, Har Yu 夏雨, Cheung Kwok Keung 張國強, Kong Xiangde 孔祥德, Chantalle Ng 黄暄婷, Chen Huihui 陈慧慧, Brandon Wong 黄炯耀, Aileen Tan 陈丽贞, Zhang Zhen Huan 张振寰, Richard Low 刘谦益, Richard Low 刘谦益, Tay Ping Hui 郑斌辉, Jeanette Aw 欧萱, Elvin Ng 黄俊雄, Zheng Ge Ping 郑各评, Yvonne Lim 林湘萍, Vivian Lai 赖怡伶, Dennis Chew 周崇庆, Wang Yuqing 王昱青</p>

{{> atoms-social-media-button(social-media: facebook, btnText: Share) }}
{{> atoms-social-media-button(social-media: twitter, btnText: Tweet) }}