<!-- Content Grid-->
<div class="tg-content-grid {{#card}}{{card-class}}{{/card}}" data-content-grid-type="2" data-rows-on-desktop="{{rows}}">
  <h5><a href="#">{{component-title}}</a><a href="#"><i class="ti-chevron-next"></i></a></h5>
  <div class="l-content-grid" >
    <div class="l-gi"> {{> molecules-toggle-list-item}} </div>
    <div class="l-gi"> {{> molecules-toggle-list-item}} </div>
    <div class="l-gi"> {{> molecules-toggle-list-item}} </div>
    <div class="l-gi"> {{> molecules-toggle-list-item}} </div>
    <div class="l-gi"> {{> molecules-toggle-list-item}} </div>
    <div class="l-gi"> {{> molecules-toggle-list-item}} </div>
  </div>
  <a href="#" class="tg-load-more btn">Show More</a>
</div>
<!-- /end Content Grid 8-col-->
