<!-- Content Grid-->
<div class="wrap">
  <div class="tg-content-grid {{#card}}{{card-class}}{{/card}}" data-content-grid-type="3" data-rows-on-desktop="{{rows}}">
    <h5>{{component-title}}</h5>
    <div class="l-content-grid" >
      <div class="l-gi"> {{> molecules-toggle-list-item(type: article)}} </div>
      <div class="l-gi"> {{> molecules-toggle-list-item(type: gallery)}} </div>
      <div class="l-gi"> {{> molecules-toggle-list-item(type: video)}} </div>
      <div class="l-gi"> {{> molecules-toggle-list-item(type: article)}} </div>
      <div class="l-gi"> {{> molecules-toggle-list-item(type: event)}} </div>
      <div class="l-gi"> {{> molecules-toggle-list-item(type: article)}} </div>
      <div class="l-gi"> {{> molecules-toggle-list-item(type: article)}} </div>
      <div class="l-gi"> {{> molecules-toggle-list-item(type: article)}} </div>
      <div class="l-gi"> {{> molecules-toggle-list-item(type: article)}} </div>
    </div>
    <a href="#" class="tg-load-more btn">Show More</a>
  </div>
</div>

<!-- /end Content Grid-->
