<!-- Content Grid-->
<div class="tg-content-grid tgtabs card" data-content-grid-type="2" data-rows-on-desktop="{{rows}}">
  <h5><a href="#">{{component-title}}</a><a href="#"><i class="ti-chevron-next"></i></a></h5>
  <div class="tgtabs__wrap">
    <div class="tgtabs__row">
      <div class="tgtab"><a href="#">Item 1</a></div>
      <div class="tgtab"><a href="#">Item 2</a></div>
      <div class="tgtab"><a href="#">Item 3</a></div>
    </div>
  </div>
  <div class="tgtab__targets">
    <div class="tgtab__target">
      <div class="l-content-grid" >
        <div class="l-gi"> {{> molecules-toggle-list-item}} </div>
        <div class="l-gi"> {{> molecules-toggle-list-item}} </div>
        <div class="l-gi"> {{> molecules-toggle-list-item}} </div>
        <div class="l-gi"> {{> molecules-toggle-list-item}} </div>
        <div class="l-gi"> {{> molecules-toggle-list-item}} </div>
        <div class="l-gi"> {{> molecules-toggle-list-item}} </div>
      </div>
      <a href="#" class="tg-load-more btn">Show More</a>
    </div>
    <div class="tgtab__target">
      <div class="l-content-grid" >
        <div class="l-gi"> {{> molecules-toggle-list-item}} </div>
        <div class="l-gi"> {{> molecules-toggle-list-item}} </div>
        <div class="l-gi"> {{> molecules-toggle-list-item}} </div>
        <div class="l-gi"> {{> molecules-toggle-list-item}} </div>
        <div class="l-gi"> {{> molecules-toggle-list-item}} </div>
        <div class="l-gi"> {{> molecules-toggle-list-item}} </div>
      </div>
      <a href="#" class="tg-load-more btn">Show More</a>
    </div>
    <div class="tgtab__target">
      <div class="l-content-grid" >
        <div class="l-gi"> {{> molecules-toggle-list-item}} </div>
        <div class="l-gi"> {{> molecules-toggle-list-item}} </div>
        <div class="l-gi"> {{> molecules-toggle-list-item}} </div>
        <div class="l-gi"> {{> molecules-toggle-list-item}} </div>
        <div class="l-gi"> {{> molecules-toggle-list-item}} </div>
        <div class="l-gi"> {{> molecules-toggle-list-item}} </div>
      </div>
      <a href="#" class="tg-load-more btn">Show More</a>
    </div>
  </div>
</div>
<!-- /end Content Grid-->
