<section class="section">
  <div class="wrap">
    <div class="l-3up--feed">
      <div class="l-gi">{{> organisms-twitter-list }}</div>
      <div class="l-gi">{{> organisms-tv-schedule-list }}</div>
      <div class="l-gi">{{> organisms-shows-list(standard:true) }}</div>
    </div>
  </div>
</section>