<ul class="mentioned">
  <h3 class="related__title">Mentioned Here</h3>
  <li class="mentioned__item"> {{> molecules-mentioned-here-list-item }} </li>
  <li class="mentioned__item"> {{> molecules-mentioned-here-list-item }} </li>
  <li class="mentioned__item"> {{> molecules-mentioned-here-list-item }} </li>
  <li class="mentioned__item"> {{> molecules-mentioned-here-list-item }} </li>

  <a href="{{url}}" class="show-more">
    <i class="arrow-down"></i><span>3 more mentions</span>
  </a>
</ul>

