<div class="related related--widget">
  <h4>{{widget-title}}</h4>
  {{# image}}
    <img src="{{img.publisher.src}}" alt="">
  {{/ image}}
  {{^ image}}
    {{> atoms-landscape-4x3 }}
  {{/ image}}
  <ul>
    <li><a href="{{url}}">Raymond Lam coaxed by Karena Ng to set up his own company
    </a></li>
    <li><a href="{{url}}">How realistic are the 5 types of love seen in this Channel 8 drama</a></li>
    <li><a href="{{url}}">Patty Hou’s non-existent baby bump
    </a></li>
  </ul>
</div>