<div class="more-from">
  <div class="publisher-logo">
    <img src="{{ img.publisher.src }}" alt="">
  </div>
  <ul class="more-from__links">
    <li class="more-from__item">
      <a href="{{url}}">  Talking Posh with Victoria Beckham</a>
    </li>
    <li class="more-from__item">
      <a href="{{url}}">EXCLUSIVE! "Fearless" Victoria Beckham cover and interview in ELLE Singapore July 2014 issue</a>
    </li>
    <li class="more-from__item">
      <a href="{{url}}"> Personal Style: Priscilla Shunmugan</a>
    </li>
  </ul>
</div>