<div class="related--grid">
  <h2 class="aligncenter--text">More from World At Your Feet</h2>
    <div class="l-3up--reflow">
      <div class="l-gi">{{> molecules-image-block }}</div>
      <div class="l-gi">{{> molecules-image-block }}</div>
      <div class="l-gi">{{> molecules-image-block }}</div>
      <div class="l-gi">{{> molecules-image-block }}</div>
      <div class="l-gi">{{> molecules-image-block }}</div>
      <div class="l-gi">{{> molecules-image-block }}</div>
      <div class="l-gi">{{> molecules-image-block }}</div>
      <div class="l-gi">{{> molecules-image-block }}</div>
      <div class="l-gi">{{> molecules-image-block }}</div>
      <div class="l-gi">{{> molecules-image-block }}</div>
      <div class="l-gi">{{> molecules-image-block }}</div>
      <div class="l-gi">{{> molecules-image-block }}</div>
      <div class="l-gi">{{> molecules-image-block }}</div>
      <div class="l-gi">{{> molecules-image-block }}</div>
      <div class="l-gi">{{> molecules-image-block }}</div>
      <div class="l-gi">{{> molecules-image-block }}</div>
    </div>
</div>