<!-- Related 3 column -->
<div class="related card" data-split-index="{{split-index}}">
  <h5>{{item-title}}</h5>
  <div class="l-3up">
    {{> molecules-toggle-teaser-item }}
    {{> molecules-toggle-teaser-item }}
    {{> molecules-toggle-teaser-item }}
  </div>
</div>
<!-- /end Related 3 column -->
