<div class="page-wrap">
  {{> molecules-ad-banner-block }}
  {{> organisms-header }}
  {{> organisms-primary-mega-menu }}
  {{> molecules-section-header(section-header__title: "Gonna Make It", section-header__parent: "Channel U", section-header__has-logo:true) }}
  {{> molecules-secondary-nav }}
  <section>
    <div class="wrap">
      <h1 class="page-title">Microsite Name or Programe Title</h1>
      <div class="l-2up--8-4">
        <div class="l-gi">
          {{> organisms-programinfo-v2 }}
          <div class="split-insert" data-split-index="0"></div>
          {{> molecules-related-3col-block(item-title: You May Also Like) }}
          {{> molecules-megaslider-in-8-3up }}
        </div>
        <div class="l-gi split-grid">
          {{> molecules-ad-300x250-block(split-index: 0) }}
        </div>
      </div>
    </div>
  </section>
    {{> organisms-footer }}
</div>

{{> organisms-login-modal(login:true) }}
