<div class="page-wrap">
  {{> organisms-header }}
  {{> organisms-primary-mega-menu }}
  {{> molecules-section-header(section-header__title: "TV Originals", section-header__parent: "Video", section-header__has-logo:false, section-header__parent--none: false) }}
  {{> molecules-secondary-nav }}
  <section>
    {{> organisms-video-wrapper(forChannelVideo:false)}}
  </section>

  <section>
    {{> molecules-megaslider-collapsible-with-tabs(class: primary) }}
  </section>

  <section>
    {{> molecules-megaslider-collapsible-with-tabs(class: primary) }}
  </section>

  <section>
    {{> molecules-megaslider-collapsible-portrait-with-tabs(class: primary) }}
  </section>
  {{> organisms-footer }}
</div>

{{> organisms-login-modal(login:true) }}
