<div class="tg-teaser-item">
    <div class="item__info thumbless">
      <h6 class="item__title {{#featured}} h3 {{/featured}}" data-dotdot="2">
        <a href="{{ url }}">Item Title: Lorem ipsum dolor sit amet, consectetur adipisicing elit!</a>
      </h6>
      {{> atoms-meta-item-with-label }}
    </div>
    <p class="desc" data-dotdot="3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
</div>