<div class="tg-block--video">
  <a href="#">
    <div class="item__image">{{> atoms-landscape-16x9 }}</div>
    <div class="item__type">
      <i class="i-sl-video"></i>      
    </div>
  </a>
</div>