<div class="b b__cast">
  <a href="{{ url }}">
    {{> atoms-avatar}}
  </a>

  <div class="b__desc">
  <p class="h4"><strong>{{ name.cast.eng }}</strong> {{name.cast.chi}}</p>
  <p class="">{{name.cast.showEng}} {{name.cast.showChi}}</p>
 </div>
</div>