<figure class="figure mentioned__show-image">
  {{> atoms-landscape-4x3 }}
</figure>
<div class="mentioned__show">
  <a href="{{url}}">World at Your Feet</a>
  <p>Weekdays 9pm-10pm on Channel 8</p>
</div>