<!-- Note: Microsite-link can only be placd into items with 4 colums --> 
<div class="tg-microsite-link {{#card}}{{card-class}}{{/card}} {{u}}">
  <img src="{{ img.landscape-16x9.src }}" alt="">
  <div class="tg-microsite-link__details">
    <div class="tg-microsite-link__title" data-dotdot="1">
      <a href="#">Programme Title </a>
    </div>
    <p data-dotdot="2">
      Visit our programme microsite for more
    </p>
  </div>
</div>