<div class="tg-price-item">
  <a href="{{ url }}">
    <div class="img-holder">
      {{> atoms-landscape-16x9}}
    </div>
  </a>
  <div class="item__info">
    <h4 class="item__title">
      <a href="#">Item Title: Lorem ipsum dolor sit amet</a>
    </h6>
  </div>
  <p class="item__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
</div>