<div class="article__meta">
  <div class="article__publisher">
    <span>Elle</span>
    <img src="../../images/tmp/ElleLogo.png" alt=""> 
  </div>
  <div class="article__byline">
    <span>By</span>
    <span href="#" class="author"><a href="#">Kevin Fallon</a></span>
    <span href="#" class="author"><a href="#">Kevin Fallon</a></span>
  </div>
  <time class="article__date">11 Oct 2014</time>
  {{> molecules-social-media-buttons }}
</div>
