<div class="article__publisher-container">
  <div class="article__publisher">
    <img src="{{img.publisher.src}}" alt="">
  </div>
  <div class="article__authors-and-date">
    <div class="article__authors">
      <div class="author">
        <span class="meta">By <a href="#">Kevin Fallon</a></span>
      </div>
      <div class="author">
        <span class="meta"><a href="#">Lin Wei Ping</a></span>
      </div>
    </div>
    <div class="article__date">
      <span class="meta">11 Oct 2014</span>
    </div>
  </div>
  {{> molecules-social-media-buttons }}
</div>




