<div class="event-details">
  <time>13 July 2014, 2.30pm</time>
  <address>
    <span class="addr addr--1">Bugis+, 201 Victoria Street</span>
    <span class="addr addr--2">Singapore 188067</span>
  </address>
</div>
