<div class="epg">
  <!-- start tgtabs -->
  <div class="tgtabs tgtabs--epg">
    <div class="tgtabs__wrap">
      <div class="epg__date-range">
        <span class="epg__visible-start-date">10 Dec</span> - <span class="epg__visible-end-date">16 Dec</span>, 2014
      </div>
      <div class="tgtabs__row">
        <div class="tgtab">
          <a href="#"><span>Mon </span><span>3</span></a>
        </div>
        <div class="tgtab">
          <a href="#"><span>Tue </span><span>4</span></a>
        </div>
        <div class="tgtab">
          <a href="#"><span>Wed </span><span>5</span></a>
        </div>
        <div class="tgtab">
          <a href="#"><span>Thu </span><span>6</span></a>
        </div>
        <div class="tgtab">
          <a href="#"><span>Fri </span><span>7</span></a>
        </div>
        <div class="tgtab is-today">
          <a href="#"><span>Today</span></a>
        </div>
        <div class="tgtab">
          <a href="#"><span>Sun </span><span>9</span></a>
        </div>
        <div class="tgtab">
          <a href="#"><span>Today </span><span>10</span></a>
        </div>
        <div class="tgtab">
          <a href="#"><span>Tue </span><span>11</span></a>
        </div>
        <div class="tgtab">
          <a href="#"><span>Wed </span><span>12</span></a>
        </div>
        <div class="tgtab">
          <a href="#"><span>Thu </span><span>13</span></a>
        </div>
        <div class="tgtab">
          <a href="#"><span>Fri </span><span>14</span></a>
        </div>
        <div class="tgtab">
          <a href="#"><span>Sat </span><span>15</span></a>
        </div>
        <div class="tgtab">
          <a href="#"><span>Sun </span><span>16</span></a>
        </div>
        <div class="tgtab">
          <a href="#"><span>Mon </span><span>17</span></a>
        </div>
        <div class="tgtab">
          <a href="#"><span>Tue </span><span>18</span></a>
        </div>
        <div class="tgtab">
          <a href="#"><span>Wed </span><span>19</span></a>
        </div>
        <div class="tgtab">
          <a href="#"><span>Thu </span><span>20</span></a>
        </div>
        <div class="tgtab">
          <a href="#"><span>Fri </span><span>21</span></a>
        </div>
        <div class="tgtab">
          <a href="#"><span>Sat </span><span>22</span></a>
        </div>
        <div class="tgtab">
          <a href="#"><span>Sun </span><span>23</span></a>
        </div>
      </div>


    </div>
    <div class="epg__time-selector">
      <select class="dk-dropdown">
        <option value="#" disabled selected>-Jump To Time</option>
        <option value="#0000">00:00am</option>
        <option value="#0100">01:00am</option>
        <option value="#0200">02:00am</option>
        <option value="#0300">03:00am</option>
        <option value="#0400">04:00am</option>
        <option value="#0500">05:00am</option>
        <option value="#0600">06:00am</option>
        <option value="#0700">07:00am</option>
        <option value="#0800">08:00am</option>
        <option value="#0900">09:00am</option>
      </select>
    </div>

    <div class="tgtab__targets">
      <div class="tgtab__target">{{> molecules-epg-list }}</div>
      <div class="tgtab__target">{{> molecules-epg-list }}</div>
      <div class="tgtab__target">{{> molecules-epg-list }}</div>
      <div class="tgtab__target">{{> molecules-epg-list }}</div>
      <div class="tgtab__target">{{> molecules-epg-list }}</div>
      <div class="tgtab__target">{{> molecules-epg-list }}</div>
      <div class="tgtab__target">{{> molecules-epg-list }}</div>
      <div class="tgtab__target">{{> molecules-epg-list }}</div>
      <div class="tgtab__target">{{> molecules-epg-list }}</div>
      <div class="tgtab__target">{{> molecules-epg-list }}</div>
      <div class="tgtab__target">{{> molecules-epg-list }}</div>
      <div class="tgtab__target">{{> molecules-epg-list }}</div>
      <div class="tgtab__target">{{> molecules-epg-list }}</div>
      <div class="tgtab__target">{{> molecules-epg-list }}</div>
      <div class="tgtab__target">{{> molecules-epg-list }}</div>
      <div class="tgtab__target">{{> molecules-epg-list }}</div>
      <div class="tgtab__target">{{> molecules-epg-list }}</div>
      <div class="tgtab__target">{{> molecules-epg-list }}</div>
      <div class="tgtab__target">{{> molecules-epg-list }}</div>
      <div class="tgtab__target">{{> molecules-epg-list }}</div>
      <div class="tgtab__target">{{> molecules-epg-list }}</div>
    </div>

  </div>
  <!-- /tgtabs -->
</div>