<div class="epg--channel">
  <!-- start tgtabs -->
  <div class="tgtabs tgtabs--epg">
    <div class="epg__sticky-header-holder">
      <div class="epg__sticky-header">
        <div class="wrap">
          <div class="epg__title-and-now">
            <h2 class="epg__channel-title">Channel NewsAsia</h2>
            <div class="epg__back-to-now-container">
              <a href="#" class="epg__back-to-now">Back to now</a>
            </div>
          </div>
          <div class="epg__date-range">
            <span class="epg__visible-start-date">10 Dec</span> - <span class="epg__visible-end-date">16 Dec</span>, 2014
          </div>
          <div class="tgtabs__wrap">
            <div class="tgtabs__row">
              <div class="tgtab is-disabled" data-daymonthyear="3 Dec, 2014">
                <a href="#"><span>Mon </span><span>3</span></a>
              </div>
              <div class="tgtab" data-daymonthyear="4 Dec, 2014">
                <a href="#"><span>Tue </span><span>4</span></a>
              </div>
              <div class="tgtab" data-daymonthyear="5 Dec, 2014">
                <a href="#"><span>Wed </span><span>5</span></a>
              </div>
              <div class="tgtab" data-daymonthyear="6 Dec, 2014">
                <a href="#"><span>Thu </span><span>6</span></a>
              </div>
              <div class="tgtab" data-daymonthyear="7 Dec, 2014">
                <a href="#"><span>Fri </span><span>7</span></a>
              </div>
              <div class="tgtab" data-daymonthyear="8 Dec, 2014">
                <a href="#"><span>Sat </span><span>8</span></a>
              </div>
              <div class="tgtab" data-daymonthyear="9 Dec, 2014">
                <a href="#"><span>Sun </span><span>9</span></a>
              </div>
              <div class="tgtab" data-daymonthyear="10 Dec, 2014">
                <a href="#"><span>Today </span><span>10</span></a>
              </div>
              <div class="tgtab" data-daymonthyear="11 Dec, 2014">
                <a href="#"><span>Tue </span><span>11</span></a>
              </div>
              <div class="tgtab" data-daymonthyear="12 Dec, 2014">
                <a href="#"><span>Wed </span><span>12</span></a>
              </div>
              <div class="tgtab" data-daymonthyear="13 Dec, 2014">
                <a href="#"><span>Thu </span><span>13</span></a>
              </div>
              <div class="tgtab is-today" data-daymonthyear="14 Dec, 2014">
                <a href="#"><span>Fri </span><span>14</span></a>
              </div>
              <div class="tgtab" data-daymonthyear="15 Dec, 2014">
                <a href="#"><span>Sat </span><span>15</span></a>
              </div>
              <div class="tgtab" data-daymonthyear="16 Dec, 2014">
                <a href="#"><span>Sun </span><span>16</span></a>
              </div>
              <div class="tgtab" data-daymonthyear="17 Dec, 2014">
                <a href="#"><span>Mon </span><span>17</span></a>
              </div>
              <div class="tgtab" data-daymonthyear="18 Dec, 2014">
                <a href="#"><span>Tue </span><span>18</span></a>
              </div>
              <div class="tgtab" data-daymonthyear="19 Dec, 2014">
                <a href="#"><span>Wed </span><span>19</span></a>
              </div>
              <div class="tgtab" data-daymonthyear="20 Dec, 2014">
                <a href="#"><span>Thu </span><span>20</span></a>
              </div>
              <div class="tgtab is-disabled" data-daymonthyear="21 Dec, 2014">
                <a href="#"><span>Fri </span><span>21</span></a>
              </div>
              <div class="tgtab is-disabled" data-daymonthyear="22 Dec, 2014">
                <a href="#"><span>Sat </span><span>22</span></a>
              </div>
              <div class="tgtab is-disabled" data-daymonthyear="23 Dec, 2014">
                <a href="#"><span>Sun </span><span>23</span></a>
              </div>
            </div>
          </div>
          <!-- end tgtabs__wrapper -->
        </div>
      </div>
    </div>

    <div class="wrap">
      <div class="tgtab__targets">
        <div class="tgtab__target">{{> molecules-epg-channel-list }}</div>
        <div class="tgtab__target">{{> molecules-epg-channel-list }}</div>
        <div class="tgtab__target">{{> molecules-epg-channel-list }}</div>
        <div class="tgtab__target">{{> molecules-epg-channel-list }}</div>
        <div class="tgtab__target">{{> molecules-epg-channel-list }}</div>
        <div class="tgtab__target">{{> molecules-epg-channel-list }}</div>
        <div class="tgtab__target">{{> molecules-epg-channel-list }}</div>
        <div class="tgtab__target">{{> molecules-epg-channel-list }}</div>
        <div class="tgtab__target">{{> molecules-epg-channel-list }}</div>
        <div class="tgtab__target">{{> molecules-epg-channel-list }}</div>
        <div class="tgtab__target">{{> molecules-epg-channel-list }}</div>
        <div class="tgtab__target">{{> molecules-epg-channel-list }}</div>
        <div class="tgtab__target">{{> molecules-epg-channel-list }}</div>
        <div class="tgtab__target">{{> molecules-epg-channel-list }}</div>
        <div class="tgtab__target">{{> molecules-epg-channel-list }}</div>
        <div class="tgtab__target">{{> molecules-epg-channel-list }}</div>
        <div class="tgtab__target">{{> molecules-epg-channel-list }}</div>
        <div class="tgtab__target">{{> molecules-epg-channel-list }}</div>
        <div class="tgtab__target">{{> molecules-epg-channel-list }}</div>
        <div class="tgtab__target">{{> molecules-epg-channel-list }}</div>
        <div class="tgtab__target">{{> molecules-epg-channel-list }}</div>
      </div>
    </div>
  </div>
  <!-- /tgtabs -->
</div>

