<div class="epg__channel-list">
  {{> molecules-epg-channel-item }}
  {{> molecules-epg-channel-item(active: true) }}
  {{> molecules-epg-channel-item }}
  {{> molecules-epg-channel-item }}
  {{> molecules-epg-channel-item }}
  {{> molecules-epg-channel-item }}
  {{> molecules-epg-channel-item }}
  {{> molecules-epg-channel-item }}
  {{> molecules-epg-channel-item }}
  {{> molecules-epg-channel-item }}
  {{> molecules-epg-channel-item }}
  {{> molecules-epg-channel-item }}
  {{> molecules-epg-channel-item }}
  {{> molecules-epg-channel-item }}
  {{> molecules-epg-channel-item }}
  {{> molecules-epg-channel-item }}
  {{> molecules-epg-channel-item }}
  {{> molecules-epg-channel-item }}
  {{> molecules-epg-channel-item }}
  {{> molecules-epg-channel-item }}
</div>