<div class="epg__list">
  {{> molecules-epg-section(title: Favourites)}}
  {{> molecules-epg-section(title: MediaCorp Channels)}}
  {{> molecules-epg-section(title: Free Channels)}}
  {{> molecules-epg-section(title: VIP Channels)}}
</div>