<div class="epg__item">
  <div class="epg__channel">
    <a href="#"><img src="{{img.epg-channel.src}}" alt=""></a>
    <div class="epg__favourite-holder">
      <a href="#"><i class="ti-favourite"></i> Favourite</a>
    </div>
  </div>
  <div class="epg__show-info">
    <div class="epg__mobile-actions">
      <a href="#" data-featherlight="#epg-more1"><i class="ti-ellipsis"></i></a>
      <div class="mobile__more" id="epg-more1">
        Tadaaaa!
      </div>
    </div>
    <h6 class="epg__title" data-dotdot="1">
      <a href="#">Program Title Lorem ipsum dolor sit amet</a>
    </h6>

    <div class="epg__meta">
      {{> atoms-meta-item-epg }}
    </div>

    <p class="epg__desc" data-dotdot="2">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptatem quae, itaque, eius accusantium facilis laborum velit quia fugiat dolorum blanditiis porro incidunt iusto ratione cumque, dicta nihil magnam ex.
    </p>
  </div>
  <div class="epg__action">
    <a href="#"><i class="ti-alarmclock-incircle"></i><span>Add</span><span>Reminder</span></a>
  </div>
  <div class="epg__action">
    <a href="#"><i class="ti-lightbulb-incircle"></i><span>Learn</span> <span>More</span></a>
  </div>
</div>