<!-- Navigation -->

{{> organisms-header }}
{{> organisms-primary-mega-menu }}
{{> molecules-ad-banner-block }}

{{> molecules-secondary-nav }}

<section class="wires">
  <div class="wrap">
    <div class="l-12">
      <div class="l-gi">
        {{> atoms-wireblock(wire-text: "microsite image<br>image", height: "height-400")}}
      </div>
    </div>
  </div>
</section>

<!-- 50-50 grid -->
<section class="wires">
  <div class="wrap">
    <div class="l-2up--6-6">
      <!-- Left -->    
      <div class="l-gi">
        <!-- Content Area Components--> 
        {{> atoms-wireblock(wire-text: "text description", height: "height-300")}}
      </div>
      <!-- Right -->
      <div class="l-gi">
        {{> atoms-wireblock(wire-text: "newest catchup",  height: "height-300")}} 
      </div>
    </div>
  </div>
</section>

<!-- 4-8 grid-->
<section class="wires">
  <div class = "wrap">
    <div class="l-2up--8-4">
      <!-- Content Area -->    
      <div class="l-gi">
        <!-- Content Area Components--> 
        {{> atoms-wireblock(wire-text: "social feed<br>masonry grid",  height: "height-300")}} 
      </div>
      <div class="l-gi">
        <!-- Content Area Components--> 
        {{> atoms-ad-300x250 }} 
      </div>
    </div>
  </div>
</section>


<section class = "wires">
  <div class = "wrap">
    <div class="l-2up--6-6">
      <!-- Content Area -->    
      <div class="l-gi">
        <!-- Content Area Components--> 
        {{> atoms-wireblock(wire-text: "featured photos<br>modified carousel",  height: "height-300") }} 
      </div>
      <div class="l-gi">
        <!-- Content Area Components--> 
        {{> atoms-wireblock(wire-text: "Cast<br>Slider row",  height: "height-300") }}
      </div>
    </div>
  </div>
</section>

<section class = "wires">
  <div class = "wrap">
    <div class="l-12">
      <!-- Content Area -->    
      <div class="l-gi">
        <!-- Content Area Components--> 
        {{> atoms-wireblock(wire-text: "sponsor row",  height: "height-300") }} 
      </div>
    </div>
  </div>
</section>


    </div>
  </div>
</section>