<ul class="tabs">
  <li class="tab" data-target="tab-1"><a class="is-active" href="#">Menu 1</a></li>
  <li class="tab" data-target="tab-2"><a href="#">Menu 2</a></li>
  <li class="tab" data-target="tab-3"><a href="#">Menu 3</a></li>
</ul>

<div class="tab-targets">
  <div class="tab-target is-active" data-tab="tab-1">
    <div class="l-2up--8-4">
      <div class="l-gi">
        {{> atoms-wireblock(wire-text: "tab inner item", height:"height-300")}}
      </div>
      <div class="l-gi">
        {{> atoms-wireblock(wire-text: "tab inner item", height:"height-300")}}
      </div>
    </div>
  </div>
  <div class="tab-target" data-tab="tab-2">
    <div class="l-3up">
      <div class="l-gi">
        {{> atoms-wireblock(wire-text: "tab2 inner item", height:"height-300")}}
      </div>
      <div class="l-gi">
        {{> atoms-wireblock(wire-text: "tab2 inner item", height:"height-300")}}
      </div>
      <div class="l-gi">
        {{> atoms-wireblock(wire-text: "tab2 inner item", height:"height-300")}}
      </div>
    </div>
  </div>
  <div class="tab-target" data-tab="tab-3">
    <div class="l-4up">
      <div class="l-gi">
        {{> atoms-wireblock(wire-text: "tab3 inner item", height:"height-300")}}
      </div>
      <div class="l-gi">
        {{> atoms-wireblock(wire-text: "tab3 inner item", height:"height-300")}}
      </div>
      <div class="l-gi">
        {{> atoms-wireblock(wire-text: "tab3 inner item", height:"height-300")}}
      </div>
      <div class="l-gi">
        {{> atoms-wireblock(wire-text: "tab3 inner item", height:"height-300")}}
      </div>
    </div>
  </div>
</div>