<!-- Navigation -->

{{> organisms-header }}
{{> organisms-primary-mega-menu }}
{{> molecules-ad-banner-block }}

{{> molecules-secondary-nav }}

<!-- 8-4 grid -->
<section class="wires">
  <div class="wrap">
    <div class="l-2up--8-4">
      <!-- Left -->    
      <div class="l-gi">
        <!-- Content Area Components--> 
        {{> atoms-wireblock(wire-text: "video player and description", height:"height-600")}}
      </div>
      <div class="l-gi">
      	{{> atoms-ad-300x250}}
      	{{> atoms-wireblock(wire-text: "one article or link to microsite", height: "height-100")}}
      </div>
    </div>
  </div>
</section>

<!-- full width-->
<section class="wires">
  <div class = "wrap">
    <div class="l-12">
      <!-- Content Area -->    
      <div class="l-gi">
        <!-- Content Area Components--> 
        <h2>Episode List</h2>
        {{> molecules-slider }}
      </div>
      <div class="l-gi">
      	<h2>Extras</h2>
      	{{> molecules-slider }}
      </div>
    </div>
  </div>
</section>

<!-- 3up grid-->
<section class="wires">
  <div class = "wrap">
    <div class="l-3up">
      <!-- Content Area -->    
      <div class="l-gi">
        <!-- Content Area Components--> 
        {{> atoms-wireblock(wire-text: "top shows this week<br>load more list", height:"height-300")}}
      </div>
      <div class="l-gi">
      	{{> atoms-wireblock(wire-text: "events<br>load more list", height:"height-300")}}
      </div>

      <div class="l-gi">
      	{{> atoms-wireblock(wire-text: "articles<br>load more list", height:"height-300")}}
      </div>    </div>
  </div>
</section>

<section>
  {{> atoms-wireblock(wire-text: "Footer")}} 
</section>
