<section class="section">
  <div class="wrap">
    <h1 class="section__title">Articles</h1>
    <a href="{{ url }}"class="view-more">View all</a>

    <div class="l-3up--feed">
      <div class="l-gi">{{> molecules-contest-block }}</div>
      <div >{{> molecules-image-block }}</div>
      <div class="l-gi">{{> molecules-contest-block }}</div>
      <div >{{> molecules-image-block }}</div>
      <div class="l-gi">{{> molecules-contest-block }}</div>
      <div >{{> molecules-ad-300x250-block }}</div>
    </div>

    <!-- <div class="slider">
      <ul class="slider__arrows">
        <li class="arrow arrow--left"><a href="#">Left</a></li>
        <li class="arrow arrow--right"><a href="#">Right</a></li>
      </ul>
      <div class="slider__wrap">
        <ul class="slider__content cf">
          <li class="slider__item">{{> molecules-image-block }}</li>
          <li class="slider__item">{{> molecules-image-block }}</li>
          <li class="slider__item ad">{{> molecules-ad-300x250-block }}</li>
          <li class="slider__item">{{> molecules-image-block }}</li>
          <li class="slider__item">{{> molecules-image-block }}</li>
          <li class="slider__item">{{> molecules-image-block }}</li>
          <li class="slider__item">{{> molecules-image-block }}</li>
          <li class="slider__item">{{> molecules-image-block }}</li>
          <li class="slider__item">{{> molecules-image-block }}</li>
        </ul>
      </div>
    </div> -->
  </div>
</section>