<div class="section">
  <div class="wrap">
    <h1 class="section__title">User Submissions</h1>
    <a href="{{ url }}" class="view-more">View all</a>
    <div class="l-2up">
      <div class="l-gi">
        <h2>‘Gonna Make it’ Crew Cut Photo Submission</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga veniam nemo quasi, laboriosam nihil accusamus vitae possimus et tempore soluta quia, non architecto necessitatibus animi, facilis quis voluptatum ratione! Ab.
        </p>
        <p>
          <strong>Last Submission: <span class="{{themeClass}}">18 Jul 2014 - 3 days left!</span></strong>
        </p>
        <a href="{{url}}" class="btn {{themeClass}}-bg">Participate Now
        </a>
        <div>
         <a href="{{ url }}"> view terms & conditions > </a>
       </div>
     </div>
     <div class="l-gi">
       <!-- <ul>
         <li class="l--3up"> {{> atoms-landscape-4x3 }}</li>
         <li class="l--3up"> {{> atoms-landscape-4x3 }}</li>
         <li class="l--3up"> {{> atoms-landscape-4x3 }}</li>
         <li class="l--3up"> {{> atoms-landscape-4x3 }}</li>
         <li class="l--3up"> {{> atoms-landscape-4x3 }}</li>
         <li class="l--3up"> {{> atoms-landscape-4x3 }}</li>
       </ul> -->
     </div>
   </div>
 </div>
</div>
