<div class="section section--intro">
  <div class="wrap">
    <div class="l-2up">
      <div class="l-gi">
        <h1>
          {{ microsite.title.chi }}
          <br>
          {{ microsite.title.eng }}
        </h1>
        <p>
          {{ microsite.title.excerpt }}
        </p>
        <a href="{{url}}" class="facebook btn btn--social"><i class="i-facebook"></i> Share</a>
        <a href="{{url}}" class="twitter btn btn--social"><i class="i-twitter"></i> Tweet</a>
      </div>
      <div class="l-gi">
        {{> molecules-image-video-block }}
      </div>
    </div>
  </div>
</div>
