<section class="section">
  <div class="wrap">
    <h1 class="section__title">Catchup TV</h1>
    <a href="{{ url }}"class="view-more">View all</a>
    <ul class="l-3up--feed">
      <div class="l-gi" >{{> molecules-image-video-block }}</div>
      <div class="l-gi" >{{> molecules-image-video-block }}</div>
      <div class="l-gi ad">{{> molecules-ad-300x250-block }}</div>
    </ul>
  </div>
</section>