<section class="section">
  <div class="wrap">
    <h1 class="section__title">Cast</h1>
    <a href="{{ url }}"class="view-more">View all</a>
    <div class="l-4up">
      <div class="l-gi">{{> molecules-cast-block }}</div>
      <div class="l-gi">{{> molecules-cast-block }}</div>
      <div class="l-gi">{{> molecules-cast-block }}</div>
      <div class="l-gi">{{> molecules-cast-block }}</div>
    </div>
  </div>
</section>