<section class="section section--contest">
  <div class="wrap">
    <h1 class="section__title">Contests</h1>
    <a href="{{ url }}"class="view-more">View all</a>
    <ul class="l-3up--feed">
      <div class="l-gi">{{> molecules-contest-block }}</div>
      <div class="l-gi">{{> molecules-contest-block }}</div>
      <div class="l-gi ad ad--contest">{{> molecules-ad-300x250-block }}</div>
    </ul>
  </div>
</section>