<div class="section">
  <div class="wrap">
    <h1 class="section__title">Events</h1>
    <div class="l-2up">
      <div class="l-gi">
        <h2>‘Gonna Make it’ Meet The Stars Session</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga veniam nemo quasi, laboriosam nihil accusamus vitae possimus et tempore soluta quia, non architecto necessitatibus animi, facilis quis voluptatum ratione! Ab.
        </p>
       {{> molecules-event-details-block }}
       <div class="btn {{themeClass}}-bg">Register Now</div>
      </div>
      <div class="l-gi">
        {{> molecules-image-video-block }}
      </div>
    </div>
  </div>
</div>
