<section class="section section--extras">
  <div class="wrap cf">
    <h1 class="section__title">Extras</h1>
    <a href="{{ url }}"class="view-more">View all</a>
    <div class="l-3-9">
      <div class="l-gi">
        <ul class="tabs">
          <li><a href="{{ url }}" class="active" >All (28)</a></li>
          <li><a href="{{ url }}">Webisodes (3)</a></li>
          <li><a href="{{ url }}">Behind the Scenes (4) </a></li>
          <li><a href="{{ url }}">Bloopers (2)</a></li>
          <li><a href="{{ url }}">Trailers (19)</a></li>
        </ul>
      </div>
      <div class="l-gi">
        <ul>
          <li>{{> molecules-image-video-block }}</li>
          <li>{{> molecules-image-video-block }}</li>
          <li>{{> molecules-image-video-block }}</li>
        </ul>
      </div>
    </div>
  </div>
</section>