<!-- ad skins -->
<a class="skin--left" style="background-image: url('{{img.skin-left.src}}')" href="{{url}}" >
</a>
<a class="skin--right" style="background-image: url('{{img.skin-right.src}}')" href="{{url}}" >
</a>
<!-- /end ad skins -->