<div class="microsite-img microsite-img__hero" style="background-image: url('{{img.microsite-hero.src}}');")>
  <!-- <img class="microsite-img" src="{{img.microsite-hero.src}}" alt="img.microsite-hero.alt"> -->
</div>
