<div class="microsite-img microsite-img__strip"
>
<img data-bottom-top="transform:translate3d(0px, -20%, 0px)"
data-top-bottom="transform:translate3d(0px, 20%, 0px)" src="{{img.microsite-strip.src}}" alt="">
</div>
