
<div class="page-wrap">
	<div class="wrap">
			<div class="flexStateList-wrap">
				<div id="flexStateList" class="withVideoPlayer">
					<div class="flexStateList-head">
						<span class="flexStateList-head-logo"></span>
						<span class="flexStateList-header-icon"></span><h2 class="flexStateList-header-title">COMING UP</h2>
						<span class="flexStateList-header-full-date">20 AUG 2017, WED</span>
					</div>

					<div class="flexStateList-list-wrap">
						<div class="flexStateList-foot">
							<a href="#">CLICK HERE FOR GAMES SCHEDULE</a>
						</div>
					</div>
					<div class="flexStateList-list-content-wrap">
						<ul class="flexStateList-list-content">
								<li class="flexStateList-list-item">
									<a class="flexStateList-cta" href="javascript:alert('insert here method or replace with url')">
										<span class="flexStateList-date">23 AUG</span>
										<h3 class="flexStateList-sport">AQUATICS <span class="flexStateList-mode">LIVE</span></h3>
										<span class="flexStateList-time">7:00PM</span>
										<h4 class="flexStateList-sport-style" class="flag-sg">MEN'S 100M BUTTERFLY</h4>
										<h5 class="flexStateList-round">QUARTERS FINALS</h5>
										<span class="flexStateList-play"></span>
									</a>
								</li>								
						</ul>
						
					</div>
					<div id="flexStateList-banner"><img src="" /></div>
				</div>

				<div class="is-video">
					<div id="SilverlightContainer" class="flexStateList-player embed-container"></div>
				</div>
			</div>
	</div>
</div>
