<div class="{{#card}} card {{/card}}">
  <div class="wireblock split-item {{height}}" data-split-index="{{s}} " style="width:{{width}}px; height:{{height}}px;">
    <h2>{{wire-text}}</h2>
  </div>
</div>
