<table class="tg-table">
	<thead>
		<tr>
			<th>Device Name</th>
			<th>Device UDID</th>
			<th>Activated On</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
	<tr>
		<td data-th="Device Name">iPhone 6s</td>
		<td data-th="Device UDID">0288f120-a70d-11e4-91c6-0002a5d5c51b</td>
		<td data-th="Activated On">13/10/2014</td>
		<td data-th="Action"><a href="#">Remove</a></td>
	</tr>
	<tr>
		<td data-th="Device Name">Samsung Note 3</td>
		<td data-th="Device UDID">0288f120-a70d-11e4-91c6-0002a5d5c51b</td>
		<td data-th="Activated On">13/10/2014</td>
		<td data-th="Action"><a href="#">Remove</a></td>
	</tr>
	<tr>
		<td data-th="Device Name">Sony XPeria Z</td>
		<td data-th="Device UDID">0288f120-a70d-11e4-91c6-0002a5d5c51b</td>
		<td data-th="Activated On">13/10/2014</td>
		<td data-th="Action"><a href="#">Remove</a></td>
	</tr>
	<tr>
		<td data-th="Device Name">iPad Air 2</td>
		<td data-th="Device UDID">0288f120-a70d-11e4-91c6-0002a5d5c51b</td>
		<td data-th="Activated On">13/10/2014</td>
		<td data-th="Action"><a href="#">Remove</a></td>
	</tr>
	</tbody>
</table>