<div class="wrap">
  <div class="component-holder card">
    <h5><img src="../../images/icons-tvchannel/C5_36x36.png" alt=""><a href="#"> {{slider-title}} <i class="ti-chevron-next"></i></a></h5>
    <div class="megaslider megaslider__single">
      {{> molecules-megaslider-item }}
      {{> molecules-megaslider-item }}
      {{> molecules-megaslider-item }}
      {{> molecules-megaslider-item }}
      {{> molecules-megaslider-item }}
      {{> molecules-megaslider-item }}
      {{> molecules-megaslider-item }}
      {{> molecules-megaslider-item }}
      {{> molecules-megaslider-item }}
      {{> molecules-megaslider-item }}
      {{> molecules-megaslider-item }}
      {{> molecules-megaslider-item }}
    </div>
  </div>
</div>