 <div class="megaslider-holder card">
    <h5 class="collapsible__title"><img src="../../images/icons-tvchannel/C5_36x36.png" alt=""><a href="#"> {{slider-title}} <i class="ti-chevron-next"></i></a></h5>
    <div class="megaslider megaslider__single">
      {{> molecules-megaslider-item }}
      {{> molecules-megaslider-item-nowplaying }}
      {{> molecules-megaslider-item }}
    </div>
  </div>
