<!-- Megaslider portrait with tabs -->

  <div class="megaslider-holder tgtabs card">
    <h5>{{slider-title}}</h5>
    <div class="tgtabs__wrap">
      <div class="tgtabs__row">
        <div class="tgtab">
          <a href="#">Item 1</a>
        </div>
        <div class="tgtab">
          <a href="#">Item 2</a>
        </div>
        <div class="tgtab">
          <a href="#">Item 3</a>
        </div>
        <div class="tgtab">
          <a href="#">Item 4</a>
        </div>
      </div>  
    </div>

    <div class="tgtab__targets">
      <div class="tgtab__target">
          <div class="megaslider megaslider__8--3up">
            {{> molecules-megaslider-item }}
            {{> molecules-megaslider-item }}
            {{> molecules-megaslider-item }}
            {{> molecules-megaslider-item }}
            {{> molecules-megaslider-item }}
            {{> molecules-megaslider-item }}
            {{> molecules-megaslider-item }}
            {{> molecules-megaslider-item }}
            {{> molecules-megaslider-item }}
          </div>
      </div>

      <div class="tgtab__target">
          <div class="megaslider megaslider__8--3up">
            {{> molecules-megaslider-item }}
            {{> molecules-megaslider-item }}
            {{> molecules-megaslider-item }}
            {{> molecules-megaslider-item }}
            {{> molecules-megaslider-item }}
            {{> molecules-megaslider-item }}
            {{> molecules-megaslider-item }}
            {{> molecules-megaslider-item }}
            {{> molecules-megaslider-item }}
          </div>
      </div>

      <div class="tgtab__target">
          <div class="megaslider megaslider__8--3up">
            {{> molecules-megaslider-item }}
            {{> molecules-megaslider-item }}
            {{> molecules-megaslider-item }}
            {{> molecules-megaslider-item }}
            {{> molecules-megaslider-item }}
            {{> molecules-megaslider-item }}
            {{> molecules-megaslider-item }}
            {{> molecules-megaslider-item }}
            {{> molecules-megaslider-item }}
          </div>
      </div>

      <div class="tgtab__target">
          <div class="megaslider megaslider__8--3up">
            {{> molecules-megaslider-item }}
            {{> molecules-megaslider-item }}
            {{> molecules-megaslider-item }}
            {{> molecules-megaslider-item }}
            {{> molecules-megaslider-item }}
            {{> molecules-megaslider-item }}
            {{> molecules-megaslider-item }}
            {{> molecules-megaslider-item }}
            {{> molecules-megaslider-item }}
          </div>
      </div>
    </div>
  </div>
<!-- end megalider -->