<div class="megaslider-holder card">
  <h5>{{slider-title}}</h5>
  <div class="megaslider__8--4up-portrait">
    {{> molecules-megaslider-item-portrait }}
    {{> molecules-megaslider-item-portrait }}
    {{> molecules-megaslider-item-portrait }}
    {{> molecules-megaslider-item-portrait }}
    {{> molecules-megaslider-item-portrait }}
    {{> molecules-megaslider-item-portrait }}
    {{> molecules-megaslider-item-portrait }}
    {{> molecules-megaslider-item-portrait }}
    {{> molecules-megaslider-item-portrait }}
  </div>
</div>
