<div class="megaslider-holder card">
  <h5>{{slider-title}}</h5>
  <div class="megaslider megaslider__4 card">
    {{> molecules-megaslider-item }}
    {{> molecules-megaslider-item }}
    {{> molecules-megaslider-item }}
  </div>
</div>
