<div class="wrap">
  <div class="megaslider-holder card">
    <h5><img src="../../images/icons-tvchannel/C5_36x36.png" alt=""><a href="#"> {{slider-title}} <i class="ti-chevron-next"></i></a></h5>
    <div class="megaslider card">
      {{> molecules-megaslider-item-featured }}
      {{> molecules-megaslider-four-items }}
      {{> molecules-megaslider-four-items }}
      {{> molecules-megaslider-four-items }}
      {{> molecules-megaslider-four-items }}
      {{> molecules-megaslider-four-items }}
    </div>
  </div>
</div>