<div class="wrap">
  <div class="megaslider-holder collapsible card {{class}}" data-collapse-till="medium">
    <h5 class="collapsible__title">
      <img src="../../images/icons-tvchannel/C5_36x36.png" alt="">
      <a href="#">{{slider-title}}</a><a href="#"><i class="ti-chevron-next"></i></a>
      <span class="collapsible__toggle">
        <i></i>
      </span>     
    </h5>
    <div class="collapsible__body">
      <div class="megaslider">
        {{> molecules-megaslider-item-featured }}
        {{> molecules-megaslider-three-items }}
        {{> molecules-megaslider-four-items }}
        {{> molecules-megaslider-four-items }}
        {{> molecules-megaslider-item-featured }}
        {{> molecules-megaslider-three-items }}
      </div>
    </div>
  </div>
</div>