<!-- megaslider with tabs -->
<div class="wrap">
  <div class="megaslider-holder tgtabs card">
    <div class="tgtabs__wrap">
      <div class="tgtabs__row">
        <div class="tgtab">
          <a href="#">Item 1</a>
        </div>
        <div class="tgtab">
          <a href="#">Item 2</a>
        </div>
        <div class="tgtab">
          <a href="#">Item 3</a>
        </div>
        <div class="tgtab">
          <a href="#">Item 4</a>
        </div>
      </div>  
    </div>

    <div class="tgtab__targets">
      <div class="tgtab__target">
        <div class="megaslider__single">
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
        </div>
      </div>

      <div class="tgtab__target">
        <div class="megaslider__single">
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
        </div>
      </div>

      <div class="tgtab__target">
        <div class="megaslider__single">
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
        </div>
      </div>

      <div class="tgtab__target">
        <div class="megaslider__single">
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
          {{> molecules-megaslider-item }}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- /end megaslider with tabs  -->
