<!-- megaslider collapsible with tabs -->
<div class="wrap">
  <div class="megaslider-holder tgtabs collapsible card" data-collapse-till="medium">
    <h5 class="collapsible__title">
      <img src="../../images/icons-tvchannel/C5_36x36.png" alt=""><a href="#"> {{slider-title}} <i class="ti-chevron-next"></i></a>
      <span class="collapsible__toggle">
        <i></i>
      </span>     
    </h5>
    <div class="collapsible__body">
      <div class="tgtabs__wrap">
        <div class="tgtabs__row">
          <div class="tgtab">
            <a href="#">Item 1</a>
          </div>
          <div class="tgtab">
            <a href="#">Item 2</a>
          </div>
          <div class="tgtab">
            <a href="#">Item 3</a>
          </div>
          <div class="tgtab">
            <a href="#">Item 4</a>
          </div>
        </div>  
      </div>

      <div class="tgtab__targets">
        <div class="tgtab__target">
          <div class="megaslider">
          {{> molecules-megaslider-item-featured }}
            {{> molecules-megaslider-four-items }}
            {{> molecules-megaslider-four-items }}
            {{> molecules-megaslider-four-items }}
            {{> molecules-megaslider-four-items }}
            {{> molecules-megaslider-four-items }}
          </div>
        </div>

        <div class="tgtab__target">
          <div class="megaslider">
          {{> molecules-megaslider-item-featured }}
            {{> molecules-megaslider-four-items }}
            {{> molecules-megaslider-four-items }}
            {{> molecules-megaslider-four-items }}
            {{> molecules-megaslider-four-items }}
            {{> molecules-megaslider-four-items }}
          </div>
        </div>

        <div class="tgtab__target">
          <div class="megaslider">
          {{> molecules-megaslider-item-featured }}
            {{> molecules-megaslider-four-items }}
            {{> molecules-megaslider-four-items }}
            {{> molecules-megaslider-four-items }}
            {{> molecules-megaslider-four-items }}
            {{> molecules-megaslider-four-items }}
          </div>
        </div>

        <div class="tgtab__target">
          <div class="megaslider">
          {{> molecules-megaslider-item-featured }}
            {{> molecules-megaslider-four-items }}
            {{> molecules-megaslider-four-items }}
            {{> molecules-megaslider-four-items }}
            {{> molecules-megaslider-four-items }}
            {{> molecules-megaslider-four-items }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>