<div class="megaslider__item megaslider__item--3">
    {{# megaSubTitle }}
        <h7>Column Title</h7>
    {{/ megaSubTitle }}
    {{> molecules-toggle-list-item(type: article, megaMeta: false) }} {{> molecules-toggle-list-item(type: event, megaMeta: false) }} {{> molecules-toggle-list-item(type: gallery, megaMeta: false) }}
</div>
