<div class="megaslider__item megaslider__item--4">
  {{> molecules-toggle-teaser-item(type: article) }}
  {{> molecules-toggle-teaser-item(type: gallery) }}
  {{> molecules-toggle-teaser-item(type: event) }}
  {{> molecules-toggle-teaser-item(type: video) }}
</div>
