

<section>
    <div class="wrap">
        
      <div class="l-2up--8-4">
        <div class="l-gi">
                

<div class="container-5597938">
    
            <div class="card" style="margin-top: 1.25rem;">
              <h5>Editorial Slider Fixed - 2 Rows (Article, Gallery, Series Object)</h5>
              <div class="details-text-content">
                <p>The sliders can be placed in an 8-4 container as well. Studio ID: 5598240, 5599668<br>
                Note: Do not configure the 'numberOfItems' local setting when placing sliders in 8-4 container, because this functionality is not supported.</p>

              </div>
            </div>

<div class="megaslider-holder card collapsible   " data-collapse-till="medium">
      <h5 class="collapsible__title">
        Slider 2 Rows<span class="collapsible__toggle"><i></i></span>
      </h5>

      <div class="collapsible__body">
        
<div class="megaslider   tg-megaslider  band-5598240">
      <div class="megaslider__item megaslider__item--featured">
          <div class="tg-teaser-item">
            

<a href="/en/yihang2/10-5315210">
  <div class="img-holder ">
    <picture class="init-delayed">
  
              <source media="(min-width: 760px)" srcset="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" data-srcset="/image/5315260/16x9/438/246/83d755dc816776df7f198dc2588b0730/pd/-%E6%AD%8C%E5%8F%B0%E6%98%9F%E5%8A%9B%E9%87%8F--1.jpg"></source>
              <img srcset="http://dev3.toggle.sg/image/5019084/16x9/140/79/31d7877dfeec41e54e9b7e9a83c8ae45/Ds/landscape-transparent-image.png" alt="" data-srcset="/image/5315260/16x9/438/246/83d755dc816776df7f198dc2588b0730/pd/-%E6%AD%8C%E5%8F%B0%E6%98%9F%E5%8A%9B%E9%87%8F--1.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/140/79/77583eaffa250bd37841365b2eb4e8f8/Li/landscape-default-image.jpg'">
            </picture>
          <div class="item__type">
      <i class="type-icon-gallery"></i>
    </div>

  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
        <a href="/en/yihang2/10-5315210">《歌台星力量》开战！ 陈建彬皓皓挤进10强</a>
      </h6>
    <div class="meta">
    <div class="meta__item">
      20 May 2015</div>
  </div>

  <div class="item__desc expander">
        <p>
          A《歌台星力量》邀请本地歌台红星刘玲玲与王雷担任常驻评审，众多著名歌台歌手也将在节目上同台较量！</p>
      </div>
    </div>

</div>
        </div>
      <div class="megaslider__item megaslider__item--4">
          <div class="tg-teaser-item">
            

<a href="http://dev3.toggle.sg/en/entertainment/localbuzz/article/xu-bin-crowned-toggle-5263236">
  <div class="img-holder ">
    <picture class="init-delayed">
              <source media="(min-width: 760px)" srcset="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" data-srcset="http://dev3.toggle.sg/image/5263232/16x9/236/133/7907dd99ff760b1b80a4b7d0e62b53ac/Qx/xu-bin-crowned-toggle-outstanding-duke.jpg"></source>
              <img srcset="http://dev3.toggle.sg/image/5019084/16x9/140/79/31d7877dfeec41e54e9b7e9a83c8ae45/Ds/landscape-transparent-image.png" alt="" data-srcset="http://dev3.toggle.sg/image/5263232/16x9/140/79/7907dd99ff760b1b80a4b7d0e62b53ac/dA/xu-bin-crowned-toggle-outstanding-duke.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/140/79/77583eaffa250bd37841365b2eb4e8f8/Li/landscape-default-image.jpg'">
            </picture>
          <div class="item__type">
        <i class="type-icon-article"></i>
    </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
        <a href="http://dev3.toggle.sg/en/entertainment/localbuzz/article/xu-bin-crowned-toggle-5263236">Xu Bin crowned Toggle Outstanding Duke ...</a>
      </h6>
    <div class="meta">
    <div class="meta__item">
      30 Apr 2015</div>
  </div>

  </div>
</div>
          <div class="tg-teaser-item">
            
<a href="/en/ufsamples/microsite/photos/1st-gallery-with-5-photos-5010696">
  <div class="img-holder ">
    <picture class="init-delayed">
              <source media="(min-width: 760px)" srcset="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" data-srcset="/image/5010714/16x9/236/133/c2db53a7b78e5cd850077144a2bc11a1/PC/carousel-photo-12-kids.jpg"></source>
              <img srcset="http://dev3.toggle.sg/image/5019084/16x9/140/79/31d7877dfeec41e54e9b7e9a83c8ae45/Ds/landscape-transparent-image.png" alt="" data-srcset="/image/5010714/16x9/140/79/c2db53a7b78e5cd850077144a2bc11a1/UB/carousel-photo-12-kids.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/140/79/77583eaffa250bd37841365b2eb4e8f8/Li/landscape-default-image.jpg'">
            </picture>
          <div class="item__type">
      <i class="type-icon-gallery"></i>
    </div>

  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
        <a href="/en/ufsamples/microsite/photos/1st-gallery-with-5-photos-5010696">1st Gallery with 5 photos</a>
      </h6>
    <div class="meta">
    <div class="meta__item">
      20 Nov 2015</div>
  </div>

  </div>
</div>
          <div class="tg-teaser-item">
            
<a href="/en/ufsamples/article-1-sed-ut-5010608">
  <div class="img-holder ">
    <picture class="init-delayed">
              <source media="(min-width: 760px)" srcset="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" data-srcset="/image/5256062/16x9/236/133/74aeb18d1deb5074aef6749f056f050e/ZZ/entertainment.jpg"></source>
              <img srcset="http://dev3.toggle.sg/image/5019084/16x9/140/79/31d7877dfeec41e54e9b7e9a83c8ae45/Ds/landscape-transparent-image.png" alt="" data-srcset="/image/5256062/16x9/140/79/74aeb18d1deb5074aef6749f056f050e/Mg/entertainment.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/140/79/77583eaffa250bd37841365b2eb4e8f8/Li/landscape-default-image.jpg'">
            </picture>
          <div class="item__type">
        <i class="type-icon-article"></i>
    </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
        <a href="/en/ufsamples/article-1-sed-ut-5010608">Article 1 Sed ut perspiciatis unde ...</a>
      </h6>
    <div class="meta">
    <div class="meta__item">
      17 Nov 2015</div>
  </div>

  </div>
</div>
          <div class="tg-teaser-item">
            
<a href="/en/yihang2/downloadable-link-5255648">
  <div class="img-holder ">
    <picture class="init-delayed">
              <source media="(min-width: 760px)" srcset="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" data-srcset="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg"></source>
              <img srcset="http://dev3.toggle.sg/image/5019084/16x9/140/79/31d7877dfeec41e54e9b7e9a83c8ae45/Ds/landscape-transparent-image.png" alt="" data-srcset="/image/5013002/16x9/140/79/cd291caf886175da0a66de4cef40ac31/Qe/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/140/79/77583eaffa250bd37841365b2eb4e8f8/Li/landscape-default-image.jpg'">
            </picture>
          <div class="item__type">
        <i class="type-icon-article"></i>
    </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
        <a href="/en/yihang2/downloadable-link-5255648">Downloadable Link Showcase</a>
      </h6>
    <div class="meta">
    <div class="meta__item">
      04 Nov 2015</div>
  </div>

  </div>
</div>
          </div>
          <div class="megaslider__item megaslider__item--4">
          <div class="tg-teaser-item">
            
<a href="/en/yihang2/showcase-for-richtext-5254798">
  <div class="img-holder ">
    <picture class="init-delayed">
              <source media="(min-width: 760px)" srcset="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" data-srcset="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg"></source>
              <img srcset="http://dev3.toggle.sg/image/5019084/16x9/140/79/31d7877dfeec41e54e9b7e9a83c8ae45/Ds/landscape-transparent-image.png" alt="" data-srcset="/image/5013002/16x9/140/79/cd291caf886175da0a66de4cef40ac31/Qe/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/140/79/77583eaffa250bd37841365b2eb4e8f8/Li/landscape-default-image.jpg'">
            </picture>
          <div class="item__type">
        <i class="type-icon-article"></i>
    </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
        <a href="/en/yihang2/showcase-for-richtext-5254798">Showcase for Richtext Editor in ...</a>
      </h6>
    <div class="meta">
    <div class="meta__item">
      04 Nov 2015</div>
  </div>

  </div>
</div>
          <div class="tg-teaser-item">
            
<a href="/en/ufsamples/gallery-8-with-embedded-5010698">
  <div class="img-holder ">
    <picture class="init-delayed">
              <source media="(min-width: 760px)" srcset="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" data-srcset="/image/5010676/16x9/236/133/c8058f6f7a3f2d7a70aa90591537d929/dL/carousel-photo-1.jpg"></source>
              <img srcset="http://dev3.toggle.sg/image/5019084/16x9/140/79/31d7877dfeec41e54e9b7e9a83c8ae45/Ds/landscape-transparent-image.png" alt="" data-srcset="/image/5010676/16x9/140/79/c8058f6f7a3f2d7a70aa90591537d929/bm/carousel-photo-1.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/140/79/77583eaffa250bd37841365b2eb4e8f8/Li/landscape-default-image.jpg'">
            </picture>
          <div class="item__type">
      <i class="type-icon-gallery"></i>
    </div>

  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
        <a href="/en/ufsamples/gallery-8-with-embedded-5010698">Gallery 8 - With embedded photos</a>
      </h6>
    <div class="meta">
    <div class="meta__item">
      22 Oct 2015</div>
  </div>

  </div>
</div>
          <div class="tg-teaser-item">
            
<a href="/en/ufsamples/09-gallery-nine-5574670">
  <div class="img-holder ">
    <picture class="init-delayed">
              <source media="(min-width: 760px)" srcset="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" data-srcset="/image/5254498/16x9/236/133/b71b5ffd8e94eb80083ab1411cd12a71/yl/weird-things-lonely-people-do---couple-shots.jpg"></source>
              <img srcset="http://dev3.toggle.sg/image/5019084/16x9/140/79/31d7877dfeec41e54e9b7e9a83c8ae45/Ds/landscape-transparent-image.png" alt="" data-srcset="/image/5254498/16x9/140/79/b71b5ffd8e94eb80083ab1411cd12a71/Mg/weird-things-lonely-people-do---couple-shots.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/140/79/77583eaffa250bd37841365b2eb4e8f8/Li/landscape-default-image.jpg'">
            </picture>
          <div class="item__type">
      <i class="type-icon-gallery"></i>
    </div>

  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
        <a href="/en/ufsamples/09-gallery-nine-5574670">09 - Gallery Nine</a>
      </h6>
    <div class="meta">
    <div class="meta__item">
      21 Oct 2015</div>
  </div>

  </div>
</div>
          <div class="tg-teaser-item">
            
<a href="/en/ufsamples/uf-do-not-update-5574576">
  <div class="img-holder ">
    <picture class="init-delayed">
              <source media="(min-width: 760px)" srcset="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" data-srcset="/image/5256260/16x9/236/133/293eb30c1a765656422cc9d6fd2c7be4/Qp/mountain.jpg"></source>
              <img srcset="http://dev3.toggle.sg/image/5019084/16x9/140/79/31d7877dfeec41e54e9b7e9a83c8ae45/Ds/landscape-transparent-image.png" alt="" data-srcset="/image/5256260/16x9/140/79/293eb30c1a765656422cc9d6fd2c7be4/bw/mountain.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/140/79/77583eaffa250bd37841365b2eb4e8f8/Li/landscape-default-image.jpg'">
            </picture>
          <div class="item__type">
        <i class="type-icon-article"></i>
    </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
        <a href="/en/ufsamples/uf-do-not-update-5574576">UF - Do Not Update</a>
      </h6>
    <div class="meta">
    <div class="meta__item">
      21 Oct 2015</div>
  </div>

  </div>
</div>
          </div>
          <div class="megaslider__item megaslider__item--4">
          <div class="tg-teaser-item">
            
<a href="/en/ufsamples/uf-with-updated-5574574">
  <div class="img-holder ">
    <picture class="init-delayed">
              <source media="(min-width: 760px)" srcset="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" data-srcset="/image/5256260/16x9/236/133/293eb30c1a765656422cc9d6fd2c7be4/Qp/mountain.jpg"></source>
              <img srcset="http://dev3.toggle.sg/image/5019084/16x9/140/79/31d7877dfeec41e54e9b7e9a83c8ae45/Ds/landscape-transparent-image.png" alt="" data-srcset="/image/5256260/16x9/140/79/293eb30c1a765656422cc9d6fd2c7be4/bw/mountain.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/140/79/77583eaffa250bd37841365b2eb4e8f8/Li/landscape-default-image.jpg'">
            </picture>
          <div class="item__type">
        <i class="type-icon-article"></i>
    </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
        <a href="/en/ufsamples/uf-with-updated-5574574">UF - With Updated</a>
      </h6>
    <div class="meta">
    <div class="meta__item">
      21 Oct 2015</div>
  </div>

  </div>
</div>
          <div class="tg-teaser-item">
            
<a href="/en/ufsamples/angelina-jolie-prefers-directing-to-acti-5253172">
  <div class="img-holder ">
    <picture class="init-delayed">
              <source media="(min-width: 760px)" srcset="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" data-srcset="http://dev3.toggle.sg/image/5265184/16x9/236/133/e23d6fda0c8812b55a446d412c28793a/Vi/201412261723-brange-jpg.jpg"></source>
              <img srcset="http://dev3.toggle.sg/image/5019084/16x9/140/79/31d7877dfeec41e54e9b7e9a83c8ae45/Ds/landscape-transparent-image.png" alt="" data-srcset="http://dev3.toggle.sg/image/5265184/16x9/140/79/e23d6fda0c8812b55a446d412c28793a/Ld/201412261723-brange-jpg.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/140/79/77583eaffa250bd37841365b2eb4e8f8/Li/landscape-default-image.jpg'">
            </picture>
          <div class="item__type">
        <i class="type-icon-article"></i>
    </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
        <a href="/en/ufsamples/angelina-jolie-prefers-directing-to-acti-5253172">Angelina Jolie prefers directing to ...</a>
      </h6>
    <div class="meta">
    <div class="meta__item">
      25 May 2015</div>
  </div>

  </div>
</div>
          <div class="tg-teaser-item">
            
<a href="/en/ufsamples/uf-gallery-01-5011302">
  <div class="img-holder ">
    <picture class="init-delayed">
              <source media="(min-width: 760px)" srcset="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" data-srcset="/image/5254498/16x9/236/133/b71b5ffd8e94eb80083ab1411cd12a71/yl/weird-things-lonely-people-do---couple-shots.jpg"></source>
              <img srcset="http://dev3.toggle.sg/image/5019084/16x9/140/79/31d7877dfeec41e54e9b7e9a83c8ae45/Ds/landscape-transparent-image.png" alt="" data-srcset="/image/5254498/16x9/140/79/b71b5ffd8e94eb80083ab1411cd12a71/Mg/weird-things-lonely-people-do---couple-shots.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/140/79/77583eaffa250bd37841365b2eb4e8f8/Li/landscape-default-image.jpg'">
            </picture>
          <div class="item__type">
      <i class="type-icon-gallery"></i>
    </div>

  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
        <a href="/en/ufsamples/uf-gallery-01-5011302">UF Gallery 01</a>
      </h6>
    <div class="meta">
    <div class="meta__item">
      30 Apr 2015</div>
  </div>

  </div>
</div>
          <div class="tg-teaser-item">
            
<a href="/en/ufsamples/britney-spears-receives-the-best-of-last-5253202">
  <div class="img-holder ">
    <picture class="init-delayed">
              <source media="(min-width: 760px)" srcset="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" data-srcset="http://dev3.toggle.sg/image/5251874/16x9/236/133/119cd5fc01647acadb33c96f24acd096/IP/britney-spears-receives-the-best-of-last-vegas-award---20150421090943.jpg"></source>
              <img srcset="http://dev3.toggle.sg/image/5019084/16x9/140/79/31d7877dfeec41e54e9b7e9a83c8ae45/Ds/landscape-transparent-image.png" alt="" data-srcset="http://dev3.toggle.sg/image/5251874/16x9/140/79/119cd5fc01647acadb33c96f24acd096/SK/britney-spears-receives-the-best-of-last-vegas-award---20150421090943.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/140/79/77583eaffa250bd37841365b2eb4e8f8/Li/landscape-default-image.jpg'">
            </picture>
          <div class="item__type">
        <i class="type-icon-article"></i>
    </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
        <a href="/en/ufsamples/britney-spears-receives-the-best-of-last-5253202">Britney Spears receives the Best Of ...</a>
      </h6>
    <div class="meta">
    <div class="meta__item">
      28 Apr 2015</div>
  </div>

  </div>
</div>
          </div>
          <div class="megaslider__item megaslider__item--4">
          <div class="tg-teaser-item">
            
<a href="/en/ufsamples/clean-bandit-sam-smith-and-fka-twigs-nom-5253206">
  <div class="img-holder ">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="http://dev3.toggle.sg/image/5251928/16x9/236/133/381a2d0f25a82d1739ff9f9825c4f728/Bu/clean-bandit--sam-smith-and-fka-twigs-nominated-for-the-ivor-novellos---20150421133651.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
          <div class="item__type">
        <i class="type-icon-article"></i>
    </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
        <a href="/en/ufsamples/clean-bandit-sam-smith-and-fka-twigs-nom-5253206">Clean Bandit, Sam Smith and FKA Twigs ...</a>
      </h6>
    <div class="meta">
    <div class="meta__item">
      21 Apr 2015</div>
  </div>

  </div>
</div>
          <div class="tg-teaser-item">
            
<a href="/en/ufsamples/ac-dc-drummer-phil-rudd-pleads-guilty-to-5253196">
  <div class="img-holder ">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5256062/16x9/236/133/74aeb18d1deb5074aef6749f056f050e/ZZ/entertainment.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
          <div class="item__type">
        <i class="type-icon-article"></i>
    </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
        <a href="/en/ufsamples/ac-dc-drummer-phil-rudd-pleads-guilty-to-5253196">AC/DC drummer Phil Rudd pleads guilty ...</a>
      </h6>
    <div class="meta">
    <div class="meta__item">
      21 Apr 2015</div>
  </div>

  </div>
</div>
          <div class="tg-teaser-item">
            
<a href="/en/ufsamples/adele-undecided-over-producer-for-new-al-5253210">
  <div class="img-holder ">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="http://dev3.toggle.sg/image/5251840/16x9/236/133/3d14dfe116b6dba76bd76b5258c648f3/bq/adele-undecided-over-producer-for-new-album---20150421071025.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
          <div class="item__type">
        <i class="type-icon-article"></i>
    </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
        <a href="/en/ufsamples/adele-undecided-over-producer-for-new-al-5253210">Adele undecided over producer for new ...</a>
      </h6>
    <div class="meta">
    <div class="meta__item">
      21 Apr 2015</div>
  </div>

  </div>
</div>
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/money-week-2014-catch-up/ep1/280739">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="http://dev3.toggle.sg/image/5241020/16x9/236/133/6f3986f3e5ac0b3ff4c0ed1613926170/Hv/money-week-2014--catch-up-----episode--1.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/money-week-2014-catch-up/ep1/280739">
      Money Week 2014 (Catch-Up) -  EP1</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-rating">
        <i class="ti-star"></i><span>5.0</span>
      </div>
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        30 Mins</span>
    </div>
  </div>

</div>

</div>
          </div>
          <div class="megaslider__item megaslider__item--4">
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/let-it-go-tif/ep1/321159">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="http://dev3.toggle.sg/image/5240892/16x9/236/133/b8756b4aec5420925f1698b1d7ff365f/in/let-it-go-%E5%88%86%E6%89%8B%E5%BF%AB%E4%B9%90--tif-----episode--1.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/let-it-go-tif/ep1/321159">
      Let It Go 分手快乐 (TIF) -  EP1</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-rating">
        <i class="ti-star"></i><span>4.1</span>
      </div>
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          <div class="tg-teaser-item">
            
<a href="/en/yihang2/test-gallery-2-5252046">
  <div class="img-holder ">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5008356/16x9/236/133/46b5789f8127a249f97b942ac9a22e0/gQ/slide-1.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
          <div class="item__type">
      <i class="type-icon-gallery"></i>
    </div>

  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
        <a href="/en/yihang2/test-gallery-2-5252046">Test Gallery 2</a>
      </h6>
    <div class="meta">
    <div class="meta__item">
      16 Mar 2015</div>
  </div>

  </div>
</div>
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep30/201992">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep30/201992">
      The Unbeatables II 双天至尊 II -  EP30</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep1/201929">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep1/201929">
      The Unbeatables II 双天至尊 II -  EP1</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-rating">
        <i class="ti-star"></i><span>4.0</span>
      </div>
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          </div>
          <div class="megaslider__item megaslider__item--4">
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep28/201990">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep28/201990">
      The Unbeatables II 双天至尊 II -  EP28</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep27/201989">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep27/201989">
      The Unbeatables II 双天至尊 II -  EP27</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep26/201988">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep26/201988">
      The Unbeatables II 双天至尊 II -  EP26</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep29/201991">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep29/201991">
      The Unbeatables II 双天至尊 II -  EP29</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          </div>
          <div class="megaslider__item megaslider__item--4">
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep24/201986">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep24/201986">
      The Unbeatables II 双天至尊 II -  EP24</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep25/201987">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep25/201987">
      The Unbeatables II 双天至尊 II -  EP25</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-rating">
        <i class="ti-star"></i><span>5.0</span>
      </div>
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep14/201980">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep14/201980">
      The Unbeatables II 双天至尊 II -  EP14</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-rating">
        <i class="ti-star"></i><span>5.0</span>
      </div>
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep16/201981">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep16/201981">
      The Unbeatables II 双天至尊 II -  EP16</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-rating">
        <i class="ti-star"></i><span>4.0</span>
      </div>
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          </div>
          <div class="megaslider__item megaslider__item--4">
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep20/201974">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep20/201974">
      The Unbeatables II 双天至尊 II -  EP20</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep21/201975">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep21/201975">
      The Unbeatables II 双天至尊 II -  EP21</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-rating">
        <i class="ti-star"></i><span>5.0</span>
      </div>
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep19/201985">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep19/201985">
      The Unbeatables II 双天至尊 II -  EP19</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-rating">
        <i class="ti-star"></i><span>5.0</span>
      </div>
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep18/201984">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep18/201984">
      The Unbeatables II 双天至尊 II -  EP18</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-rating">
        <i class="ti-star"></i><span>5.0</span>
      </div>
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          </div>
          </div>
</div>
    </div>

<div class="megaslider-holder card collapsible   " data-collapse-till="medium">
      <h5 class="collapsible__title">
        <img src="/blob/5199306/ae1148eeed4d26cd768cb943be2ca811/channelu-png-data.png" alt="">
        <a href="/en/tv/channelu">Slider 1 Row <i class="ti-chevron-next"></i></a>
          <span class="collapsible__toggle"><i></i></span>
      </h5>

      <div class="collapsible__body">
        
<div class="megaslider__single  tg-megaslider  band-5599668">
      <div class="megaslider__item megaslider__item--1">
          <div class="tg-teaser-item">
            
<a href="/en/yihang2/downloadable-link-5255648">
  <div class="img-holder ">
    <picture class="init-delayed">
              <source media="(min-width: 760px)" srcset="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" data-srcset="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg"></source>
              <img srcset="http://dev3.toggle.sg/image/5019084/16x9/140/79/31d7877dfeec41e54e9b7e9a83c8ae45/Ds/landscape-transparent-image.png" alt="" data-srcset="/image/5013002/16x9/140/79/cd291caf886175da0a66de4cef40ac31/Qe/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/140/79/77583eaffa250bd37841365b2eb4e8f8/Li/landscape-default-image.jpg'">
            </picture>
          <div class="item__type">
        <i class="type-icon-article"></i>
    </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
        <a href="/en/yihang2/downloadable-link-5255648">Downloadable Link Showcase</a>
      </h6>
    <div class="meta">
    <div class="meta__item">
      04 Nov 2015</div>
  </div>

  </div>
</div>
          </div>
          <div class="megaslider__item megaslider__item--1">
          <div class="tg-teaser-item">
            
<a href="/en/yihang2/showcase-for-richtext-5254798">
  <div class="img-holder ">
    <picture class="init-delayed">
              <!--[if IE 9]><video style="display: none;"><![endif]-->
              <source media="(min-width: 760px)" srcset="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" data-srcset="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg"></source>
              <!--[if IE 9]></video><![endif]-->
              <img srcset="http://dev3.toggle.sg/image/5019084/16x9/140/79/31d7877dfeec41e54e9b7e9a83c8ae45/Ds/landscape-transparent-image.png" alt="" data-srcset="/image/5013002/16x9/140/79/cd291caf886175da0a66de4cef40ac31/Qe/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/140/79/77583eaffa250bd37841365b2eb4e8f8/Li/landscape-default-image.jpg'">
            </picture>
          <div class="item__type">
        <i class="type-icon-article"></i>
    </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
        <a href="/en/yihang2/showcase-for-richtext-5254798">Showcase for Richtext Editor in ...</a>
      </h6>
    <div class="meta">
    <div class="meta__item">
      04 Nov 2015</div>
  </div>

  </div>
</div>
          </div>
          <div class="megaslider__item megaslider__item--1">
          <div class="tg-teaser-item">
            
<a href="/en/yihang2/10-5315210">
  <div class="img-holder ">
    <picture class="init-delayed">
              <source media="(min-width: 760px)" srcset="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" data-srcset="/image/5315260/16x9/236/133/83d755dc816776df7f198dc2588b0730/gY/-%E6%AD%8C%E5%8F%B0%E6%98%9F%E5%8A%9B%E9%87%8F--1.jpg"></source>
              <img srcset="http://dev3.toggle.sg/image/5019084/16x9/140/79/31d7877dfeec41e54e9b7e9a83c8ae45/Ds/landscape-transparent-image.png" alt="" data-srcset="/image/5315260/16x9/140/79/83d755dc816776df7f198dc2588b0730/kL/-%E6%AD%8C%E5%8F%B0%E6%98%9F%E5%8A%9B%E9%87%8F--1.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/140/79/77583eaffa250bd37841365b2eb4e8f8/Li/landscape-default-image.jpg'">
            </picture>
          <div class="item__type">
      <i class="type-icon-gallery"></i>
    </div>

  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
        <a href="/en/yihang2/10-5315210">《歌台星力量》开战！ 陈建彬皓皓挤进10强</a>
      </h6>
    <div class="meta">
    <div class="meta__item">
      20 May 2015</div>
  </div>

  </div>
</div>
          </div>
          <div class="megaslider__item megaslider__item--1">
          <div class="tg-teaser-item">
            
<a href="/en/yihang2/test-gallery-2-5252046">
  <div class="img-holder ">
    <picture class="init-delayed">
              <source media="(min-width: 760px)" srcset="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" data-srcset="/image/5008356/16x9/236/133/46b5789f8127a249f97b942ac9a22e0/gQ/slide-1.jpg"></source>
              <img srcset="http://dev3.toggle.sg/image/5019084/16x9/140/79/31d7877dfeec41e54e9b7e9a83c8ae45/Ds/landscape-transparent-image.png" alt="" data-srcset="/image/5008356/16x9/140/79/46b5789f8127a249f97b942ac9a22e0/Cb/slide-1.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/140/79/77583eaffa250bd37841365b2eb4e8f8/Li/landscape-default-image.jpg'">
            </picture>
          <div class="item__type">
      <i class="type-icon-gallery"></i>
    </div>

  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
        <a href="/en/yihang2/test-gallery-2-5252046">Test Gallery 2</a>
      </h6>
    <div class="meta">
    <div class="meta__item">
      16 Mar 2015</div>
  </div>

  </div>
</div>
          </div>
          <div class="megaslider__item megaslider__item--1">
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep30/201992">
  <div class="img-holder">
    <picture class="init-delayed">
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source media="(min-width: 760px)" srcset="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" data-srcset="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg"></source>
          <!--[if IE 9]></video><![endif]-->
          <img srcset="http://dev3.toggle.sg/image/5019084/16x9/140/79/31d7877dfeec41e54e9b7e9a83c8ae45/Ds/landscape-transparent-image.png" alt="" data-srcset="/image/5013002/16x9/140/79/cd291caf886175da0a66de4cef40ac31/Qe/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/140/79/77583eaffa250bd37841365b2eb4e8f8/Li/landscape-default-image.jpg'">
        </picture>
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep30/201992">
      The Unbeatables II 双天至尊 II -  EP30</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          </div>
          <div class="megaslider__item megaslider__item--1">
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep1/201929">
  <div class="img-holder">
    <picture class="init-delayed">
          <source media="(min-width: 760px)" srcset="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" data-srcset="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg"></source>
          <img srcset="http://dev3.toggle.sg/image/5019084/16x9/140/79/31d7877dfeec41e54e9b7e9a83c8ae45/Ds/landscape-transparent-image.png" alt="" data-srcset="/image/5013002/16x9/140/79/cd291caf886175da0a66de4cef40ac31/Qe/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/140/79/77583eaffa250bd37841365b2eb4e8f8/Li/landscape-default-image.jpg'">
        </picture>
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep1/201929">
      The Unbeatables II 双天至尊 II -  EP1</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-rating">
        <i class="ti-star"></i><span>4.0</span>
      </div>
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          </div>
          <div class="megaslider__item megaslider__item--1">
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep28/201990">
  <div class="img-holder">
    <picture class="init-delayed">
          <source media="(min-width: 760px)" srcset="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" data-srcset="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg"></source>
          <img srcset="http://dev3.toggle.sg/image/5019084/16x9/140/79/31d7877dfeec41e54e9b7e9a83c8ae45/Ds/landscape-transparent-image.png" alt="" data-srcset="/image/5013002/16x9/140/79/cd291caf886175da0a66de4cef40ac31/Qe/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/140/79/77583eaffa250bd37841365b2eb4e8f8/Li/landscape-default-image.jpg'">
        </picture>
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep28/201990">
      The Unbeatables II 双天至尊 II -  EP28</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          </div>
          <div class="megaslider__item megaslider__item--1">
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep27/201989">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep27/201989">
      The Unbeatables II 双天至尊 II -  EP27</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          </div>
          <div class="megaslider__item megaslider__item--1">
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep26/201988">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep26/201988">
      The Unbeatables II 双天至尊 II -  EP26</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          </div>
          <div class="megaslider__item megaslider__item--1">
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep29/201991">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep29/201991">
      The Unbeatables II 双天至尊 II -  EP29</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          </div>
          <div class="megaslider__item megaslider__item--1">
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep24/201986">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep24/201986">
      The Unbeatables II 双天至尊 II -  EP24</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          </div>
          <div class="megaslider__item megaslider__item--1">
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep25/201987">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep25/201987">
      The Unbeatables II 双天至尊 II -  EP25</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-rating">
        <i class="ti-star"></i><span>5.0</span>
      </div>
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          </div>
          <div class="megaslider__item megaslider__item--1">
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep14/201980">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep14/201980">
      The Unbeatables II 双天至尊 II -  EP14</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-rating">
        <i class="ti-star"></i><span>5.0</span>
      </div>
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          </div>
          <div class="megaslider__item megaslider__item--1">
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep16/201981">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep16/201981">
      The Unbeatables II 双天至尊 II -  EP16</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-rating">
        <i class="ti-star"></i><span>4.0</span>
      </div>
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          </div>
          <div class="megaslider__item megaslider__item--1">
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep20/201974">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep20/201974">
      The Unbeatables II 双天至尊 II -  EP20</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          </div>
          <div class="megaslider__item megaslider__item--1">
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep21/201975">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep21/201975">
      The Unbeatables II 双天至尊 II -  EP21</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-rating">
        <i class="ti-star"></i><span>5.0</span>
      </div>
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          </div>
          <div class="megaslider__item megaslider__item--1">
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep19/201985">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep19/201985">
      The Unbeatables II 双天至尊 II -  EP19</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-rating">
        <i class="ti-star"></i><span>5.0</span>
      </div>
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          </div>
          <div class="megaslider__item megaslider__item--1">
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep18/201984">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep18/201984">
      The Unbeatables II 双天至尊 II -  EP18</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-rating">
        <i class="ti-star"></i><span>5.0</span>
      </div>
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          </div>
          <div class="megaslider__item megaslider__item--1">
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep23/201983">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep23/201983">
      The Unbeatables II 双天至尊 II -  EP23</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-rating">
        <i class="ti-star"></i><span>5.0</span>
      </div>
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          </div>
          <div class="megaslider__item megaslider__item--1">
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep22/201976">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep22/201976">
      The Unbeatables II 双天至尊 II -  EP22</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          </div>
          <div class="megaslider__item megaslider__item--1">
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep17/201982">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep17/201982">
      The Unbeatables II 双天至尊 II -  EP17</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          </div>
          <div class="megaslider__item megaslider__item--1">
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep15/201973">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep15/201973">
      The Unbeatables II 双天至尊 II -  EP15</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-rating">
        <i class="ti-star"></i><span>5.0</span>
      </div>
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          </div>
          <div class="megaslider__item megaslider__item--1">
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep8/201968">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep8/201968">
      The Unbeatables II 双天至尊 II -  EP8</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-rating">
        <i class="ti-star"></i><span>5.0</span>
      </div>
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          </div>
          <div class="megaslider__item megaslider__item--1">
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep13/201979">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep13/201979">
      The Unbeatables II 双天至尊 II -  EP13</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          </div>
          <div class="megaslider__item megaslider__item--1">
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep11/201971">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep11/201971">
      The Unbeatables II 双天至尊 II -  EP11</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          </div>
          <div class="megaslider__item megaslider__item--1">
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep10/201970">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep10/201970">
      The Unbeatables II 双天至尊 II -  EP10</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-rating">
        <i class="ti-star"></i><span>4.0</span>
      </div>
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          </div>
          <div class="megaslider__item megaslider__item--1">
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep6/201967">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep6/201967">
      The Unbeatables II 双天至尊 II -  EP6</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-rating">
        <i class="ti-star"></i><span>5.0</span>
      </div>
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          </div>
          <div class="megaslider__item megaslider__item--1">
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep12/201972">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep12/201972">
      The Unbeatables II 双天至尊 II -  EP12</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-rating">
        <i class="ti-star"></i><span>5.0</span>
      </div>
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          </div>
          <div class="megaslider__item megaslider__item--1">
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep7/201978">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep7/201978">
      The Unbeatables II 双天至尊 II -  EP7</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          </div>
          <div class="megaslider__item megaslider__item--1">
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep9/201969">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep9/201969">
      The Unbeatables II 双天至尊 II -  EP9</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-rating">
        <i class="ti-star"></i><span>5.0</span>
      </div>
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          </div>
          <div class="megaslider__item megaslider__item--1">
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep5/201977">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep5/201977">
      The Unbeatables II 双天至尊 II -  EP5</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          </div>
          <div class="megaslider__item megaslider__item--1">
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep2/201964">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="http://dev3.toggle.sg/image/5171098/16x9/236/133/48f9dc0830b079d88712c9b03afcd293/hJ/the-unbeatables-ii-%E5%8F%8C%E5%A4%A9%E8%87%B3%E5%B0%8A-ii-ep2-box-cover-mcbc1107261019030817.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep2/201964">
      The Unbeatables II 双天至尊 II -  EP2</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-rating">
        <i class="ti-star"></i><span>2.3</span>
      </div>
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          </div>
          <div class="megaslider__item megaslider__item--1">
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep3/201965">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep3/201965">
      The Unbeatables II 双天至尊 II -  EP3</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-rating">
        <i class="ti-star"></i><span>3.5</span>
      </div>
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          </div>
          <div class="megaslider__item megaslider__item--1">
          <div class="tg-teaser-item">
            
<a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep4/201966">
  <div class="img-holder">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5013002/16x9/236/133/cd291caf886175da0a66de4cef40ac31/Zn/toggle-default-thumbnail.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
      <div class="item__type">
        <i class="type-icon-video"></i>
      </div>
    <div class="item__tags">
      <div class="tag vip subscribe"></div>
      </div>
  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
    <a href="http://dev3.toggle.sg/en/video/series/the-unbeatables-ii-ii/ep4/201966">
      The Unbeatables II 双天至尊 II -  EP4</a>
  </h6>

  <div class="meta">
    <div class="meta__item tg-rating">
        <i class="ti-star"></i><span>4.0</span>
      </div>
    <div class="meta__item tg-time">
      <i class="ti-clock"></i>
      <span>
        46 Mins</span>
    </div>
  </div>

</div>

</div>
          </div>
          <div class="megaslider__item megaslider__item--1">
          <div class="tg-teaser-item">
            
<a href="/en/yihang2/test-gallery-5244804">
  <div class="img-holder ">
    <img src="http://dev3.toggle.sg/image/5019084/16x9/236/133/31d7877dfeec41e54e9b7e9a83c8ae45/QF/landscape-transparent-image.png" class="delayed" data-src="/image/5245416/16x9/236/133/c3c0779b33815acce79913f35343577/ZU/air-mater.jpg" onerror="this.onerror=''; this.src='http://dev3.toggle.sg/image/5019088/16x9/236/133/77583eaffa250bd37841365b2eb4e8f8/VX/landscape-default-image.jpg'" alt="">
          <div class="item__type">
      <i class="type-icon-gallery"></i>
    </div>

  </div>
</a>

<div class="item__info">
  <h6 class="item__title" titlelength="40">
        <a href="/en/yihang2/test-gallery-5244804">Test Gallery</a>
      </h6>
    <div class="meta">
    <div class="meta__item">
      16 Mar 2015</div>
  </div>

  </div>
</div>
          </div>
          </div>
</div>
    </div>
</div>
<div class="tg-content-grid" data-content-grid-type="2">
    <div class="l-content-grid">
      <div class="l-gi">
        <div class="split-insert" data-split-index="0"></div>
      </div>
      <div class="l-gi">
        <div class="split-insert" data-split-index="1"></div>
      </div>
      </div>
  </div>
</div>
        <div class="l-gi">
                
</div>
        </div>
</div>
</section>