<div class="wrap">
    <div class="megaslider-holder elsewhere card">
        <h5>
        <a href="#">Elsewhere in Mediacorp</a><a href="#"><i class="ti-chevron-next"></i></a>
      </h5>
        <div class="megaslider-elsewhere">
            {{> molecules-megaslider-three-items_improved(megaSubTitle: true) }} {{> molecules-megaslider-three-items_improved(megaSubTitle: true) }} {{> molecules-megaslider-three-items_improved(megaSubTitle: true) }}
        </div>
    </div>
</div>
