<div class="megaslider__item megaslider__item--3">
    {{# megaSubTitle }}
        <h7>Column Title</h7>
    {{/ megaSubTitle }}
    <div class="tg-list-item">
        <a href="http://entertainment.toggle.sg/en/hallyubuzz/article/snsd-s-taeyeon-to-perform-first-comeback-stage-on-music-bank-7479120">
            <div class="img-holder img-portrait"><img src="http://entertainment.toggle.sg/image/7479118/9x16/61/108/f1e8993ffac1f6418eac8a52a7fbda8d/gK/snsd-s-taeyeon-to-perform-first-comeback-stage-on-------20170303140319201.png" alt="">
                <div class="item__type">
                    <i class="type-icon-article"></i>
                </div>
            </div>
        </a>
        <div class="item__info">
            <h6 class="item__title ">
				<a href="http://entertainment.toggle.sg/en/hallyubuzz/article/snsd-s-taeyeon-to-perform-first-comeback-stage-on-music-bank-7479120">SNSD′s Taeyeon to Perform First Comeback Stage on ′Music Bank′</a>
			</h6>
        </div>
    </div>
    <div class="tg-list-item">
        <a href="http://entertainment.toggle.sg/en/asianbuzz/article/ruby-lin-returns-to-work-after-confinement-7477996">
            <div class="img-holder "><img src="http://entertainment.toggle.sg/image/7477992/16x9/320/180/beea82c01e0b906e974be50fe6a5c003/Fc/ruby.jpg" alt="">
                <div class="item__type">
                    <i class="type-icon-article"></i>
                </div>
            </div>
        </a>
        <div class="item__info">
            <h6 class="item__title ">
    			<a href="http://entertainment.toggle.sg/en/asianbuzz/article/ruby-lin-returns-to-work-after-confinement-7477996">Ruby Lin returns to work after confinement</a>
  			</h6>
        </div>
    </div>
    <div class="tg-list-item">
        <a href="http://entertainment.toggle.sg/en/hallyubuzz/article/super-junior-leeteuk-pleads-for-fans-to-spare-him-7477696">
            <div class="img-holder "><img src="http://entertainment.toggle.sg/image/7477688/16x9/320/180/fca4c21125f6ec2682141b0920c3ad6b/Qc/suju.jpg" alt="">
                <div class="item__type">
                    <i class="type-icon-article"></i>
                </div>
            </div>
        </a>
        <div class="item__info">
            <h6 class="item__title ">
    			<a href="http://entertainment.toggle.sg/en/hallyubuzz/article/super-junior-leeteuk-pleads-for-fans-to-spare-him-7477696">Super Junior Leeteuk pleads for fans to spare him</a>
  			</h6>
        </div>
    </div>
</div>
