<section class="section__intro">
  <div class="wrap">
    <div class="l-2up">
      <div class="l-gi">
        <h1 class="section__title">小小传奇</h1>
        <h1 class="section__title">Gonna Make It</h1>
        <p>
          Su Xiao Xiao was born in a single-parent family. After giving birth to her at 18 years old, her mother abandoned her in the care of her maternal grandparents.
        </p>
        <a href="{{url}}" class="facebook btn btn--social"><i class="i-facebook"></i> Share</a>
        <a href="{{url}}" class="twitter btn btn--social"><i class="i-twitter"></i> Tweet</a>
      </div>
    </div>
    <div class="l-gi">
      {{> atoms-landscape-4x3}}
    </div>
  </div>
</section>