<div class="contentwrap">
  <div class="row">

    <article id="content" class="dt-grid-80">
      <h1 class="title-lg clearfix">On Now</h1>
      <figure class="dt-grid-40"><img src="{{img.avatar.src}}" alt=""></figure>
      <div class="desc">
        <a href="#" class="toggler"><i id="icons" class="fa fa-chevron-down"></i></a>
        <header class="headgroup">
          <h5 class="title-sm">Title of show</h5>
          <span class="time">7.00pm - 9.00pm</span>
        </header>
        <p class="content-toggle">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt 
          ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci 
          tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum 
          iriure dolor in hendrerit in vulputate velit esse molestie consequat, 
        </p>
      </div>
    </article> <!-- //content -->

    <aside id="sidebar" class="dt-grid-40">
      <h2 class="title-aside">Next</h2>
      <article class="showside">
        <figure class="dt-grid-40"><img src="{{img.avatar.src}}" alt=""></figure>
        <div class="desc">
          <header class="headgroup">
            <h5 class="title-sm">Long Title of show xxx</h5>
            <span class="time">7.00pm - 9.00pm</span>
          </header>
        </div>
        <div class="clearfix"></div>
      </article> <!-- //showside -->
      <a href="#" class="link-side">Full TV Guide</a>
    </aside> <!-- //sidebar -->

  </div>
</div>
</div><!-- //main -->
