<div class="l-fc gc {{#card}} card {{/card}} article-event">
  <img class="articl-event__img" src="../../images/tmp/event-main.jpg" />
  <ul class="article-event__meta">
    <li>
      <label for="date">date</label>
      <time>11/12/2014 - 12/3/2015</time>
    </li>
    <li>
      <label for="time">Time</label>
      <time>2-10pm every day</time>
    </li>
    <li>
      <label for="venue">Venue</label>
      <address>Mediacorp Studios</address>
    </li>
    <li>
      <label for="price">Ticket Price</label>
      <p>$24.00</p>
    </li>
    <li>
      <label for="price">Form downloads</label>
      <p><a href="#">Indemnity Form</a>, <a href="#">Sign up Form</a></p>
    </li>
  </ul>
  <div class="split-insert" data-split-index="0"></div>
  <!-- this is a html fragment / free form area using WYSIWYG -->
  <p>Don’t want to miss the opportunity to have a photo-op with Jiang Yu Heng &amp; at the same time enjoy his last concert?</p>
  <p>Just tell us why you deserve tickets to this concert in 20 words or less! Only 3 winners will be selected!</p>
  <p>Channel 8 is proud to be the Official TV Station to "[Jiang Yu Heng 2014 Farewell Singapore]!</p>
  <p><b>Please submit your answer together with your Name, NRIC, Contact Number &amp; address &amp; email to: promo8@mediacorp.com.sg</b></p>
  <p>Notes:
    <ol>
      <li>No Multiple Entries are allowed.</li>
      <li>Winners will be notified via E-MAIL by 15 Oct 2014, Wednesday or earlier.</li>
      <li>No further correspondence will be entertained.</li>
      <li>Tickets will not be sent by post.</li>
      <li>The winner will have to be there personally on 18 Oct 2014 and it’s non-transferable.</li>
    </ol>
  </p>
</div>